{#
//    ----------------------------------------
//      Color field
//    ----------------------------------------
#}
<div class="colorField" style="background: {{entry[col.handle] | default('transparent')}}"></div>