{exp:channel:entries disable="member_data|category_fields|pagination" dynamic="no" cache="no" refresh="60" entry_id="{embed:ids}" status="published"}
<li class="column large-4 size-small">
	<div class="listing-images"><a href="{url_title_path='brokerage/fleet'}">{brokerage_main_image}<span style="background-image: url('{image:url}')"></span>{/brokerage_main_image}</a></div>
	<div class="listing-content">
		<table class="table listing-table feature-col">
			<tbody>
				<tr><td class="title" colspan='2'><a href="{url_title_path='brokerage/fleet'}"><span>{brokerage_model} </span>// {title}</a></td></tr>
				<tr>
					<td>Located: <span>{brokerage_location}</span></td>
					<td>Year: <span>{brokerage_year_built}</span></td>
				</tr>
				<tr>
					<td>Price: <span>{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span></span></td>
					<td>Status: <span>{brokerage_status}</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	{share_buttons}
</li>
{/exp:channel:entries}