{exp:channel:entries disable="member_data|category_fields|pagination" dynamic="no" cache="yes" refresh="60" entry_id="{embed:ids}" status="published"}
<li class="column small-12 medium-6 large-4 size-small">
	<div data-yachtid="{entry_id}" data-yachtsection="brokerage" class="yacht-list-item">
		<a href="{url_title_path='brokerage/fleet'}">
			<div style="background-image:url('{brokerage_main_image}{image:url:small}{/brokerage_main_image}');" class="yacht-listing-photo"></div>
			<div class="yacht-listing-title">
				<span class="yacht-list-modal">{brokerage_model}</span><span class="yacht-list-name double-slash">{title}</span>
			</div>
		</a>
		<div class="listing-content">
			<table class="table listing-table feature-col">
				<tbody>
					<tr>
						<td>Located: <span>{brokerage_location}</span></td>
						<td>Year: <span>{brokerage_year_built}</span></td>
					</tr>
					<tr>
						<td>Price: <span>{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span></span></td>
						<td>Status: <span>{brokerage_status}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		{share_buttons}
	</div>
</li>
{/exp:channel:entries}