<div id="brokerage-filters" class="filters">
	<div class="row row-pad">
		<div class="large-offset-1 large-10 end">
			<form action="{path='brokerage/fleet'}">
			<div class="filter-dropdown">
				<select id="filter-model" tabindex="-1" aria-hidden="true">
					<option name="model" value="">All models</option>
					{exp:query sql="SELECT DISTINCT field_id_24 AS model FROM exp_channel_data WHERE channel_id=1 AND field_id_24 != '---' ORDER BY field_id_24 ASC"}
						<option value="{model}">{model}</option>
					{/exp:query}
				</select>
			</div>
			<div class="filter-dropdown">
				<select name="price" id="filter-price" tabindex="-1" aria-hidden="true">
					<option value="">Any Price</option>
					<option value="0-250000">Under £250,000</option>
					<option value="250000-500000">£250,000 - £500,000</option>
					<option value="500000-1000000">£500,000 - £1,000,000</option>
					<option value="1000000-1500000">£1,000,000 - £1,500,000</option>
					<option value="1500000-2000000">£1,500,000 - £2,000,000</option>
					<option value="2000000-0">Over £2,000,000</option>
				</select>
			</div>
			<div tabindex="-1" aria-hidden="true" class="filter-dropdown">
				<select name="location" id="filter-location">
					<option value="">Any location</option>
					{exp:query sql="SELECT DISTINCT field_id_4 AS location FROM exp_channel_data WHERE channel_id=1 ORDER BY field_id_4 ASC"}
						<option value="{location}">{location}</option>
					{/exp:query}
				</select>
			</div>
			<div tabindex="-1" aria-hidden="true" class="filter-dropdown">
				<select id="filter-status">
					<option name="status" value="">Any status</option>
					{exp:query sql="SELECT DISTINCT field_id_9 AS status FROM exp_channel_data WHERE channel_id=1 ORDER BY field_id_9 ASC"}
						<option value="{status}">{status}</option>
					{/exp:query}
				</select>
			</div><a id="submit" href="#" class="button">Search</a>
			</form>
		</div>
	</div>
</div>