<section class="hero after-nav">
	
</section>

<section class="brokerage-fleet">
	<div class="banner">Brokerage Fleet</div>

	<div class="row row-pad content">
		<ul>
			{exp:channel:entries sort="asc"}
			<li class="column {if brokerage_listing_size == 'Large'}large-12{if:elseif brokerage_listing_size == 'Medium'}large-6{if:elseif brokerage_listing_size == 'Small'}large-4{/if}{if count == total_results} end{/if}">
				<div class="listing-images">
					<a href="{url_title_path='brokerage'}">
						{brokerage_listing_images}
						<span style="background-image:url('{image:url}');"></span>
						{/brokerage_listing_images}
					</a>
				</div>
				<div class="listing-content">
					<table class="table listing-table{if brokerage_feature_text != ""} feature-col{/if}">
						<tbody>
							<tr>
								<td class="title" colspan="{if brokerage_feature_text != ""}3{if:else}2{/if}"><a href="{url_title_path='brokerage'}">{brokerage_model} <span>// {title}</span></a></td>
							</tr>
							<tr>
								<td>Located: <span>{brokerage_location}</span></td>
								<td>Year Built: <span>{brokerage_year_built}</span></td>
								{if brokerage_feature_text != ""}
								<td rowspan="2" class="highlight">{brokerage_feature_text}</td>
								{/if}
							</tr>
							<tr>
								<td>Price: <span>{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span></span></td>
								<td>Status: <span>{brokerage_status}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				{share_buttons}
			</li>
			{/exp:channel:entries}
		</ul>
	</div>
</section>