{embed="site/.header" snap_to=".hero #global-page-filters" snap_offset="55"}

<section style="background-image: url('http://oysteryachts.interstateteam.com/images/static/brokerage_header.jpg')" class="hero after-nav global-page-hero global-page-hero--small">
	{back_button}
	
	{embed="brokerage/.filters"}
</section>

<section class="page-fleet brokerage-fleet">
	<div class="banner">Brokerage Fleet</div>
	<div class="row row-pad content">
		<div id="yacht-grid" class="row">
			<ul class="list-entrance">
				{exp:channel:entries set="brokerage" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" search:brokerage_listing_size="=Large" orderby="brokerage_status_changed" sort="desc"}
				<li class="column large-12 size-large{embed="brokerage/.filter_hide" model="{brokerage_model}" price="{brokerage_price}" location="{brokerage_location}" status="{brokerage_status}"}" data-model="{brokerage_model}" data-price="{brokerage_price}" data-location="{brokerage_location}" data-status="{brokerage_status}">
					<div data-yachtid="{entry_id}" data-yachttype="brokerage" class="yacht-list-item<?php if (time() - (int) '{brokerage_status_changed}' < 60*60*24*30): ?> updated-listing<?php endif; ?>">
						<a href="{url_title_path='brokerage/fleet'}">
							<div class="listing-images">

								{brokerage_listing_images}
								<span style="background-image:url('{image:url}');"{if image:count == 1} class="yacht-listing-photo"{/if}></span>
								{/brokerage_listing_images}
		
							</div>
							<div class="yacht-listing-title">
								<span class="yacht-list-modal">{brokerage_model}</span>
								<span class="yacht-list-name double-slash">{title}</span>
							</div>
						</a>
					
						<div class="listing-content">
							<table class="table listing-table{if brokerage_feature_text != ""} feature-col{/if}">
								<tbody>
									<tr>
										<td>Located: <span>{brokerage_location}</span></td>
										<td>Year Built: <span>{brokerage_year_built}</span></td>
										{if brokerage_feature_text != ""}
										<td rowspan="2" class="highlight">{brokerage_feature_text}</td>
										{/if}
									</tr>
									<tr>
										<td>Price: <span>{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span></span></td>
										<td>Status: <span>{brokerage_status}</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						{share_buttons}
					</div>
				</li>
				{/exp:channel:entries}
			</ul>
			<ul class="list-entrance">
				{exp:channel:entries set="brokerage" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" search:brokerage_listing_size="=Medium" orderby="brokerage_status_changed" sort="desc"}
				<li class="column large-6 size-medium{embed="brokerage/.filter_hide" model="{brokerage_model}" price="{brokerage_price}" location="{brokerage_location}" status="{brokerage_status}"}{if count == total_results} end{/if}" data-model="{brokerage_model}" data-price="{brokerage_price}" data-location="{brokerage_location}" data-status="{brokerage_status}">
					<div data-yachtid="{entry_id}" data-yachttype="brokerage" class="yacht-list-item<?php if (time() - (int) '{brokerage_status_changed}' < 60*60*24*30): ?> updated-listing<?php endif; ?>">
						<a href="{url_title_path='brokerage/fleet'}">
							<div class="listing-images">
								
								{brokerage_main_image}
								<span style="background-image:url('{image:url}');" class="yacht-listing-photo"></span>
								{/brokerage_main_image}

							</div>
							<div class="yacht-listing-title">
								<span class="yacht-list-modal">{brokerage_model}</span>
								<span class="yacht-list-name double-slash">{title}</span>
							</div>
						</a>
						<div class="listing-content">
							<table class="table listing-table{if brokerage_feature_text != ""} feature-col{/if}">
								<tbody>
									<tr>
										<td>Located: <span>{brokerage_location}</span></td>
										<td>Year Built: <span>{brokerage_year_built}</span></td>
										{if brokerage_feature_text != ""}
										<td rowspan="2" class="highlight">{brokerage_feature_text}</td>
										{/if}
									</tr>
									<tr>
										<td>Price: <span>{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span></span></td>
										<td>Status: <span>{brokerage_status}</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						{share_buttons}
					</div>
				</li>
				{/exp:channel:entries}
			</ul>
			<ul class="list-entrance">
				{exp:channel:entries set="brokerage" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" search:brokerage_listing_size="=Small" orderby="brokerage_status_changed" sort="desc"}
				<li class="column large-4 size-small{embed="brokerage/.filter_hide" model="{brokerage_model}" price="{brokerage_price}" location="{brokerage_location}" status="{brokerage_status}"}{if count == total_results} end{/if}" data-model="{brokerage_model}" data-price="{brokerage_price}" data-location="{brokerage_location}" data-status="{brokerage_status}">
					<div data-yachtid="{entry_id}" data-yachttype="brokerage" class="yacht-list-item<?php if (time() - (int) '{brokerage_status_changed}' < 60*60*24*30): ?> updated-listing<?php endif; ?>">
						<a href="{url_title_path='brokerage/fleet'}">
							<div class="listing-images">
							
								{brokerage_main_image}
								<span style="background-image:url('{image:url}');" class="yacht-listing-photo"></span>
								{/brokerage_main_image}

							</div>
							<div class="yacht-listing-title">
								<span class="yacht-list-modal">{brokerage_model}</span>
								<span class="yacht-list-name double-slash">{title}</span>
							</div>
						</a>
						<div class="listing-content">
							<table class="table listing-table{if brokerage_feature_text != ""} feature-col{/if}">
								<tbody>
									<tr>
										<td>Located: <span>{brokerage_location}</span></td>
										<td>Year Built: <span>{brokerage_year_built}</span></td>
										{if brokerage_feature_text != ""}
										<td rowspan="2" class="highlight">{brokerage_feature_text}</td>
										{/if}
									</tr>
									<tr>
										<td>Price: <span>{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span></span></td>
										<td>Status: <span>{brokerage_status}</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						{share_buttons}
					</div>
				</li>
				{/exp:channel:entries}
			</ul>
		</div>
	</div>
</section>

{footer}