{exp:channel:entries channel="brokerage_landing" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" limit="1"}
{embed="site/.header" page_title="Brokerage Fleet" entry_id="{entry_id}" snap_to=".hero #global-page-filters" snap_offset="55"}
{/exp:channel:entries}
<section style="background-image: url('/images/static/brokerage_header.jpg')" class="hero after-nav global-page-hero global-page-hero--small">
	{back_button}
	
	{embed="brokerage/.filters"}
</section>
<section class="page-fleet brokerage-fleet global-padding-top-only--small">
	<div class="banner">Brokerage Fleet</div>
	<div class="row row-pad content global-padding-top-only--small">
		<div id="yacht-grid" class="row">
			<ul>
				{exp:channel:entries channel="brokerage" dynamic="no" disable="member_data|pagination|member_data" cache="yes" refresh="60" status="published" search:brokerage_listing_size="=Large" orderby="brokerage_model|brokerage_price" sort="desc|desc"}
				<li class="column large-12 size-large{if embed:post == ""} hide{/if}" data-model="{if other_model != ""}{other_model}{if:else}{brokerage_model}{/if}" data-price="{brokerage_price}" data-location="{categories show_group='2' backspace='1'}{category_url_title}|{/categories}" data-status="{brokerage_status}"{categories show_group='4' show='17'} data-non-oyster="true"{/categories}>
					<div data-yachtid="{entry_id}" data-spec="{specification_pdf}" data-yachttype="brokerage" class="yacht-list-item<?php if (time() - (int) '{brokerage_status_changed}' < 60*60*24*30): ?> updated-listing<?php endif; ?>">
						<div class="listing-header">
							<div class="listing-image-container">
								<a href="{url_title_path='brokerage/fleet'}">
									<div class="listing-images">

										{brokerage_listing_images}
										<div class="yacht-listing-photo"><img src="{image:url:blur}" data-img-name="{image:title}" data-sizes="auto" data-srcset="{image:url:w_215} 215w, {image:url:w_322} 322w, {image:url:w_430} 430w" class="lazyload blur-up"></div>
										{/brokerage_listing_images}
				
									</div>
								</a>
								{share_buttons}
							</div>
							<a href="{url_title_path='brokerage/fleet'}">
								<div class="yacht-listing-title">
									<span class="yacht-list-modal">{if other_model != ""}{other_model}{if:else}{brokerage_model}{/if}</span>
									<span class="yacht-list-name double-slash">{title}</span>
								</div>
							</a>
						</div>
					
						<div class="listing-content">
							<table class="table listing-table{if brokerage_feature_text != ""} feature-col{/if}">
								<tbody>
									<tr>
										<td>Located: <span>{brokerage_location}</span></td>
										<td>Year Built: <span>{brokerage_year_built}</span></td>
									</tr>
									<tr>
										<td>Price: <span>
											{if brokerage_price != ""}
											{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span>
											{if:else}
												POA
											{/if}
										</td>
										<td>Status: <span>{brokerage_status}</span></td>
									</tr>
									{if brokerage_feature_text != ""}
									<tr>
										<td colspan="2" class="highlight">{brokerage_feature_text}</td>
									</tr>
									{/if}
								</tbody>
							</table>
						</div>
						
					</div>
				</li>
				{/exp:channel:entries}
			</ul>
			<ul>
				{exp:channel:entries channel="brokerage" dynamic="no" disable="member_data|pagination|member_data" cache="yes" refresh="60" status="published" search:brokerage_listing_size="=Medium" orderby="brokerage_model|brokerage_price" sort="desc|desc"}
				<li class="column large-6 size-medium{if embed:post == ""} hide{/if}{if count == total_results} end{/if}" data-model="{if other_model != ""}{other_model}{if:else}{brokerage_model}{/if}" data-price="{brokerage_price}" data-location="{categories show_group='2' backspace='1'}{category_url_title}|{/categories}" data-status="{brokerage_status}"{categories show_group='4' show='17'} data-non-oyster="true"{/categories}>
					<div data-yachtid="{entry_id}" data-spec="{specification_pdf}" data-yachttype="brokerage" class="yacht-list-item<?php if (time() - (int) '{brokerage_status_changed}' < 60*60*24*30): ?> updated-listing<?php endif; ?>">
						<div class="listing-header">
							<div class="listing-image-container">
								<a href="{url_title_path='brokerage/fleet'}">
									<div class="listing-images">
										
										{brokerage_main_image}
										<div class="yacht-listing-photo"><img src="{image:url:blur}" data-img-name="{image:title}" data-sizes="auto" data-srcset="{image:url:w_416} 416w, {image:url:w_633} 633w, {image:url:w_983} 983w" class="lazyload blur-up"></div>
										{/brokerage_main_image}

									</div>
								</a>
								{share_buttons}
							</div>
							<a href="{url_title_path='brokerage/fleet'}">
								<div class="yacht-listing-title">
									<span class="yacht-list-modal">{if other_model != ""}{other_model}{if:else}{brokerage_model}{/if}</span>
									<span class="yacht-list-name double-slash">{title}</span>
								</div>
							</a>
						</div>
						<div class="listing-content">
							<table class="table listing-table{if brokerage_feature_text != ""} feature-col{/if}">
								<tbody>
									<tr>
										<td>Located: <span>{brokerage_location}</span></td>
										<td>Year Built: <span>{brokerage_year_built}</span></td>
									</tr>
									<tr>
										<td>Price: <span>
											{if brokerage_price != ""}
											{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span>
											{if:else}
												POA
											{/if}
										</td>
										<td>Status: <span>{brokerage_status}</span></td>
									</tr>
									{if brokerage_feature_text != ""}
									<tr>
										<td colspan="2" class="highlight">{brokerage_feature_text}</td>
									</tr>
									{/if}
								</tbody>
							</table>
						</div>
					</div>
				</li>
				{/exp:channel:entries}
			</ul>
			<ul>
				{exp:channel:entries channel="brokerage" dynamic="no" disable="member_data|pagination|member_data" cache="yes" refresh="60" status="published" search:brokerage_listing_size="=Small" search:brokerage_model="not Oyster LD" orderby="brokerage_model|brokerage_price" sort="desc|desc"}
				<li class="column large-4 size-small{if embed:post == ""} hide{/if}{if count == total_results} end{/if}" data-model="{if other_model != ""}{other_model}{if:else}{brokerage_model}{/if}" data-price="{brokerage_price}" data-location="{categories show_group='2' backspace='1'}{category_url_title}|{/categories}" data-status="{brokerage_status}"{categories show_group='4' show='17'} data-non-oyster="true"{/categories}>
					<div data-yachtid="{entry_id}" data-spec="{specification_pdf}" data-yachttype="brokerage" class="yacht-list-item<?php if (time() - (int) '{brokerage_status_changed}' < 60*60*24*30): ?> updated-listing<?php endif; ?>">
						<div class="listing-header">
							<div class="listing-image-container">
								<a href="{url_title_path='brokerage/fleet'}">
									<div class="listing-images">
									
										{brokerage_main_image}
										<div class="yacht-listing-photo"><img src="{image:url:blur}" data-img-name="{image:title}" data-sizes="auto" data-srcset="{image:url:w_416} 416w, {image:url:w_633} 633w, {image:url:w_983} 983w" class="lazyload blur-up"></div>
										{/brokerage_main_image}

									</div>
								</a>
								{share_buttons}
							</div>
							<a href="{url_title_path='brokerage/fleet'}">
								<div class="yacht-listing-title">
									<span class="yacht-list-modal">{if other_model != ""}{other_model}{if:else}{brokerage_model}{/if}</span>
									<span class="yacht-list-name double-slash">{title}</span>
								</div>
							</a>
						</div>
						<div class="listing-content">
							<table class="table listing-table{if brokerage_feature_text != ""} feature-col{/if}">
								<tbody>
									<tr>
										<td>Located: <span>{brokerage_location}</span></td>
										<td>Year Built: <span>{brokerage_year_built}</span></td>
									</tr>
									<tr>
										<td>Price: <span>
											{if brokerage_price != ""}
											{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span>
											{if:else}
												POA
											{/if}
										</td>
										<td>Status: <span>{brokerage_status}</span></td>
									</tr>
									{if brokerage_feature_text != ""}
									<tr>
										<td colspan="2" class="highlight">{brokerage_feature_text}</td>
									</tr>
									{/if}
								</tbody>
							</table>
						</div>

					</div>
				</li>
				{/exp:channel:entries}
				{exp:channel:entries channel="brokerage" dynamic="no" disable="member_data|pagination|member_data" cache="yes" refresh="60" status="published" search:brokerage_listing_size="=Small" search:brokerage_model="Oyster LD" orderby="brokerage_model|brokerage_price" sort="desc|desc"}
				<li class="column large-4 size-small{if embed:post == ""} hide{/if}{if count == total_results} end{/if}" data-model="{if other_model != ""}{other_model}{if:else}{brokerage_model}{/if}" data-price="{brokerage_price}" data-location="{categories show_group='2' backspace='1'}{category_url_title}|{/categories}" data-status="{brokerage_status}"{categories show_group='4' show='17'} data-non-oyster="true"{/categories}>
					<div data-yachtid="{entry_id}" data-spec="{specification_pdf}" data-yachttype="brokerage" class="yacht-list-item<?php if (time() - (int) '{brokerage_status_changed}' < 60*60*24*30): ?> updated-listing<?php endif; ?>">
						<div class="listing-header">
							<div class="listing-image-container">
								<a href="{url_title_path='brokerage/fleet'}">
									<div class="listing-images">
									
										{brokerage_main_image}
										<div class="yacht-listing-photo"><img src="{image:url:blur}" data-img-name="{image:title}" data-sizes="auto" data-srcset="{image:url:w_416} 416w, {image:url:w_633} 633w, {image:url:w_983} 983w" class="lazyload blur-up"></div>
										{/brokerage_main_image}

									</div>
								</a>
								{share_buttons}
							</div>
							<a href="{url_title_path='brokerage/fleet'}">
								<div class="yacht-listing-title">
									<span class="yacht-list-modal">{if other_model != ""}{other_model}{if:else}{brokerage_model}{/if}</span>
									<span class="yacht-list-name double-slash">{title}</span>
								</div>
							</a>
						</div>
						<div class="listing-content">
							<table class="table listing-table{if brokerage_feature_text != ""} feature-col{/if}">
								<tbody>
									<tr>
										<td>Located: <span>{brokerage_location}</span></td>
										<td>Year Built: <span>{brokerage_year_built}</span></td>
									</tr>
									<tr>
										<td>Price: <span>
											{if brokerage_price != ""}
											{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span>
											{if:else}
												POA
											{/if}
										</td>
										<td>Status: <span>{brokerage_status}</span></td>
									</tr>
									{if brokerage_feature_text != ""}
									<tr>
										<td colspan="2" class="highlight">{brokerage_feature_text}</td>
									</tr>
									{/if}
								</tbody>
							</table>
						</div>

					</div>
				</li>
				{/exp:channel:entries}
			</ul>
		</div>
	</div>
</section>
<style>
.table span span {
	display:block;
}    
</style>
{footer}