{exp:channel:entries channel="brokerage" disable="member_data|category_fields|pagination" cache="yes" refresh="60" require_entry="yes" status="published"}
{if no_results}{redirect="404"}{/if}

<?php
$query = ee()->db->query('SELECT * FROM exp_channel_images WHERE entry_id={entry_id} AND field_id=14');
$layoutImages = $query->num_rows();

$query = ee()->db->query('SELECT * FROM exp_channel_images WHERE entry_id={entry_id} AND field_id=20');
$exteriorGalleryImages = $query->num_rows();

/*$query = ee()->db->query('SELECT * FROM exp_channel_images WHERE entry_id={entry_id} AND field_id=15');
$interiorGalleryImages = $query->num_rows();*/
?>

{embed="site/.header" snap_to=".full-screen #yacht-nav" snap_offset="55"}

<section data-yachtid="{entry_id}" data-yachtsection="brokerage" class="hero full-screen">
	<div id="full-image" class="yacht-listing-photo add-full-background-overlay" style="background-image: url('{brokerage_main_image}{image:url}{/brokerage_main_image}');">
		{back_button}
		<div class="yacht-name">
			<div class="row-pad">
				<h2>{brokerage_model}</h2>
				<h1>{title}</h1>
				<?php if ($exteriorGalleryImages > 0): ?>
				<a class="gallery" href="">View Gallery</a>
				<?php endif; ?>
			</div>
		</div>
		{embed="site/.share_buttons" brokerage="true"}
	</div>
	<div id="yacht-nav" data-local-subnav="data-local-subnav" class="yacht-nav">
		<ul class="local-subnav">
			{if brokerage_design_features:total_rows > 0}
			<li class="active"><a href="#design-features" class="scroll">Design Features</a></li>
			{/if}

			{if brokerage_specifications:total_rows > 0}
			<li><a href="#specifications" class="scroll">Specifications</a></li>
			{/if}

			<?php if ($layoutImages > 0): ?>
			<li><a href="#yacht-layout" class="scroll">Yacht Layout</a></li>
			<?php endif; ?>

			<?php if ($exteriorGalleryImages > 0): ?>
			<li><a href="" class="gallery">Gallery</a></li>
			<?php endif; ?>

			<li><a href="" class="contact">Contact Brokerage</a></li>
		</ul>
		<section data-local-sidebar data-sticky-sidebar-at-bottom=".about-yacht" data-sticky-sidebar-offset="" class="sticky-sidebar-header hide float-right">
			<div class="header">
				<h4 class="text-uppercase float-left">{title} overview</h4>
				<i class="fa fa-angle-down float-right"></i>
			</div>
			<div class="contents">
				<table class="table definition-table">
					<tbody>
						<tr>
							<td colspan="2" class="heading">{title} overview</td>
						</tr>

						{if brokerage_location != ""}
						<tr>
							<td>Location:</td>
							<td>{brokerage_location}</td>
						</tr>
						{/if}

						{if brokerage_year_built != ""}
						<tr>
							<td>Year:</td>
							<td>{brokerage_year_built}</td>
						</tr>
						{/if}

						{if brokerage_rig != ""}
						<tr>
							<td>Rig:</td>
							<td>{brokerage_rig}</td>
						</tr>
						{/if}

						{if brokerage_joinery != ""}
						<tr>
							<td>Joinery:</td>
							<td>{brokerage_joinery}</td>
						</tr>
						{/if}

						{if brokerage_cabins != ""}
						<tr>
							<td>Cabins:</td>
							<td>{brokerage_cabins}</td>
						</tr>
						{/if}

						{if brokerage_status != ""}
						<tr>
							<td>Status:</td>
							<td>{brokerage_status}</td>
						</tr>
						{/if}

						{if brokerage_price != ""}
						<tr>
							<td>Price:</td>
							<td>{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span></td>
						</tr>
						{/if}

						{if brokerage_feature_text != ""}
						<tr>
							<td colspan="2" class="highlight">{brokerage_feature_text}</td>
						</tr>
						{/if}
					</tbody>
				</table>
			</div>
		</section>
	</div>
</section>

<section class="about-yacht">
	<div class="row row-pad">
		<div class="large-offset-1 large-7 float">
			<h2>{brokerage_model}</h2>
			<h1>{title}</h1>
			{brokerage_about}
			{if brokerage_further_information != ""}
			<div class="further-info">
				{brokerage_further_information}
			</div>
			{/if}
		</div>
		<div class="large-offset-1 large-3 float-left">
			<div class="sticky-sidebar">
				<table class="table definition-table">
					<tbody>
						<tr>
							<td colspan="2" class="heading">{title} overview</td>
						</tr>

						{if brokerage_location != ""}
						<tr>
							<td>Location:</td>
							<td>{brokerage_location}</td>
						</tr>
						{/if}

						{if brokerage_year_built != ""}
						<tr>
							<td>Year:</td>
							<td>{brokerage_year_built}</td>
						</tr>
						{/if}

						{if brokerage_rig != ""}
						<tr>
							<td>Rig:</td>
							<td>{brokerage_rig}</td>
						</tr>
						{/if}

						{if brokerage_joinery != ""}
						<tr>
							<td>Joinery:</td>
							<td>{brokerage_joinery}</td>
						</tr>
						{/if}

						{if brokerage_cabins != ""}
						<tr>
							<td>Cabins:</td>
							<td>{brokerage_cabins}</td>
						</tr>
						{/if}

						{if brokerage_status != ""}
						<tr>
							<td>Status:</td>
							<td>{brokerage_status}</td>
						</tr>
						{/if}

						{if brokerage_price != ""}
						<tr>
							<td>Price:</td>
							<td>{brokerage_currency}<?php echo number_format({brokerage_price}); ?> <span>{brokerage_vat}</span></td>
						</tr>
						{/if}

						{if brokerage_feature_text != ""}
						<tr>
							<td colspan="2" class="highlight">{brokerage_feature_text}</td>
						</tr>
						{/if}
					</tbody>
				</table>
				<div class="disclaimer">
					The above price is given as an indication only and may be subject to exchange rate fluctuation , VAT or local taxes. Also please note that all dimensions are approximates.
				</div>
			</div>
		</div>
	</div>
</section>


{if brokerage_design_features:total_rows > 0}
<section id="design-features" class="design-features">
	<div class="banner">Design features</div>
	<div class="content row row-pad">

		{brokerage_design_features}
		<div class="large-4 small-6 content-col">
			<div style="background-image:url('{brokerage_design_features:feature_image}')" class="feature-image"></div>
			<div class="feature-content">
				<h4>{brokerage_design_features:feature_title}</h4>
				{brokerage_design_features:feature_description}
			</div>
		</div>
		{/brokerage_design_features}

	</div>
</section>
{/if}

{if brokerage_specifications:total_rows > 0}
<section id="specifications" class="specifications yachts-yacht-spec brokerage-yacht-specifications">
	<div class="banner">Specifications</div>
	<div class="content row row-pad">
		<table class="table specs-table">
			<tbody>
				<tr>
					<td colspan="{if brokerage_specifications:draft_centreboard_up != ""}10{if:else}9{/if}" class="heading text-uppercase">KEY SPECIFICATIONS</td>
				</tr>
				<tr>
					<th class="text-uppercase">LOA</th>
					<th class="text-uppercase">LWL</th>
					<th class="text-uppercase">BEAM</th>

					{brokerage_specifications limit="1"}
					{if brokerage_specifications:draft_standard != ""}
					<th class="text-uppercase">DRAFT STANDARD</th>
					{/if}

					{if brokerage_specifications:draft_shoal != ""}
					<th class="text-uppercase">DRAFT SHOAL</th>
					{/if}

					{if brokerage_specifications:draft_centreboard_up != ""}
					<th class="text-uppercase">DRAFT CENTREBOARD UP</th>
					{/if}

					{if brokerage_specifications:draft_centreboard_down != ""}
					<th class="text-uppercase">DRAFT CENTREBOARD DOWN</th>
					{/if}
					{/brokerage_specifications}

					<th class="text-uppercase">DISPLACEMENT</th>
					<th class="text-uppercase">RIG</th>
					<th class="text-uppercase">JOINERY</th>
					<th class="text-uppercase">CABINS</th>
				</tr>
				{brokerage_specifications limit="1"}
				<tr>
					<td>{brokerage_specifications:loa}</td>
					<td>{brokerage_specifications:lwl}</td>
					<td>{brokerage_specifications:beam}</td>

					{if brokerage_specifications:draft_standard != ""}
					<td>{brokerage_specifications:draft_standard}</td>
					{/if}

					{if brokerage_specifications:draft_shoal != ""}
					<td>{brokerage_specifications:draft_shoal}</td>
					{/if}

					{if brokerage_specifications:draft_centreboard_up != ""}
					<td>{brokerage_specifications:draft_centreboard_up}</td>
					{/if}

					{if brokerage_specifications:draft_centreboard_down != ""}
					<td>{brokerage_specifications:draft_centreboard_down}</td>
					{/if}

					<td>{brokerage_specifications:displacement}</td>
					<td rowspan="2">{brokerage_rig}</td>
					<td rowspan="2">{brokerage_joinery}</td>
					<td rowspan="2">{brokerage_cabins}</td>
				</tr>
				{/brokerage_specifications}

				{brokerage_specifications limit="1" offset="1"}
				<tr>
					<td>{brokerage_specifications:loa}</td>
					<td>{brokerage_specifications:lwl}</td>
					<td>{brokerage_specifications:beam}</td>

					{if brokerage_specifications:draft_standard != ""}
					<td>{brokerage_specifications:draft_standard}</td>
					{/if}

					{if brokerage_specifications:draft_shoal != ""}
					<td>{brokerage_specifications:draft_shoal}</td>
					{/if}

					{if brokerage_specifications:draft_centreboard_up != ""}
					<td>{brokerage_specifications:draft_centreboard_up}</td>
					{/if}

					{if brokerage_specifications:draft_centreboard_down != ""}
					<td>{brokerage_specifications:draft_centreboard_down}</td>
					{/if}

					<td>{brokerage_specifications:displacement}</td>
				</tr>
				{/brokerage_specifications}
			</tbody>
		</table>
	</div>
</section>
{/if}

<?php if ($layoutImages > 0): ?>
<section id="yacht-layout" class="yacht-layout">
	<div class="banner">Yacht Layout</div>
	<div class="content row row-pad">
		<div class="large-10 large-offset-1 end">
			<div id="layout-slider">
				{brokerage_layout}
				<div class="cycle-slide"><img src="{image:url}"></div>
				{/brokerage_layout}
			</div>
			<ul class="slider-pager<?php if ($layoutImages === 1): ?> hide<?php endif; ?>">
				{brokerage_layout}
				<li><a><span style="background-image:url('{image:url:small}');"></span></a></li>
				{/brokerage_layout}
			</ul>
		</div>
	</div>
</section>
<?php endif; ?>


<?php if ($exteriorGalleryImages > 0): ?>
<div id="exterior-gallery" class="gallery-content">
	{brokerage_gallery_exterior}
	<a href="{image:url}" data-sub-html="{image:description}">
		<img src="{image:url:gallery_thumb}" />
	</a>
	{/brokerage_gallery_exterior}
</div>
<?php endif; ?>

{footer}

{/exp:channel:entries}
