{exp:channel:entries channel="brokerage_landing_page" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" limit="1"}
{if no_results}{redirect="404"}{/if}

{embed="site/.header" page_title="Brokerage" entry_id="{entry_id}" snap_to=".hero #global-page-filters" snap_offset="55"}
{embed="site/.sub_bar-events" page_title="Brokerage" page="brokerage"}
<section style="background-image: url('{brokerage_header_image}{image:url}{/brokerage_header_image}')" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
	{embed="brokerage/.filters" post="true"}
</section>

<section class="page-home-about brokerage-home-about">
	<div class="row padded-full-width-row">
		<div class="small-12 medium-3 large-2 large-offset-1 column"><span class="text-uppercase">
			<img src="/assets/images/oyster-brokerage-logo.svg" style="padding-top: 4px;"/>
		</span></div>
		<div class="small-12 medium-9 large-8 end column intro">
			{brokerage_intro_content}
		</div>
	</div>
</section>

<section class="brokerage-home-featured-yachts">
	<div class="banner">featured yachts</div>

	<div class="row padded-full-width-row content">
		<div id="yacht-grid" class="row">
			<ul>
			{embed="brokerage/.featured" ids="{brokerage_featured_yachts:entry_ids}"}
			</ul>
		</div>
	</div>
</section>

{footer}

{/exp:channel:entries}