{embed="site/.header" snap_to="undefined" snap_offset="undefined"}

    <section style="background-image: url('/assets/images/brokerage-team.jpg'); " class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--small">
      <div id="page-back-button" class="back-button"><a class="button-clear-white"><i class="fa fa-angle-left"></i>Back</a></div>
    </section>
    <article class="staggered-features stagger-split brokerage-team">
      <div class="banner">
        <h1>Brokerage Team</h1>
      </div>
        {exp:channel:entries channel="brokerage_team" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc"}
         {if count % 2 == 0}
           <section class="row staggered-row-reverse team-stagger-section">      
        <div class="staggered-details medium-8 small-12 columns">
          <div class="staggered-details-contents">
            <div class="person-details">
              <div class="person-name-pos">
                  <h2>{title}</h2>
                <h3>{position}</h3>
              </div>
             {if linkedin != ""}
              <a href="{linkedin}" target="_blank">
                <div aria-hidden="true" class="fa fa-linkedin"></div>
              </a>
                {/if}
            </div>
           {description}
            <ul class="contact-details">
               {if email_address != ""}
              <li class="contact-detail"> <abbr title="Email">E: </abbr><a href="mailto:{email_address}">{email_address}</a></li>
              {/if}
              {if phone_number != ""}
              <li class="contact-detail"> <abbr title="Telephone">T: </abbr><a href="tel:{phone_number}">{phone_number}</a></li>
               {/if}
            </ul>
          </div>
        </div>
        <div class="staggered-image medium-4 small-12 columns"><img src="{portrait}"></div>
      </section>

    
        {if:else}
      <section class="row team-stagger-section">
        <div class="staggered-image medium-4 small-12 columns"><img src="{portrait}"></div>
        <div class="staggered-details medium-8 small-12 columns">
          <div class="staggered-details-contents">
            <div class="person-details">
              <div class="person-name-pos">
                <h2>{title}</h2>
                <h3>{position}</h3>
              </div>
              {if linkedin != ""}
              <a href="{linkedin}" target="_blank">
                <div aria-hidden="true" class="fa fa-linkedin"></div>
              </a>
              {/if}
            </div>
            {description}
            <ul class="contact-details">
               {if email_address != ""}
              <li class="contact-detail"> <abbr title="Email">E: </abbr><a href="mailto:{email_address}">{email_address}</a></li>
              {/if}
              {if phone_number != ""}
              <li class="contact-detail"> <abbr title="Telephone">T: </abbr><a href="tel:{phone_number}">{phone_number}</a></li>
               {/if}
            </ul>
          </div>
        </div>
      </section>
       {/if}

    {/exp:channel:entries}
 

    </article>
  {footer}