
{embed="site/.header" page_title="Brokerage Request" snap_to="undefined" snap_offset="undefined"}

<article style="background-image: url('/assets/images/oysteryachts-brokerage-sales-message.jpg')" class="login-page after-nav">
  <div id="login-page" class="full-modal reveal">
    <h2>BROKERAGE SHORTLIST</h2>
    <div style="padding:1em">
    <div class="sign-up-success" style="margin:0;width:100%;"><span>You will shortly receive an email with the information requested.</a></span></div>
  
  </div></div>
</article>

{footer}