
/*
	It makes all of 0 sense that they do this to begin with
	but its messing with our dropdowns.
*/

#mainContent .pageContents {
	overflow: visible;
}

#roles-content {
	margin-left		: 150px;
	border-left		: 1px solid #ccc;
	padding-left	: 20px;
	padding-top		: 20px;
	margin-top		: 20px;
	border-top		: 1px solid #ccc;
}

	#roles-content select {
		padding: 5px 30px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	#roles-content a:hover {
		text-decoration: none;
	}

	#roles-content .chosen-container {
		margin-top: -4px;
	}

#roles-nav {
	float:left;
	margin-top		: 6px;
}

	#roles-content hr {
		border			: 0;
		height			: 0;
		border-top		: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom	: 1px solid rgba(255, 255, 255, 0.3);
		margin			: 20px 0;
	}

	#roles-nav ul {
		border-top	: 1px solid #ccc;
		/*border-left	: 1px solid #ccc;*/
		width		: 150px;
	}

		#roles-nav li {
			display			: block;
			border-bottom	: 1px solid #ccc;
		}

			#roles-nav li a {
				display		: block;
				padding		: 10px;
				color		: #445058;
				font-weight	: bold;
			}

				#roles-nav li a:hover,
				#roles-nav li a.active {
					text-decoration		: none;
					background-color	: #98AAB6;
					color				: #fff;
					font-weight			: bold;
				}

#member_search_form,
#group_select {
	display:inline-block;
}

#member_search_form {
	margin-top: -4px;
}

	#member_search_form ul.ui-autocomplete {
		border:1px solid lightgrey;
		background:none;
		background-color:#fff;
	}

	#member_search_form a {
		font-weight: bold;
	}

#assign_permissions_box {
	height: 30px;
	margin: 30px 0 20px 0;
}