{embed="%prefix%inc/index" page_title="Error"}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	</head>

	<body role="document">

{embed="%prefix%inc/header" page="account"}

		<div class="container">

			<div class="page-header">
				<h1>Error</h1>
				<p class="lead">This page allows you to bypass the native EE error message template and create and customize your own.</p>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-danger" role="alert">
						<h5>{heading}</h5>
						<p class="lead">{content}</p>
						<p>{link}</p>
					</div>
				</div>
			</div>

			<div class="well ss-pageinfo">
				<h2>About This Page</h2>
				<p>The "Error" page allows you to bypass the native EE error message template and create and customize your own.</p>
				<p>It makes use of the following tags:</p>
				<ul>
					<li><a href="https://solspace.com/docs/user/error_page/">Error Page</a> to allow you to bypass the native EE error message template and create and customize your own.</li>
				</ul>
			</div>

{embed="%prefix%inc/footer"}