.sub-bar {
  $root: &;
  align-items: center;
  background-color: $lightgrey;
  display: flex;
  height: $sub-bar-height;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
  width: calc(100% - 20px);
  will-change: transform;
  z-index: 12;

  &__title,
  &__buttons {
    display: none;
    z-index: 1;
    padding: ($global-padding / 2) $global-padding;

    @include breakpoint(medium up) {
      display: block;
    }
  }

  &__title {
    > h1 {
      @include sub-title;
    }
  }

  &__nav {
    z-index: 1;
    align-self: stretch;
    position: relative;
    overflow-x: visible;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__menu {
    height: 100%;
    white-space: nowrap;

    > li {
      display: inline-block;
      height: 100%;

      > a {
        @include sub-nav;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        > span {
          margin: $global-margin;
        }
      }
    }
  }

  &--large {
  }

  &--wr {
    background-color: $yellow;
  }
}
