.login-media-page, .login-media-message {
  background-position: center center;
  background-size: cover;
  min-height: calc(100vh - #{$header-nav-small-height});
  position: relative;

  .full-modal {
    // Overiding the modal settings so it shows
    display: block;
    min-height: auto;
    opacity: 1 !important;
    transform: none;
    z-index: 2;
  }

  .tabs-panel {
    padding: 0px;
  }

  #login-panel {
    .login-forgot-password {
      color: $grey;
    }

    .login-remember-me {
      color: $grey;
      float: right;
      margin: 0px;
      position: relative;
    }

    .extra-login-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(small down) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      > * {
        margin: 1rem 0rem;
      } 
    }
  }

  .login-tabs-content {
    position: relative;
  }

  #new-account {
    .request-spec {
      border: 0;
      padding: 0;
    }

    .form-account-type > legend {
      padding-top: 1rem;
      width: 100%;
      border-top: 1px solid $grayborder;
    }

    .spec-current-yacht {
      border: 0px;
      padding: 1rem 0;
    }

    small {
      padding: 0px;
      margin-bottom: 1.5rem;
    }

    .form-signup-usage {
      border-top: 1px solid $grayborder;
      padding-top: 2rem;
    }
  }
}
