{embed="site/.header" page_title="Oyster Media Centre" snap_to=".login-media-thank-you" snap_offset="55"}

<article style="background-image: url('/assets/images/media-centre/media_centre-login-bg.jpg')" class="login-page after-nav">
	<div id="login-page" class="full-modal reveal">
		<h2>Forgot Password</h2>
		<div id="login-panel" class="modal-content"><p style="font-size: 1.25em;     color: #003145;
		    line-height: 1.25em;"><span ><strong>We have sent a password reset link to your registered email address.</strong></span></p>
				<p>If the email you entered is associated with a Media Centre account, you will receive an email from us with your new login credentials. </p>
		
		<p>If you don’t receive this email, please check your junk mail folder or contact customer service for further assistance on +44 23 8083 1005</p></div>
	</div>
</article>

{footer}