{media_centre_auth}

{embed="site/.header" snap_to=".full-screen #yacht-nav" snap_offset="55"}
{media_centre_subnav}
    <section style="background-image: url('/assets/images/bg-images/media-centre-press-images-bg.jpg'); background-position: center 40%;" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--small add-full-background-overlay">
      <div id="page-back-button" class="back-button"><a class="button-clear-white"><i class="fa fa-angle-left"></i>Back</a></div>
      <div class="yacht-name">
        <div class="row-pad">
          <h1 class="hero-title yacht-list-name text-uppercase">oyster 885</h1>
        </div>
      </div>
    </section>
    <section id="media-press-exterior" class="world-rally-gallery media-press-exterior">
      <div class="banner">exterior</div>
      <div data-equalizer data-equalize-by-row="true" class="row padded-full-width-row small-up-1 medium-up-3 large-up-4">
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/625-Sardinia-020RT.jpg')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/625-Sardinia-020RT.jpg" target="_blank" download="625-Sardinia-020RT" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/_SUZ50421.jpg')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/_SUZ50421.jpg" target="_blank" download="_SUZ50421" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/_DSC4574.jpg')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/_DSC4574.jpg" target="_blank" download="_DSC4574" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/yachts_4.jpg')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/yachts_4.jpg" target="_blank" download="yachts_4" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/yachts_2.jpg')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/yachts_2.jpg" target="_blank" download="yachts_2" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/owners-world-rally-feature.jpg')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/owners-world-rally-feature.jpg" target="_blank" download="owners-world-rally-feature" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/brokerage_4.jpg')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/brokerage_4.jpg" target="_blank" download="brokerage_4" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns end">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/charter_1.jpg')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
                
                
              </p><a href="/assets/images/charter_1.jpg" target="_blank" download="charter_1" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="media-press-interior" class="world-rally-gallery media-press-interior">
      <div class="banner">interior</div>
      <div data-equalizer data-equalize-by-row="true" class="row padded-full-width-row small-up-1 medium-up-3 large-up-4">
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-1.png')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-1.png" target="_blank" download="media-centre-press-images-exterior-bg-1" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-2.png')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-2.png" target="_blank" download="media-centre-press-images-exterior-bg-2" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-3.png')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-3.png" target="_blank" download="media-centre-press-images-exterior-bg-3" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-4.png')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-4.png" target="_blank" download="media-centre-press-images-exterior-bg-4" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-3.png')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-3.png" target="_blank" download="media-centre-press-images-exterior-bg-3" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-1.png')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-1.png" target="_blank" download="media-centre-press-images-exterior-bg-1" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-4.png')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-4.png" target="_blank" download="media-centre-press-images-exterior-bg-4" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns end">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-2.png')" class="gallery-pane-header"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts <br/>Mike Jones / Waterline Media
                
                
                
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-2.png" target="_blank" download="media-centre-press-images-exterior-bg-2" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="media-press-cad-plans" class="world-rally-gallery media-press-cad-plans">
      <div class="banner">cad plans</div>
      <div data-equalizer data-equalize-by-row="true" class="row padded-full-width-row small-up-1 medium-up-3 large-up-4">
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-7.png')" class="gallery-pane-header adjust-oyster-100"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-7.png" target="_blank" download="media-centre-press-images-exterior-bg-7" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-5.png')" class="gallery-pane-header contain-bg"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>
                &copy; Copyright Oyster Yachts
                
              </p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-5.png" target="_blank" download="media-centre-press-images-exterior-bg-5" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 large-3 columns">
          <div class="gallery-pane">
            <div style="background-image: url('/assets/images/bg-images/media-centre-press-images-exterior-bg-6.png')" class="gallery-pane-header contain-bg"></div>
            <div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
              <p>&copy; Copyright Oyster Yachts</p><a href="/assets/images/bg-images/media-centre-press-images-exterior-bg-6.png" target="_blank" download="media-centre-press-images-exterior-bg-6" class="text-uppercase button-transparent">download</a>
            </div>
          </div>
        </div>
      </div>
    </section>
   {footer}