{embed="site/.header" page_title="Oyster Media Centre" snap_to=".login-page" snap_offset="55"}

<article style="background-image: url('/assets/images/login-bg-min.jpg')" class="login-page after-nav">
	<div id="login-page" class="full-modal reveal">
		<h2>Reset Password</h2>

		<div id="login-panel">
			{exp:user:reset_password
			    reset_code="{segment_3}"
			    return="media-centre/reset-password-success"
			}

			<div class="modal-content">
				<div class="form-error text-center text-uppercase"><span>ERROR: Invalid or incomplete fields</span><span class="error-messages"></span></div>
				<fieldset>
					<legend class="show-for-sr">Reset Password</legend>
					<ol>
						<li class="required-input">
							<label for="password" class="show-for-sr">Password *</label>
							<input id="password" type="password" name="password" placeholder="Password" title="Please enter a password" required="" class="required-input">
						</li>
						<li class="required-input">
							<label for="password_confirm" class="show-for-sr">Confirm Password *</label>
							<input id="password_confirm" type="password" name="password_confirm" placeholder="Confirm Password" title="Please enter a password" required="" class="required-input">
						</li>
					</ol>
				</fieldset>
			</div>
			<div class="modal-footer">
				<div class="float-right">
					<button aria-controls="formModal" aria-haspopup="true" tabindex="0" type="submit" value="Submit" class="button-solid-blue">Submit </button>
				</div>
			</div>

			{/exp:user:reset_password}
		</div>
	</div>
</article>

{footer}