{embed="site/.header" page_title="Oyster Media Centre" snap_to=".login-media-message" snap_offset="55"}

<article style="background-image: url('/assets/images/media-centre/media_centre-login-bg.jpg')" class="login-media-message after-nav">
	<div id="login-page" class="full-modal reveal">
		<h2>Media Centre</h2>
<div class="modal-instructions"><h1>Thank You</h1><p>Your account is currently being verified by our team, you will shortly receive an email from us with your login credentials. Please note there may be a short delay in this process.</p>
<p>If you don’t receive this email, please check your junk mail folder or contact customer service for further assistance on <a href='tel:+44 23 8083 1005'>+44 23 8083 1005</a> or email <a href='mailto:marketing@oysteryachts.com'>marketing@oysteryachts.com</a></p>
</div>
	</div>
</article>

{footer}