footer {
	background: $blue;
}

.footer-nav, .footer-highlights {
	border-bottom: 1px solid #2a4f5f;
}

.footer-nav {
	padding-top: 40px;
	padding-bottom: 20px;

	.large-2 {
		float: left;
	}

	span {
		display: block;
		@include omnes_medium;
		color: #fff;
		font-size: 0.9375em;
		line-height: 1em;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	ul {
		padding-bottom: 10px;
	}

	li {
		@include omnes_regular;
		font-size: 0.75em;
		line-height: 1em;
		text-transform: uppercase;
		margin-bottom: 15px;

		a {
			color: $lightblue;
			text-decoration: none;
		}
	}
}

.footer-highlights {
	color: #fff;
	@include trajan;
	font-size: 0.75em;
	line-height: 1em;
	text-transform: uppercase;
	padding-top: 38px;
	padding-bottom: 37px;

	ul {
		float: left;
		margin-left: -40px;
		padding: 5px 0 0;

		li {
			float: left;
			position: relative;
			padding: 0 42px 0 40px;

			&:after {
				content: "|";
				position: absolute;
				right: 0;
				top: 0;
			}

			&:last-child:after {
				content: "";
			}
		}
	}

	img {
		float: right;
	}
}

.copyright {
	color: #7d9aaa;
	font-size: 0.75em;
	line-height: 1em;
	@include omnes_medium;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 16px;

	ul {
		float: left;
		margin-left: -25px;

		li {
			float: left;
			position: relative;
			padding: 0 27px 0 25px;

			&:after {
				content: "|";
				position: absolute;
				right: 0;
				top: 0;
			}

			a {
				color: #7d9aaa;
				text-decoration: none;
			}

			&:last-child:after {
				content: "";
			}
		}
	}

	span {
		float: right;
	}
}

.social {
	a {
		float: left;
		display: block;
		width: 32px;
		height: 32px;
		margin-right: 11%;
		background-repeat: no-repeat;
		background-position: center center;

		&:last-child {
			margin: 0;
		}
	}

	.facebook {
		background-image: url('../images/static/footer_facebook.png');
	}

	.twitter {
		background-image: url('../images/static/footer_twitter.png');
	}

	.youtube {
		background-image: url('../images/static/footer_youtube.png');
	}

	.instagram {
		background-image: url('../images/static/footer_instagram.png');
	}
}

.newsletter {
	background: url('../images/static/water.jpg') no-repeat center center;
	background-size: cover;
	padding: 30px 0;

	.large-2, .large-8 {
		float: left;
	}

	span {
		font-size: 0.9375em;
		line-height: 1.33333333em;
		color: #fff;
	}

	input {
		float: left;
		width: 80%;
		height: 45px;
		@include omnes_regular;
		background: rgba(0, 0, 0, 0.35);
		border: none;
		outline: none;
		color: $lightblue;
		font-size: 1.25em;
		line-height: 45px;
		padding: 0 20px;
		@include border-left-radius(3px);
	}

	a {
		float: left;
		width: 20%;
		@include border-right-radius(3px);
	}
}