// Typography

html, body {
	height: 100%;
}

body {
	@include omnes_regular;
}

p {
	font-size: 0.9375em;
	line-height: 1.73333333em;
	margin-bottom: 1.73333333em;
	color: $grey;
}

h1 {
	@include omnes_light;
	font-size: 4.375em;
	line-height: 1em;
	color: $blue;
	text-transform: uppercase;
	margin-bottom: 30px;
}

h2 {
	@include trajan;
	font-size: 0.9375em;
	line-height: 1em;
	color: $grey;
	text-transform: uppercase;
}

h4 {
	@include omnes_medium;
	font-size: 1.125em;
	line-height: 1.16666666em;
	color: $blue;
	text-transform: uppercase;
	margin-bottom: 15px;
}

b, strong {
	@include omnes_medium;
	font-weight: normal;
}

a {
	color: $blue;
}

// Utility

.float {
	float: left;
}

// Reusable elements

.row-pad {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

.content-col {
	float: left;
}

.table {
	border-collapse: collapse;
	width: 100%;

	td {
		border: 1px solid $lightgrey;
		color: $lightblue;
		font-size: 0.9375em;
		line-height: 1.13333333em;
	}

	td, th {
		height: 50px;
		vertical-align: middle;
		padding: 0 10px 0 20px;
		text-align: left;
	}

	th {
		@include omnes_medium;
		background: #f6f8f9;
		color: $lightblue;
		text-transform: uppercase;
	}

	td.heading {
		background: $blue;
		@include omnes_medium;
		font-size: 0.75em;
		line-height: 1em;
		color: #fff;
		text-transform: uppercase;
	}

	td.highlight {
		background: $lightgrey;
		text-align: center;
		color: $blue;
		padding: 0;
		text-decoration: underline;
		text-transform: uppercase;
		@include omnes_medium;
	}

	td.title {
		color: $blue;
		font-size: 1.125em;
		line-height: 1em;
		text-transform: uppercase;
	}

	span {
		color: $blue;
		@include omnes_medium;

		span {
			@include omnes_regular;
		}
	}

	a {
		text-decoration: none;
	}
}

.definition-table {
	tbody {
		td {		
			span {
				@include omnes_regular;
			}
		}

		td:nth-child(1) {
			width: 44%;
		}

		td:nth-child(2) {
			width: 56%;
			color: $blue;
			@include omnes_medium;
		}

		td, th {
			font-size: 0.9375em;
			line-height: 1.2em;
		}
	}
}

.specs-table {
	tbody {
		td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(7), td:nth-child(8), td:nth-child(9) {
			width: 9.66666666%;
		}
		td:nth-child(4), td:nth-child(5), td:nth-child(6) {
			width: 14%;
		}

		td, th {
			font-size: 0.75em;
			line-height: 1.25em;
		}
	}
}

section {
	background: #fff;
	position: relative;
	z-index: 10;
}

.hero {
	position: relative;
	z-index: 1;
	padding-top: 126px;
}

.full-screen {
	height: 100%;
	width: 100%;
}

#full-image {
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	//@include transition-property(transform);
	//@include transition-duration(0.1s);
	//@include transition(transform 0.3s);
	position: relative;
}

// banner

.banner {
	background: $lightgrey;
	@include trajan;
	font-size: 0.9375em;
	line-height: 1em;
	color: $blue;
	text-align: center;
	text-transform: uppercase;
	padding: 19px 0;
}


.table1 {
	border-right: 1px solid $lightgrey;
	border-bottom: 1px solid $lightgrey;
	color: $lightblue;

	div {
		float: left;
		border-top: 1px solid $lightgrey;
		border-left: 1px solid $lightgrey;
	}
}

.share {
	position: absolute;
	right: 20px;
	top: 10px;

	img {
		display: block;
		margin-bottom: 5px;
	}

	.hero & {
		top: 50%;
		margin-top: -42px;
		right: 40px;
	}
}

.after-nav {
	padding-top: 126px;
}