.burger {
  $root: &;
  @include button();
  border-color: $greyborder;
  contain: strict;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  outline: none;
  position: relative;
  width: 40px;

  &__wrapper {
    height: 100%;
    left: 0;
    line-height: 2.2;
    position: absolute;
    top: 0;
    transform: scale(1) translateY(0);
    transition: transform 250ms ease-in-out;
    width: 100%;
    will-change: transform;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 0 5px;
  }

  &__piece {
    display: inline-block;
    height: 10px;
    position: relative;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
    vertical-align: middle;
    width: 4px;
    will-change: transform;

    &::after {
      background: $blue;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: rotate(0) skew(-10deg) translate(0, 0);
      width: 100%;
      will-change: transform;
    }
  }
  // 18 4
  $cross-x-pos: 6px;
  $cross-y-pos: 6px;

  @mixin cross($direction, $cross) {
    $variable: if($cross, translateY(3px), translateY(0));
    #{$root}__wrapper {
      transform: scale($direction) $variable;
    }
    #{$root}__piece {
      &::after {
        transform-origin: center center;
        transition: none;
      }

      &:nth-child(1) {
        &::after {
          transform-origin: right center;
          transform: rotate(45deg) skew(0) scaleX(.5) translate(#{$cross-x-pos}, -#{$cross-y-pos});
        }
      }

      &:nth-child(3) {
        &::after {
          transform-origin: left center;
          transform: rotate(-45deg) skew(0) scaleX(.5) translate(-#{$cross-x-pos}, -#{$cross-y-pos});
        }
      }
    }
  }

  &.opening {
    #{$root}__wrapper {
      transform: scale(0) translateY(0);
    }

    #{$root}__piece {
      &::after {
        transform: rotate(0) skew(-10deg) translate(0, 0);
      }
    }
  }

  &.open {
    @include cross(2, true);
  }

  &.closing {
    @include cross(0, false);
  }

  &.open,
  &.closing {
    #{$root}__piece {
      &:nth-child(2) {
        opacity: 0;
        pointer-events: none;
        transition: none;
      }
    }
  }
}
