{embed="%prefix%inc/index" page_title="Forgot Username or Password"}
	</head>

	<body role="document">

{embed="%prefix%inc/header" page="account"}

		<div class="container">

			<div class="page-header">
				<h1>Forgot Username or Password</h1>
				<p class="lead">This page allows users to have their username mailed to them or their password reset, in the event they forget it.</p>
			</div>
			<div class="row">
				<div class="col-xs-12">
				{if segment_3 == "success_username"}
					<div class="alert alert-success" role="alert">
						<p><strong>Success!</strong> Your username has been sent to the email address provided.</p>
					</div>
				{/if}
				{if segment_3 == "success_password"}
					<div class="alert alert-success" role="alert">
						<p><strong>Success!</strong> Your password reset link has been sent to the email address provided.</p>
					</div>
				{/if}
					<h2>Forgot Username?</h2>
					<p style="margin-bottom:20px;">If you've forgotten your username, just enter your email address you registered with and you will receive an email informing you of your username.</p>
					{exp:user:forgot_username
						return="%prefix%main/forgot_password/success_username"
						override_return="%prefix%main/forgot_password/success_username"
						error_page="%prefix%inc/error_template"
						form:class="form-horizontal"
					}
						<div class="form-group">
							<label for="email" class="col-sm-3 col-md-2 control-label">Email Address</label>
							<div class="col-sm-7 col-lg-6">
								<input type="email" name="email" id="email" placeholder="Enter your email address here" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-offset-2 col-sm-7 col-lg-6">
								<button type="submit" class="btn btn-lg btn-success">Submit</button>
							</div>
						</div>
					{/exp:user:forgot_username}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h2>Forgot Password?</h2>
					<p style="margin-bottom:20px;">If you've forgotten your password, just enter your email address you registered with and you will receive an email with instructions for resetting your password.</p>
					{exp:user:forgot_password
						secure_reset_link="no"
						password_reset_template="%prefix%main/reset_password/%id%"
						password_reset_email_template="%prefix%notifications/reset_password"
						password_reset_email_subject="Password Reset Request"
						return="%prefix%main/forgot_password/success_password"
						error_page="%prefix%inc/error_template"
						form:class="form-horizontal"
					}
						<div class="form-group">
							<label for="email" class="col-sm-3 col-md-2 control-label">Email Address</label>
							<div class="col-sm-7 col-lg-6">
								<input type="email" name="email" id="email" placeholder="Enter your email address here" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-offset-2 col-sm-7 col-lg-6">
								<button type="submit" class="btn btn-lg btn-success">Reset</button>
							</div>
						</div>
					{/exp:user:forgot_password}
				</div>
      		</div>

			<div class="well ss-pageinfo">
				<h2>About This Page</h2>
				<p>The "Forgot Username / Password" page allows users to have their username mailed to them or their password reset, in the event they forget it.</p>
				<p>It makes use of the following tags:</p>
				<ul>
					<li><a href="https://solspace.com/expressionengine/user/docs/forgot_username">User:Forgot_Username</a> to allow users have their username mailed to them.</li>
					<li><a href="https://solspace.com/expressionengine/user/docs/forgot_password">User:Forgot_Password</a> to allow users reset their account password.</li>
				</ul>
			</div>

{embed="%prefix%inc/footer"}