{embed="%prefix%inc/index" page_title="Login"}
	</head>

	<body role="document">

{embed="%prefix%inc/header" page="account"}

		<div class="container">

			<div class="page-header">
				<h1>Login</h1>
				<p class="lead">This page shows the profile of a given member.</p>
			</div>
			<div class="row">
				<div class="col-xs-12">
				{if segment_3 == "reset"}
					<div class="alert alert-success" role="alert">
						<p class="lead">Your password has been successfully reset!</p>
					</div>
				{/if}
					{embed="%prefix%inc/login"}
				</div>
      		</div>

			<div class="well ss-pageinfo">
				<h2>About This Page</h2>
				<p>The "Login" page allows site visitors to login to the website.</p>
				<p>It makes use of the following tags:</p>
				<ul>
					<li>Native EE <a href="https://docs.expressionengine.com/v3/member/#login-form-tag">Member:Login_Form</a> to display a form for visitors to login.</li>
				</ul>
			</div>

{embed="%prefix%inc/footer"}