{embed="%prefix%inc/index" page_title="Reset Password"}
	</head>

	<body role="document">

{embed="%prefix%inc/header" page="account"}

		<div class="container">

			<div class="page-header">
				<h1>Reset Password</h1>
				<p class="lead">This page allows users to reset their password from the link that was emailed to them from the Forgot Passsword page.</p>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h2>Reset Your Password</h2>
					<p style="margin-bottom:20px;">Enter a new password for your account in the form fields below:</p>
					{exp:user:reset_password
						reset_code="{segment_3}"
						return="%prefix%main/login/reset"
						form:class="form-horizontal"
					}
						<div class="form-group">
							<label for="password" class="col-sm-4 col-md-3 col-lg-2 control-label">New Password</label>
							<div class="col-sm-6">
								<input type="password" name="password" id="password" placeholder="Enter a new password here" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="password_confirm" class="col-sm-4 col-md-3 col-lg-2 control-label">Confirm New Password</label>
							<div class="col-sm-6">
								<input type="password" name="password_confirm" id="password_confirm" placeholder="Re-type the new password you just entered above" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-offset-3 col-lg-offset-2 col-sm-6">
								<button type="submit" class="btn btn-lg btn-success">Submit</button>
							</div>
						</div>
					{if user_no_results}
						<div class="alert alert-warning" role="alert">
							<p><strong>Error!</strong> The reset token provided is invalid.</p>
						</div>
					{/if}
					{/exp:user:reset_password}
				</div>
			</div>

			<div class="well ss-pageinfo">
				<h2>About This Page</h2>
				<p>The "Reset Password" page allows users to reset their password from the link that was emailed to them from the Forgot Passsword page. This page cannot be used without the ID from the password reset email.</p>
				<p>It makes use of the following tags:</p>
				<ul>
					<li><a href="https://solspace.com/expressionengine/user/docs/reset_password">User:Reset_Password</a> to allow users have their username mailed to them.</li>
				</ul>
			</div>

{embed="%prefix%inc/footer"}