<section class="world-rally-local-subnav">
	<div class="global-local-subnav">
		<div class="sub-heading"><a class="text-uppercase">oyster world rally 2013/14</a></div>
		<ul>
			<li{if embed:page == "route"} class="active"{/if}><a href="" class="text-uppercase">the route</a></li>
			<li{if embed:page == "news"} class="active"{/if}><a href="{path='world-rally/previous-rally-news'}" class="text-uppercase">news</a></li>
			<li{if embed:page == "entries"} class="active"{/if}><a href="{path='world-rally/previous-rally-entries'}" class="text-uppercase">entries</a></li>
			<li{if embed:page == "gallery"} class="active"{/if}><a href="{path='world-rally/previous-rally-gallery'}" class="text-uppercase">Gallery</a></li>
		</ul>
	</div>
</section>