{embed="site/.header" page_title="World Rally 2013/14 Gallery" snap_to=".world-rally-gallery" snap_offset="55"}

{embed="world-rally/.previous-rally-subnav" page="gallery"}


<section style="background-image: url('/assets/images/oysteryachts-wolrd_rally-gallery.jpg'); background-position: center 95%;" class="hero after-nav global-page-hero global-page-hero--small global-page-hero-adjust-subnav">
	{back_button}
</section>
<section id="world-rally-gallery" class="world-rally-gallery global-padding-top-only--small">
	<div class="banner">world rally 2013/14 gallery</div>
	<div class="row padded-full-width-row"></div>
	<div data-equalizer data-equalize-by-row="true" class="row padded-full-width-row small-up-1 medium-up-3 large-up-4">
		
		{exp:channel:entries channel="previous_rally_gallery|previous_rally_video" dynamic="yes" disable="member_data|category_fields|pagination" cache="no" refresh="60" status="published" sort="asc"}

		{if channel_short_name == "previous_rally_gallery"}
		<div class="small-12 medium-4 large-3 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" {prev_gallery_cover_image}style="background-image:url('{image:url}');"{/prev_gallery_cover_image}>
					{share_buttons}
					<span class="images text-uppercase">images</span>
				</div>
				<div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
					<h2 class="title text-uppercase">{title}</h2>
					<a href="{url_title_path='world-rally/world-rally-2013-14/gallery'}" class="text-uppercase gallery">
						<i class="fa fa-th"></i>
						<span>View Gallery</span>
					</a>
				</div>
			</div>
		</div>
		{if:elseif channel_short_name == "previous_rally_video"}
		<div class="small-12 medium-4 large-3 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header video" {prev_video_cover_image}style="background-image:url('{image:url}');"{/prev_video_cover_image}>
					{share_buttons}
					<span class="video text-uppercase">video</span>
				</div>
				<div data-equalizer-watch="data-equalizer-watch" class="gallery-pane-content">
					<h2 class="title text-uppercase">{title}</h2>
					<a href="{url_title_path='world-rally/world-rally-2013-14/gallery'}" class="text-uppercase button-transparent">play video</a>
				</div>
			</div>
		</div>
		{/if}

		{/exp:channel:entries}

	</div>
</section>

{footer}