<section class="world-rally-local-subnav">
	<div class="global-local-subnav">
		<div class="sub-heading"><a class="text-uppercase">World Rally 2013/14</a></div>
		<ul>
			<li{if embed:page == "route"} class="active"{/if}><a href="{path='world-rally/world-rally-2013-14/route'}" class="text-uppercase"><span>The Route</span></a></li>
			<li{if embed:page == "news"} class="active"{/if}><a href="{path='world-rally/world-rally-2013-14/news'}" class="text-uppercase"><span>News</span></a></li>
			<li{if embed:page == "entries"} class="active"{/if}><a href="{path='world-rally/world-rally-2013-14/entries'}" class="text-uppercase"><span>Entries</span></a></li>
			<li{if embed:page == "gallery"} class="active"{/if}><a href="{path='world-rally/world-rally-2013-14/gallery'}" class="text-uppercase"><span>Gallery</span></a></li>
		</ul>
	</div>
</section>