{embed="site/.header" snap_to="undefined" snap_offset="undefined"}

{embed="world-rally/.previous-rally-subnav" page="news"}

<section style="background-image: url('/assets/images/bg-images/world-rally-previous-bg-2.jpg'); background-position: center 95%;" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--small global-page-hero-adjust-subnav">
	{back_button}
</section>
<section id="world-rally-news" class="world-rally-news global-padding-top-only--small">
	<div class="banner">world rally 2013/14 news</div>
	<div class="row padded-full-width-row">
		<div data-columns class="news-panes">

			{exp:channel:entries channel="previous_rally_news" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc"}
			<div class="news-pane columns">
				<div class="news-pane-inner">
					<div class="news-pane-header" {prev_news_main_image}style="background-image:url('{image:url}')"{/prev_news_main_image}></div>
					<div class="news-pane-content">
						<h5 class="text-uppercase date">{entry_date format="%d %F %Y"}</h5>
						<h4 class="text-uppercase title">{title}</h4>
						{prev_news_excerpt}
						<a href="{url_title_path='world-rally/world-rally-2013-14/news'}" class="read-more">READ MORE</a>
					</div>
				</div>
			</div>
			{/exp:channel:entries}

		</div>
	</div>
</section>

{footer}