{exp:channel:entries channel="previous_rally_gallery|previous_rally_video" dynamic="no" url_title="{segment_4}" disable="member_data|category_fields|pagination" cache="yes" refresh="60" require_entry="yes" status="published"}
{if no_results}{redirect="404"}{/if}

{embed="site/.header" snap_to="undefined" snap_offset="undefined"}

<section class="world-rally-local-subnav">
	<div class="global-local-subnav">
		<div class="sub-heading">
			<a class="text-uppercase">Oyster World Rally 2013/14</a>
			<span>{title}</span>
		</div>
	</div>
</section>

{if channel_short_name == "previous_rally_video"}
<section class="full-screen-media--video after-nav full-screen">
	<div class="video-embed-container">
		{prev_video}
	</div>
</section>
{if:elseif channel_short_name == "previous_rally_gallery"}
<section id="galleries" data-full-screen="true" data-title="{title}" class="full-screen-media after-nav full-screen">
	<div class="gallery-container">

		{prev_gallery}
		{if image:count == 1}
		<div class="gallery-content" data-gallery="{url_title}" data-title="{event_day_number}">
		{/if}
			<a href="{image:url}" data-sub-html="{image:description}">
				<img src="{image:url:gallery_thumb}" />
			</a>
		{if image:count == image:total}
		</div>
		{/if}
		{/prev_gallery}

	</div>
</section>
{/if}

{footer}

{/exp:channel:entries}