{exp:channel:entries channel="previous_rally_news" dynamic="no" url_title="{segment_4}" disable="member_data|category_fields|pagination" cache="yes" refresh="60" require_entry="yes" status="published"}
{if no_results}{redirect="404"}{/if}

{embed="site/.header" snap_to="undefined" snap_offset="undefined"}

<section {prev_news_main_image}style="background-image:url('{image:url}')"{/prev_news_main_image} class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
	{back_button}
</section>

<article class="news-item global-padding-top-only--medium">
	<header class="row row-pad">
		<div class="large-7">
			<h2>
				<time datetime="{entry_date format="%Y-%m-%d %H:%i"}">{entry_date format="%d %F %Y"}</time>
			</h2>
			<h1>{title}</h1>
		</div>
	</header>

	{prev_news_content}

	{if prev_news_content:content != ""}
	<section class="row row-pad">
		<div class="large-7">
			{prev_news_content:content}
		</div>
	</section>
	{/if}

	{if prev_news_content:media != ""}
	<div class="featured-media row row-pad">
		<div class="video-embed-container">
			{prev_news_content:media}
		</div>
	</div>
	{/if}

	{/prev_news_content}

</article>

{footer}

{/exp:channel:entries}