{if !segment_2}
	{embed="world-rally/.landing"}
{if:elseif !segment_3}
	{embed="world-rally/.previous-rally"}
{if:elseif segment_3 == "gallery"}
	{if !segment_4}
		{embed="world-rally/.previous-rally-gallery"}
	{if:else}
		{embed="world-rally/.previous-rally-gallery-single"}
	{/if}
	{if:elseif segment_3 == "route"}
	{embed="world-rally/.route"}
{if:elseif segment_3 == "entries"}
	{embed="world-rally/.previous-rally-entries"}
{if:elseif segment_3 == "news"}
	{if !segment_4}
		{embed="world-rally/.previous-rally-news"}
	{if:else}
		{embed="world-rally/.previous-rally-article"}
	{/if}
{if:else}
	{redirect="404"}
{/if}