{header}

{embed="world-rally/.previous-rally-subnav" page="news"}

<section style="background-image: url('/assets/images/bg-images/world-rally-previous-bg-2.jpg'); background-position: center 95%;" class="hero after-nav global-page-hero global-page-hero--small global-page-hero-adjust-subnav">
      {back_button}
    </section>
    <section id="world-rally-news" class="world-rally-news">
      <div class="banner">world rally 2013/14 news</div>
      <div class="row padded-full-width-row">
        <div class="news-panes">
          <div class="small-12 medium-6 large-4 columns news-pane">
            <div class="news-pane-inner">
              <div class="news-pane-header" style="background-image: url('/assets/images/bg-images/world-rally-news-bg-3.png')"></div>
              <div class="news-pane-content">
                <h5 class="text-uppercase date">20 NOVEMBER 2013</h5>
                <h4 class="text-uppercase title">INCREDIBLE REUNION</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ... READ MORE
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns news-pane">
            <div class="news-pane-inner">
              <div class="news-pane-header" style="background-image: url('/assets/images/bg-images/world-rally-news-bg-2.jpg')"></div>
              <div class="news-pane-content">
                <h5 class="text-uppercase date">12 NOVEMBER 2013</h5>
                <h4 class="text-uppercase title">it's rubbish in paradise</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ... READ MORE
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns news-pane">
            <div class="news-pane-inner">
              <div class="news-pane-header" style="background-image: url('/assets/images/bg-images/world-rally-news-bg-1.png')"></div>
              <div class="news-pane-content">
                <h5 class="text-uppercase date">22 NOVEMBER 2013</h5>
                <h4 class="text-uppercase title">shalom orphanage visit in kupang</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ... READ MORE
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns news-pane">
            <div class="news-pane-inner">
              <div class="news-pane-header" style="background-image: url('/assets/images/bg-images/world-rally-news-bg-3.png')"></div>
              <div class="news-pane-content">
                <h5 class="text-uppercase date">20 NOVEMBER 2013</h5>
                <h4 class="text-uppercase title">INCREDIBLE REUNION</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ... READ MORE
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns news-pane">
            <div class="news-pane-inner">
              <div class="news-pane-header" style="background-image: url('/assets/images/bg-images/world-rally-news-bg-2.jpg')"></div>
              <div class="news-pane-content">
                <h5 class="text-uppercase date">12 NOVEMBER 2013</h5>
                <h4 class="text-uppercase title">it's rubbish in paradise</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ... READ MORE
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns news-pane">
            <div class="news-pane-inner">
              <div class="news-pane-header" style="background-image: url('/assets/images/bg-images/world-rally-news-bg-1.png')"></div>
              <div class="news-pane-content">
                <h5 class="text-uppercase date">22 NOVEMBER 2013</h5>
                <h4 class="text-uppercase title">shalom orphanage visit in kupang</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ... READ MORE
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns news-pane">
            <div class="news-pane-inner">
              <div class="news-pane-header" style="background-image: url('/assets/images/bg-images/world-rally-news-bg-3.png')"></div>
              <div class="news-pane-content">
                <h5 class="text-uppercase date">20 NOVEMBER 2013</h5>
                <h4 class="text-uppercase title">INCREDIBLE REUNION</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ... READ MORE
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns news-pane">
            <div class="news-pane-inner">
              <div class="news-pane-header" style="background-image: url('/assets/images/bg-images/world-rally-news-bg-2.jpg')"></div>
              <div class="news-pane-content">
                <h5 class="text-uppercase date">12 NOVEMBER 2013</h5>
                <h4 class="text-uppercase title">it's rubbish in paradise</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ... READ MORE
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns news-pane">
            <div class="news-pane-inner">
              <div class="news-pane-header" style="background-image: url('/assets/images/bg-images/world-rally-news-bg-1.png')"></div>
              <div class="news-pane-content">
                <h5 class="text-uppercase date">22 NOVEMBER 2013</h5>
                <h4 class="text-uppercase title">shalom orphanage visit in kupang</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ... READ MORE
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{footer}