{embed="site/.header" snap_to="undefined" snap_offset="undefined"}

{embed="world-rally/.previous-rally-subnav" page="entries"}

<section style="background-image: url('/assets/images/bg-images/world-rally-entries-bg.jpg'); " class="hero after-nav global-page-hero global-page-hero--small global-page-hero-adjust-subnav">
      {back_button}
    </section>
    <section id="world-rally-entries" class="world-rally-entries">
      <div class="banner">world rally 2013/14 entries</div>
      <div class="content row padded-full-width-row"> 
        <table class="table specs-table">
          <tbody>
            <tr class="heading">
              <th class="text-uppercase">entry name</th>
              <th class="text-uppercase">yacht image</th>
              <th class="text-uppercase">model</th>
              <th class="text-uppercase">hull number</th>
              <th class="text-uppercase">owner</th>
              <th class="text-uppercase">nationality</th>
              <th class="text-uppercase">blog</th>
            </tr>
            <tr>
              <td>Aequitas</td>
              <td style="background-image: url(&quot;/assets/images/contact-usa.jpg&quot;)" class="image"> </td>
              <td>47</td>
              <td>27</td>
              <td>Craig and Kathryn Allardice</td>
              <td>UK</td>
              <td class="link"><a href="">Oyster Blog</a></td>
            </tr>
            <tr>
              <td>Aequitas</td>
              <td style="background-image: url(&quot;/assets/images/contact-usa.jpg&quot;)" class="image"> </td>
              <td>47</td>
              <td>27</td>
              <td>Craig and Kathryn Allardice</td>
              <td>UK</td>
              <td class="link"><a href="">Oyster Blog</a></td>
            </tr>
            <tr>
              <td>Aequitas</td>
              <td style="background-image: url(&quot;/assets/images/contact-usa.jpg&quot;)" class="image"></td>
              <td>47</td>
              <td>27</td>
              <td>Craig and Kathryn Allardice</td>
              <td>UK</td>
              <td class="link"><a href="">Oyster Blog</a></td>
            </tr>
            <tr>
              <td>Aequitas</td>
              <td style="background-image: url(&quot;/assets/images/contact-usa.jpg&quot;)" class="image"> </td>
              <td>47</td>
              <td>27</td>
              <td>Craig and Kathryn Allardice</td>
              <td>UK</td>
              <td class="link"><a href="">Oyster Blog</a></td>
            </tr>
            <tr>
              <td>Aequitas</td>
              <td style="background-image: url(&quot;/assets/images/contact-usa.jpg&quot;)" class="image"> </td>
              <td>47</td>
              <td>27</td>
              <td>Craig and Kathryn Allardice</td>
              <td>UK</td>
              <td class="link"><a href="">Oyster Blog</a></td>
            </tr>
            <tr>
              <td>Aequitas</td>
              <td style="background-image: url(&quot;/assets/images/contact-usa.jpg&quot;)" class="image"> </td>
              <td>47</td>
              <td>27</td>
              <td>Craig and Kathryn Allardice</td>
              <td>UK</td>
              <td class="link"><a href="">Oyster Blog</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

{footer}