

{embed="site/.header" page_title="Previous Models" snap_to="90" snap_offset="undefined"}

<section style="background-image: url('/assets/images/bg-images/oysteryachts-about-heritage.jpg'); " class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--small">
	
</section>
<section class="page-fleet special-fleet">
	<div class="banner">Our heritage &amp; Previous Models</div>
	<div class="row row-pad content">
		<div id="yacht-grid" class="row">
			<ul>
				{exp:channel:entries channel="yacht_previous_models" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc"}
				<li class="column large-4 size-small">
					<div class="yacht-list-item">
						<a href="{url_title_path='yachts/previous-models'}">
							{yacht_prev_main_image}
							<div class="yacht-listing-photo"><img src="{image:url:blur}" data-img-name="{image:title}" data-sizes="auto" data-srcset="{image:url:w_416} 416w, {image:url:w_633} 633w, {image:url:w_983} 983w" class="lazyload blur-up"></div>
							{/yacht_prev_main_image}
							<div class="yacht-listing-title"><span class="yacht-list-modal">{title}</span></div>
						</a>
						{share_buttons}
					</div>
				</li>
				{/exp:channel:entries}

			</ul>
		</div>
	</div>
</section>
<style>

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
     float: left; 
}
</style>
{footer}