{embed="site/.header" snap_to="undefined" snap_offset="undefined"}
    <section style="background-image: url('/assets/images/about-us-why-us.jpg'); " class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
      <div id="page-back-button" class="back-button"><a class="button-clear-white"><i class="fa fa-angle-left"></i>Back</a></div>
    </section>
    <article class="why-oyster row">
      <div class="banner">
        <h1>What We Offer</h1>
      </div>
      <section class="staggered-features stagger-split">
        <div class="row staggered-row-reverse">
          <div class="staggered-details medium-7 small-12 columns">
            <div class="staggered-details-contents">
              <h2>New Builds</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus ultricies eleifend. Nunc vulputate, lorem vel vestibulum efficitur, lorem eros volutpat nunc, hendrerit tincidunt mi ex eget mi. Phasellus ultricies ligula non diam fermentum accumsan. Proin vestibulum anc tristique ultrices. Nulla lobortis enim hendrerit aliquam laoreet. Nunc eu odio id nulla nem interdum mattis vel vel orci. Nullam arcu dui, vehicula et felis eu, viverra efficitur mauris. </p>
              <div class="staggered-button-group"><a class="button-solid-white button-chubby">View Our Fleet</a></div>
            </div>
          </div>
          <div class="staggered-image medium-5 small-12 columns"><img src="/assets/images/why-oyster-40-years.jpg"></div>
        </div>
        <div class="row">
          <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/why-oyster-2.jpg"></div>
          <div class="staggered-details medium-5 small-12 columns">
            <div class="staggered-details-contents">
              <h2>Custom & Refit</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus ultricies eleifend. Nunc vulputate, lorem vel vestibulum efficitur, lorem eros volutpat nunc, hendrerit tincidunt mi ex eget mi. Phasellus ultricies ligula non diam fermentum accumsan. Proin vestibulum anc tristique ultrices. Nulla lobortis enim hendrerit aliquam laoreet. Nunc eu odio id nulla nem interdum mattis vel vel orci. Nullam arcu dui, vehicula et felis eu, viverra efficitur mauris. </p>
              <div class="staggered-button-group"><a class="button-solid-white button-chubby">Contact Sys</a></div>
            </div>
          </div>
        </div>
        <div class="row staggered-row-reverse">
          <div class="staggered-details medium-7 small-12 columns">
            <div class="staggered-details-contents">
              <h2>Brokerage Services</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus ultricies eleifend. Nunc vulputate, lorem vel vestibulum efficitur, lorem eros volutpat nunc, hendrerit tincidunt mi ex eget mi. Phasellus ultricies ligula non diam fermentum accumsan. Proin vestibulum anc tristique ultrices. Nulla lobortis enim hendrerit aliquam laoreet. Nunc eu odio id nulla nem interdum mattis vel vel orci. Nullam arcu dui, vehicula et felis eu, viverra efficitur mauris. </p>
              <div class="staggered-button-group"><a class="button-solid-white button-chubby">View Brokerage</a></div>
            </div>
          </div>
          <div class="staggered-image medium-5 small-12 columns"><img src="/assets/images/why-oyster-3.jpg"></div>
        </div>
        <div class="row">
          <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/why-oyster-4.jpg"></div>
          <div class="staggered-details medium-5 small-12 columns">
            <div class="staggered-details-contents">
              <h2>British Built</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus ultricies eleifend. Nunc vulputate, lorem vel vestibulum efficitur, lorem eros volutpat nunc, hendrerit tincidunt mi ex eget mi. Phasellus ultricies ligula non diam fermentum accumsan. Proin vestibulum anc tristique ultrices. Nulla lobortis enim hendrerit aliquam laoreet. Nunc eu odio id nulla nem interdum mattis vel vel orci. Nullam arcu dui, vehicula et felis eu, viverra efficitur mauris.</p>
              <div class="staggered-button-group"><a class="button-solid-white button-chubby">Contact After Sales</a><a class="button-solid-white button-chubby">Owners Area</a></div>
            </div>
          </div>
        </div>
        <div class="row staggered-row-reverse">
          <div class="staggered-details medium-7 small-12 columns">
            <div class="staggered-details-contents">
              <h2>Service Centres</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus ultricies eleifend. Nunc vulputate, lorem vel vestibulum efficitur, lorem eros volutpat nunc, hendrerit tincidunt mi ex eget mi. Phasellus ultricies ligula non diam fermentum accumsan. Proin vestibulum anc tristique ultrices. Nulla lobortis enim hendrerit aliquam laoreet. Nunc eu odio id nulla nem interdum mattis vel vel orci. Nullam arcu dui, vehicula et felis eu, viverra efficitur mauris. </p>
              <div class="staggered-button-group"><a class="button-solid-white button-chubby">View Brokerage</a></div>
            </div>
          </div>
          <div class="staggered-image medium-5 small-12 columns"><img src="/assets/images/why-oyster-5.jpg"></div>
        </div>
        <div class="row">
          <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/why-oyster-4.jpg"></div>
          <div class="staggered-details medium-5 small-12 columns">
            <div class="staggered-details-contents">
              <h2>Yacht Chartering</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus ultricies eleifend. Nunc vulputate, lorem vel vestibulum efficitur, lorem eros volutpat nunc, hendrerit tincidunt mi ex eget mi. Phasellus ultricies ligula non diam fermentum accumsan. Proin vestibulum anc tristique ultrices. Nulla lobortis enim hendrerit aliquam laoreet. Nunc eu odio id nulla nem interdum mattis vel vel orci. Nullam arcu dui, vehicula et felis eu, viverra efficitur mauris.</p>
              <div class="staggered-button-group"><a class="button-solid-white button-chubby">View Brokerage</a></div>
            </div>
          </div>
        </div>
      </section>
    </article>
     {footer}