{exp:channel:entries channel="other_events" disable="member_data|category_fields|pagination" cache="yes" refresh="60" require_entry="yes" status="published"}
{if no_results}{redirect="404"}{/if}

{embed="site/.header" snap_to=".events-home-about" snap_offset="125"}

<section {otherevent_main_image}style="background-image: url('{image:url}');"{/otherevent_main_image} class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
	{back_button}
</section>

<section class="page-home-about events-home-about">
	<div class="row padded-full-width-row">
		<div class="large-offset-1 large-7 float-left">
			<h2 class="yacht-list-modal">{exp:date_range start_date="{otherevent_start_date format='%d %F %Y'}" end_date="{otherevent_end_date format='%d %F %Y'}"}</h2>
			<h1 class="text-uppercase">{title}</h1>
			{otherevent_description}
		</div>
		<div class="large-offset-1 large-3 small-12 float-left">
			<div class="sticky-sidebar">
				{embed="events/.event_nav" id="{categories}{category_id}{/categories}"}
			</div>
		</div>
	</div>
</section>

{footer}

{/exp:channel:entries}