{exp:channel:entries channel="events_landing_page" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc"}
{embed="site/.header" page_title="Events" entry_id="{entry_id}" snap_to=".events-home-about" snap_offset="150"}

<section style="background-image: url('/assets/images/bg-images/events-bg.jpg'); background-position: center 95%;" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
</section>
<section class="page-home-about events-home-about">
	<div class="row padded-full-width-row">
		<div class="large-offset-1 large-2 float-left">
				
	LOGO
		

			
		</div>
		<div class="large-8 float-left">
				
			{events_description}
			<div class="further-info">
				{events_further_info}
			</div>
		

			
		</div>

	</div>
</section>
{/exp:channel:entries}
<section id="events-home-upcoming-events" class="events-view-events-mixin events-home-upcoming-events">
	<div class="banner">Forthcoming events</div>
	<div data-equalizer data-equalizer-mq="medium-up" class="row padded-full-width-row small-up-1 medium-up-2 large-up-3">
		{embed='events/.forthcoming_events'}
	</div>
</section>
{footer}