{embed="site/.header" snap_to=".events-home-about" snap_offset="150"}

<section style="background-image: url('/assets/images/bg-images/events-bg.jpg'); background-position: center 95%;" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
</section>
<section class="page-home-about events-home-about">
	<div class="row padded-full-width-row">
		<div class="large-offset-1 large-7 float-left">
			<h2 class="text-uppercase">Regattas | Events | Parties</h2>
			<h1 class="text-uppercase">Come Together</h1>
			<p>
				Supported by our family of sponsors, Oyster Regattas and events are run on a "hands on" basis by our own staff and, with the emphasis on fun, include parties and social functions every evening, not just for owners but also for their crew and friends. As we don't sell through agents or dealers, most owners have a direct relationship with Oyster staff so they can be sure of finding some friendly faces and a warm welcome on arrival.
			</p>
			<p>
				Of course it doesn't stop at regattas, since we also organise annual parties and dinners for owners during the London, Southampton and Annapolis boat shows, together with parties at events like the ARC and Antigua Sailing Week.
			</p>
			<div class="further-info">
				<p>
					For event invitations, booking forms and event programmes please visit the <a href="/oyster/owners-area">Oyster Owners’ Area</a> <br/>
					For further details on our Oyster events please contact XXXXXXXXXXXXX - xxxx.xxxxxxx@oysteryachts.com
				</p>
			</div>
		</div>
		<div class="large-offset-1 large-3 small-12 float-left">
			<table class="table definition-table events-home-sidetable">
				<tbody>
					<tr>
						<td colspan="2" class="text-uppercase heading">Events types</td>
					</tr>
					<tr>
						<td><a href="{path='events/regattas-calendar'}">Regattas</a></td>
					</tr>
					<tr>
						<td><a href="">Boat Shows</a></td>
					</tr>
					<tr>
						<td><a href="">Owner's Dinners</a></td>
					</tr>
					<tr>
						<td><a href="">Oyster World Rally</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<section id="events-home-upcoming-events" class="events-view-events-mixin events-home-upcoming-events">
	<div class="banner">upcoming events</div>
	<div data-equalizer data-equalize-by-row="true" class="row padded-full-width-row small-up-1 medium-up-2 large-up-3">
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-1.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">04</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster antigua regatta 2016</h2>
							<h5 class="sub-title text-uppercase">04 april 2016 - 09 april 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-2.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">13</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster private view, st katherine docks</h2>
							<h5 class="sub-title text-uppercase">13 april 2016 - 17 april 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-3.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">15</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster london owners' dinner 2016</h2>
							<h5 class="sub-title text-uppercase">15 april 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-4.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">28</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">palma superyacht show</h2>
							<h5 class="sub-title text-uppercase">28 april 2016 - 02 may 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-5.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">May</h2><span class="date">13</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster brokerage spring show</h2>
							<h5 class="sub-title text-uppercase">13 may 2016 - 15 may 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns end">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-6.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">july</h2><span class="date">28</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">sydney international boat show, 2016</h2>
							<h5 class="sub-title text-uppercase">28 july 2016 - 01 august 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{footer}