{embed="site/.header" snap_to=".events-regattas-callendar" snap_offset="125"}

<section style="background-image: url('/assets/images/bg-images/events-bg.jpg'); background-position: center 95%;" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
	{back_button}
</section>

<section id="events-regattas-callendar" class="events-view-events-mixin events-home-upcoming-events events-regattas-callendar">
	<div class="banner">regatta callendar</div>
	<div data-equalizer data-equalize-by-row="true" class="row padded-full-width-row small-up-1 medium-up-2 large-up-3">
		
		{exp:channel:entries channel="event" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc"}
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-1.jpg')">
					{share_buttons}
					<span class="images text-uppercase">past event</span>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">04</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster antigua regatta 2016</h2>
							<h5 class="sub-title text-uppercase">04 april 2016 - 09 april 2016</h5><a href="{path='events/past-regattas'}" class="text-uppercase button-transparent">view report</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{/exp:channel:entries}



		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-2.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div><span class="images text-uppercase">past event</span>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">13</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster private view, st katherine docks</h2>
							<h5 class="sub-title text-uppercase">13 april 2016 - 17 april 2016</h5><a href="{path='events/past-regattas'}" class="text-uppercase button-transparent">view report</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-3.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">15</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster london owners' dinner 2016</h2>
							<h5 class="sub-title text-uppercase">15 april 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-4.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">28</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">palma superyacht show</h2>
							<h5 class="sub-title text-uppercase">28 april 2016 - 02 may 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-5.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">May</h2><span class="date">13</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster brokerage spring show</h2>
							<h5 class="sub-title text-uppercase">13 may 2016 - 15 may 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns end">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-6.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">july</h2><span class="date">28</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">sydney international boat show, 2016</h2>
							<h5 class="sub-title text-uppercase">28 july 2016 - 01 august 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-1.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">04</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster antigua regatta 2016</h2>
							<h5 class="sub-title text-uppercase">04 april 2016 - 09 april 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-2.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">13</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster private view, st katherine docks</h2>
							<h5 class="sub-title text-uppercase">13 april 2016 - 17 april 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-3.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">15</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster london owners' dinner 2016</h2>
							<h5 class="sub-title text-uppercase">15 april 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-4.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">April</h2><span class="date">28</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">palma superyacht show</h2>
							<h5 class="sub-title text-uppercase">28 april 2016 - 02 may 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-5.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">May</h2><span class="date">13</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">oyster brokerage spring show</h2>
							<h5 class="sub-title text-uppercase">13 may 2016 - 15 may 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns end">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" style="background-image: url('/assets/images/bg-images/events-home-bg-6.jpg')">
					<div class="share"><img src="/assets/images/share.png">
					</div>
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">july</h2><span class="date">28</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">sydney international boat show, 2016</h2>
							<h5 class="sub-title text-uppercase">28 july 2016 - 01 august 2016</h5><a href="{path='events/upcoming-regattas'}" class="text-uppercase button-transparent">view event</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{footer}