{embed="site/.header" snap_to=".events-regattas-callendar" snap_offset="125"}

<section style="background-image: url('/assets/images/bg-images/events-bg.jpg'); background-position: center 95%;" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
	{back_button}
</section>

<section id="events-regattas-callendar" class="events-view-events-mixin events-home-upcoming-events events-regattas-callendar">
	<div class="banner">regatta callendar</div>
	<div data-equalizer data-equalize-by-row="true" class="row padded-full-width-row small-up-1 medium-up-2 large-up-3">
		
		{exp:channel:entries channel="event" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc"}
		<div class="small-12 medium-6 large-4 columns">
			<div class="gallery-pane">
				<div class="gallery-pane-header images" {event_main_image}style="background-image: url('{image:url}');"{/event_main_image}>
					{share_buttons}
					{if current_time > event_end_date}
					<span class="images text-uppercase">past event</span>
					{/if}
				</div>
				<div class="gallery-pane-content">
					<div data-equalizer-watch class="row small-collapse medium-collapse large-collapse">
						<div class="left small-4 large-4 columns">
							<h2 class="month text-uppercase">{event_start_date format="%F"}</h2><span class="date">{event_start_date format="%d"}</span>
						</div>
						<div class="right small-8 large-8 columns">
							<h2 class="title text-uppercase">{title}</h2>
							<h5 class="sub-title text-uppercase">{event_start_date format="%d %F %Y"} - {event_end_date format="%d %F %Y"}</h5><a href="{url_title_path='events/event'}" class="text-uppercase button-transparent">view {if current_time > event_end_date}report{if:else}event{/if}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{/exp:channel:entries}

	</div>
</section>

{footer}