{embed="site/.header" snap_to=".events-home-about" snap_offset="125"}

<section style="background-image: url('/assets/images/bg-images/events-upcoming-bg.jpg'); " class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
      </div>
    </section>
    <section class="page-home-about events-home-about">
      <div class="row padded-full-width-row">
        <div class="large-offset-1 large-7 float-left">
          <h1 class="text-uppercase">ANTIGUA REGATTA 2016</h1>
          <p>
            This year's Caribbean regatta will be taking place in Antigua from 4th - 9th April 2016.
            
          </p>
          <p>
            We are very pleased that we have been able to arrange great new places to visit and to hold the parties, taking the fleet away for 3 nights from English Harbour.  The format will allow a good mixture of great scenery around the South Eastern side at the start of the regatta, then calmer sailing with interesting courses around to the West. The programme also enables us to offer a choice of lay-day activities, a golfing team competition known as the Captain’s Choice at the Jolly Harbour Golf Club and/or lunch, drinks, beach games or general relaxation at Jackie O’s Love Beach.
            
          </p>
          <p>
            For those who would like a more casual approach, please do join us as a Social Entry, enjoying the same benefits as a Racing Entry - moored with the fleet, attending the evening venues, joining in on the lay-day fun and spending time in the company of other owners and their friends. The sequence of places we will visit, will also allow "Social Entries" to find good anchorages for leisurely lunches whilst the other are out racing!
            
            
            
            
          </p>
        </div>
        <div class="large-offset-1 large-3 small-12 float-left">

          <aside class="overview-download columns">
            <div class="block-section-header aside-header">
              <h3 class="text-uppercase">Events Types</h3>
              <div class="dropdown-arrow"></div>
            </div>
            <div class="overview-contents prev-models">
              <div class="overview">
                {event_category_table}
              </div>
            </div>
          </aside>
          
        </div>
      </div>
    </section>
    <section id="events-upcoming-regattas-signup-info" class="events-upcoming-regattas-signup-info download-documents">
      <div class="banner">Event signup &amp; information</div>
      <div class="row padded-full-width-row content">
        <ul>
          <li class="columns large-4 medium-6 small-12">
                <figure class="download-pdf clearfix">
                  <div class="download-thumb column small-3"><img src="/assets/images/oyster-event-pdf.png">
                  </div>
                  <figcaption class="description-download column small-9"><a class="title text-uppercase">events programme.</a><a href="" class="external-file-btn button-solid-white text-uppercase">View &nbsp;<span class="size text-uppercase">(2.3MB)</span></a>
                  </figcaption>
                </figure>
          </li>
          <li class="columns large-4 medium-6 small-12">
                <figure class="download-pdf clearfix">
                  <div class="download-thumb column small-3"><img src="/assets/images/oyster-event-pdf.png">
                  </div>
                  <figcaption class="description-download column small-9"><a class="title text-uppercase">events booking form.</a><a href="" class="external-file-btn button-solid-white text-uppercase">View &nbsp;<span class="size text-uppercase">(2.3MB)</span></a>
                  </figcaption>
                </figure>
          </li>
          <li class="columns large-4 medium-6 small-12">
                <figure class="download-pdf clearfix">
                  <div class="download-thumb column small-3"><img src="/assets/images/oyster-event-pdf.png">
                  </div>
                  <figcaption class="description-download column small-9"><a class="title text-uppercase">notice of regatta.</a><a href="" class="external-file-btn button-solid-white text-uppercase">View &nbsp;<span class="size text-uppercase">(2.3MB)</span></a>
                  </figcaption>
                </figure>
          </li>
        </ul>
      </div>
    </section>
    <section id="events-upcoming-regattas-documentation" class="events-upcoming-regattas-documentation download-documents">
      <div class="banner">documentation</div>
      <div class="row padded-full-width-row content">
        <ul>
          <li class="columns large-4 medium-6 small-12">
                <figure class="download-pdf clearfix">
                  <div class="download-thumb column small-3"><img src="/assets/images/oyster-event-pdf.png">
                  </div>
                  <figcaption class="description-download column small-9"><a class="title text-uppercase">events programme.</a><a href="" class="external-file-btn button-solid-white text-uppercase">View &nbsp;<span class="size text-uppercase">(2.3MB)</span></a>
                  </figcaption>
                </figure>
          </li>
          <li class="columns large-4 medium-6 small-12">
                <figure class="download-pdf clearfix">
                  <div class="download-thumb column small-3"><img src="/assets/images/oyster-event-pdf.png">
                  </div>
                  <figcaption class="description-download column small-9"><a class="title text-uppercase">events booking form. Testing some really large heading to see whether it will space out correctly.</a><a href="" class="external-file-btn button-solid-white text-uppercase">View &nbsp;<span class="size text-uppercase">(2.3MB)</span></a>
                  </figcaption>
                </figure>
          </li>
          <li class="columns large-4 medium-6 small-12">
                <figure class="download-pdf clearfix">
                  <div class="download-thumb column small-3"><img src="/assets/images/oyster-event-pdf.png">
                  </div>
                  <figcaption class="description-download column small-9"><a class="title text-uppercase">notice of regatta.</a><a href="" class="external-file-btn button-solid-white text-uppercase">View &nbsp;<span class="size text-uppercase">(2.3MB)</span></a>
                  </figcaption>
                </figure>
          </li>
        </ul>
      </div>
    </section>
    <section id="events-upcoming-regattas-additional-info" class="events-upcoming-regattas-additional-info download-documents">
      <div class="banner">additional information</div>
      <div class="row padded-full-width-row content">
        <ul>
          <li class="columns large-4 medium-6 small-12">
                <figure class="download-pdf clearfix">
                  <div class="download-thumb column small-3"><img src="/assets/images/oyster-event-pdf.png">
                  </div>
                  <figcaption class="description-download column small-9"><a class="title text-uppercase">events programme.</a><a href="" class="external-file-btn button-solid-white text-uppercase">View &nbsp;<span class="size text-uppercase">(2.3MB)</span></a>
                  </figcaption>
                </figure>
          </li>
          <li class="columns large-4 medium-6 small-12">
                <figure class="download-pdf clearfix">
                  <div class="download-thumb column small-3"><img src="/assets/images/oyster-event-pdf.png">
                  </div>
                  <figcaption class="description-download column small-9"><a class="title text-uppercase">events booking form.</a><a href="" class="external-file-btn button-solid-white text-uppercase">View &nbsp;<span class="size text-uppercase">(2.3MB)</span></a>
                  </figcaption>
                </figure>
          </li>
          <li class="columns large-4 medium-6 small-12">
                <figure class="download-pdf clearfix">
                  <div class="download-thumb column small-3"><img src="/assets/images/oyster-event-pdf.png">
                  </div>
                  <figcaption class="description-download column small-9"><a class="title text-uppercase">notice of regatta.</a><a href="" class="external-file-btn button-solid-white text-uppercase">View &nbsp;<span class="size text-uppercase">(2.3MB)</span></a>
                  </figcaption>
                </figure>
          </li>
        </ul>
      </div>
    </section>

{footer}