{if segment_1 == 'brokerage'}
	{shortlist_modal}
{if:elseif segment_1 == 'yachts'}
	{contact_sales_modal}
{/if}
{if:elseif segment_1 == 'events'}
	{request_boarding_pass_modal}
{/if}
<article class="newsletter">
  <div class="row row-pad new-sign-up small-collapse">
    <header class="column text-center newsletter-header">
      <h1>Subscribe to our newsletter</h1><span>Subscribe to our email newsletter for the latest news and updates from Oyster Yachts</span>
    </header>
    <div class="column medium-12">
      <div class="sign-up">
        <div class="flipsies">
          <form id="signup-home-footer" method="post" name="sign-up-form" novalidate class="sign-up-form">
            <div class="field">
              <input type="text" placeholder="First Name" name="fname" required="" class="newsletter-fname">
            </div>
            <div class="field">
              <input type="text" placeholder="Last Name" name="sname" required="" class="newsletter-sname">
            </div>
            <div class="field">
              <input type="email" placeholder="Email Address" name="email" required="" class="newsletter-email">
            </div>
            <div class="field">
              <select id="signup-country" name="cm-fo-ntykll" class="newsletter-country">
                <option value="">Country</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Azores">Azores</option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrain">Bahrain</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Belize">Belize</option>
                <option value="Benin">Benin</option>
                <option value="Bermuda">Bermuda</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Bonaire">Bonaire</option>
                <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                <option value="Botswana">Botswana</option>
                <option value="Brazil">Brazil</option>
                <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                <option value="Brunei">Brunei</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Burkina Faso">Burkina Faso</option>
                <option value="Burundi">Burundi</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Canada">Canada</option>
                <option value="Canary Islands">Canary Islands</option>
                <option value="Cape Verde">Cape Verde</option>
                <option value="Cayman Islands">Cayman Islands</option>
                <option value="Central African Republic">Central African Republic</option>
                <option value="Chad">Chad</option>
                <option value="Channel Islands">Channel Islands</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Christmas Island">Christmas Island</option>
                <option value="Cocos Island">Cocos Island</option>
                <option value="Colombia">Colombia</option>
                <option value="Comoros">Comoros</option>
                <option value="Congo">Congo</option>
                <option value="Congo Democratic Rep">Congo Democratic Rep</option>
                <option value="Cook Islands">Cook Islands</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Cote D&#x27;Ivoire">Cote D&#x27;Ivoire</option>
                <option value="Croatia">Croatia</option>
                <option value="Cuba">Cuba</option>
                <option value="Curacao">Curacao</option>
                <option value="Cyprus">Cyprus</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Djibouti">Djibouti</option>
                <option value="Dominica">Dominica</option>
                <option value="Dominican Republic">Dominican Republic</option>
                <option value="East Timor">East Timor</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Egypt">Egypt</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Equatorial Guinea">Equatorial Guinea</option>
                <option value="Eritrea">Eritrea</option>
                <option value="Estonia">Estonia</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Falkland Islands">Falkland Islands</option>
                <option value="Faroe Islands">Faroe Islands</option>
                <option value="Fiji">Fiji</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="French Guiana">French Guiana</option>
                <option value="French Polynesia">French Polynesia</option>
                <option value="French Southern Ter">French Southern Ter</option>
                <option value="Gabon">Gabon</option>
                <option value="Gambia">Gambia</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Gibraltar">Gibraltar</option>
                <option value="Great Britain">Great Britain</option>
                <option value="Greece">Greece</option>
                <option value="Greenland">Greenland</option>
                <option value="Grenada">Grenada</option>
                <option value="Guadeloupe">Guadeloupe</option>
                <option value="Guam">Guam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Guernsey">Guernsey</option>
                <option value="Guinea">Guinea</option>
                <option value="Guinea-Bissau">Guinea-Bissau</option>
                <option value="Guyana">Guyana</option>
                <option value="Haiti">Haiti</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong Kong">Hong Kong</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran">Iran</option>
                <option value="Iraq">Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Isle of Man">Isle of Man</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Jersey">Jersey</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Kiribati">Kiribati</option>
                <option value="Korea North">Korea North</option>
                <option value="Korea South">Korea South</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Kyrgyzstan">Kyrgyzstan</option>
                <option value="Laos">Laos</option>
                <option value="Latvia">Latvia</option>
                <option value="Lebanon">Lebanon</option>
                <option value="Lesotho">Lesotho</option>
                <option value="Liberia">Liberia</option>
                <option value="Libya">Libya</option>
                <option value="Liechtenstein">Liechtenstein</option>
                <option value="Lithuania">Lithuania</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Macau">Macau</option>
                <option value="Macedonia">Macedonia</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malawi">Malawi</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Mali">Mali</option>
                <option value="Malta">Malta</option>
                <option value="Marshall Islands">Marshall Islands</option>
                <option value="Martinique">Martinique</option>
                <option value="Mauritania">Mauritania</option>
                <option value="Mauritius">Mauritius</option>
                <option value="Mayotte">Mayotte</option>
                <option value="Mexico">Mexico</option>
                <option value="Midway Islands">Midway Islands</option>
                <option value="Moldova">Moldova</option>
                <option value="Monaco">Monaco</option>
                <option value="Mongolia">Mongolia</option>
                <option value="Montenegro">Montenegro</option>
                <option value="Montserrat">Montserrat</option>
                <option value="Morocco">Morocco</option>
                <option value="Mozambique">Mozambique</option>
                <option value="Myanmar">Myanmar</option>
                <option value="Namibia">Namibia</option>
                <option value="Nauru">Nauru</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherland Antilles">Netherland Antilles</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Nevis">Nevis</option>
                <option value="New Caledonia">New Caledonia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Niger">Niger</option>
                <option value="Nigeria">Nigeria</option>
                <option value="Niue">Niue</option>
                <option value="Norfolk Island">Norfolk Island</option>
                <option value="Norway">Norway</option>
                <option value="Oman">Oman</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Palau Island">Palau Island</option>
                <option value="Palestine">Palestine</option>
                <option value="Panama">Panama</option>
                <option value="Papua New Guinea">Papua New Guinea</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Philippines">Philippines</option>
                <option value="Pitcairn Island">Pitcairn Island</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Qatar">Qatar</option>
                <option value="Reunion">Reunion</option>
                <option value="Romania">Romania</option>
                <option value="Russia">Russia</option>
                <option value="Rwanda">Rwanda</option>
                <option value="Saipan">Saipan</option>
                <option value="Samoa">Samoa</option>
                <option value="Samoa American">Samoa American</option>
                <option value="San Marino">San Marino</option>
                <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                <option value="Saudi Arabia">Saudi Arabia</option>
                <option value="Senegal">Senegal</option>
                <option value="Serbia">Serbia</option>
                <option value="Serbia &amp; Montenegro">Serbia &amp; Montenegro</option>
                <option value="Seychelles">Seychelles</option>
                <option value="Sierra Leone">Sierra Leone</option>
                <option value="Singapore">Singapore</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="Solomon Islands">Solomon Islands</option>
                <option value="Somalia">Somalia</option>
                <option value="South Africa">South Africa</option>
                <option value="South Sudan">South Sudan</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="St Barthelemy">St Barthelemy</option>
                <option value="St Eustatius">St Eustatius</option>
                <option value="St Helena">St Helena</option>
                <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                <option value="St Lucia">St Lucia</option>
                <option value="St Maarten">St Maarten</option>
                <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                <option value="Sudan">Sudan</option>
                <option value="Suriname">Suriname</option>
                <option value="Swaziland">Swaziland</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Syria">Syria</option>
                <option value="Tahiti">Tahiti</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Tajikistan">Tajikistan</option>
                <option value="Tanzania">Tanzania</option>
                <option value="Thailand">Thailand</option>
                <option value="Togo">Togo</option>
                <option value="Tokelau">Tokelau</option>
                <option value="Tonga">Tonga</option>
                <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                <option value="Tunisia">Tunisia</option>
                <option value="Turkey">Turkey</option>
                <option value="Turkmenistan">Turkmenistan</option>
                <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                <option value="Tuvalu">Tuvalu</option>
                <option value="Uganda">Uganda</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Arab Emirates">United Arab Emirates</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States of America">United States of America</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Uzbekistan">Uzbekistan</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Vatican City State">Vatican City State</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                <option value="Wake Island">Wake Island</option>
                <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                <option value="Yemen">Yemen</option>
                <option value="Zambia">Zambia</option>
                <option value="Zimbabwe">Zimbabwe</option>
              </select>
            </div>
            <button type="submit" class="button button--hover button--cyan button--super-chubby sign-up-btn">Subscribe
              <div class="loader-container">
                <div class="loader">Loading...
                  <div class="ball"></div>
                  <div class="ball"></div>
                  <div class="ball"></div>
                </div>
              </div>
            </button>
          </form>
          <div aria-hidden="true" class="sign-up-success"><span><strong>Thank you. </strong> You have sucessfully subscribed to the Oyster Yachts newsletter.</span></div>
        </div>
      </div>
      <div class="form-error text-center text-uppercase"><span>ERROR: Invalid Email or incomplete fields</span></div>
    </div>
  </div>
</article>
</main>
<footer class='global-footer'>
  <div class="footer-contents row row-pad">
    <div class="social-wrapper-wrapper small-12 ">
      <div class="footer-navs show-for-medium">
        
        <nav class='footer-navs__nav'>
          <a href="{path='yachts'}" class="text-uppercase">Yachts</a>
          <ul class="show-for-medium">
            <li><a href="{path='yachts/decksaloons'}" class="text-uppercase">Deck Saloons</a></li>
            <li><a href="{path='yachts/superyachts-fleet'}" class="text-uppercase">SUperYachts</a></li>
            <li><a href="{path='yachts/why-oyster'}" class="text-uppercase">Why Oyster</a></li>
            <li><a href="{path='yachts/team'}" class="text-uppercase">Our Team</a></li>
			<li><a href="{path='yachts/heritage-previous-models'}" class="text-uppercase">Our Heritage</a></li>

          </ul>
        </nav>
        <nav class='footer-navs__nav'>
          <a href="{path='events'}" class="text-uppercase">Events</a>
          <ul class="show-for-medium">
          <li><a href="{path='world-rally'}" class="text-uppercase">Oyster World Rally</a></li>
            <li><a href="{path='events/regatta-calendar'}" class="text-uppercase">Regattas Calendar</a></li>
            <li><a href="{path='events/boat-shows'}" class="text-uppercase">Boat Shows</a></li>
            <li><a href="{path='events/other-events'}" class="text-uppercase">Owners' Events</a></li>
            <li><a href="{path='events/gallery'}" class="text-uppercase">Events Gallery</a></li>
          </ul>
        </nav>
        <nav class='footer-navs__nav'>
          <a href="{path='services'}" class="text-uppercase">Services</a>
          <ul class="show-for-medium">
            <li><a href="{path='brokerage'}" class="text-uppercase">Brokerage</a></li>
            <li><a href="{path='charter'}" class="text-uppercase">Charter </a></li>
            <li><a href="{path='services/oyster-crew'}" class="text-uppercase">Crew</a></li>
                        <li><a href="mailto:support@oysteryachts.com" class="text-uppercase">Support &amp; Spares</a></li>

          </ul>
        </nav>
         <nav class='footer-navs__nav'>
          <a href="{path='projects'}" class="text-uppercase">Projects</a>
          <ul class="show-for-medium">
                        <li><a href="{path='projects/maintenance-service'}" class="text-uppercase">Maintenance &amp; Service</a></li>
                                    <li><a href="{path='projects/projects'}" class="text-uppercase">New-Build</a></li>
            <li><a href="{path='projects/projects'}" class="text-uppercase">Restoration</a></li>
            <li><a href="{path='projects/projects'}" class="text-uppercase">Refit</a></li>


          </ul>
        </nav>

        <nav class='footer-navs__nav'>
          <a href="{path='news'}" class="text-uppercase">News</a>
          <ul class="show-for-medium">
            <li><a href="{path='news/news-library'}" class="text-uppercase">News Library</a></li>
            <li><a href="{path='news/magazine'}" class="text-uppercase">Oyster Magazine</a></li>
            <li><a href="{path='news/press-coverage'}" class="text-uppercase">Press Coverage</a></li>
          </ul>
        </nav>
       
        <div>
            <nav class='footer-navs__nav'>
              <a href="{path='owners-area'}" class="text-uppercase">Owners' Area</a>
                 <a href="{path='contact'}" class="text-uppercase">Offices</a>
                    <a href="{path='media-centre/login'}" class="text-uppercase">Media</a>
                       <a href="{path='contact/recruitment'}" class="text-uppercase">Careers</a>
            </nav>
            <nav class="end float-right social-wrapper">
                <div class="social-icons">
                    <a href="https://www.facebook.com/oystermarine" target="_blank" class="facebook-icon">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a href="https://twitter.com/OysterMarine" target="_blank" class="twitter-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/user/oystermarine" target="_blank" class="youtube-icon">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                    <a href="https://www.instagram.com/oysteryachts/" target="_blank" class="instagram-icon">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  <div class="copyright" style="border-top: 1px solid #7d9aaa;">
    <div class="row row-pad">
      <ul class="small-12 medium-9 copyright-links">
        <li class="text-uppercase">
          &copy;
          <?php echo date('Y'); ?> Oyster Yachts
        </li>
        <li class="show-for-medium"><a href="{path='legal/privacy-policy'}" class="text-uppercase">Privacy Policy</a></li>
      </ul>
      <div class="show-for-medium float-right medium-3 designed-by"><span class="text-uppercase"><a href="http://www.interstateteam.com" target="_blank" style="color:#fff;">Design By Interstate, London</a></span></div>
    </div>
  </div>
</footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Ctq_b0K3ygkut_DEJ4YFyuGkcWKvM68"></script>
	<script type="text/javascript" src="{site_url}assets/scripts/main.js?cahce=1515425029" async></script>
</body>

</html>
