<section class="newsletter">
	<div class="row row-pad">
		<div class="large-2 large-offset-1">
			<span>Register for the Latest News and Updates from Oyster</span>
		</div>
		<div class="large-8 end">
			<form>
				<input type="text" placeholder="Email Address">
				<a class="button" href="">Register</a>
			</form>
		</div>
	</div>
</section>
<footer>
	<!--<div class="footer-nav">
		<div class="row row-pad">
			<div class="large-2 large-offset-1">
				<span>About Us</span>
				<ul>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
				</ul>
				<span>About Us</span>
				<ul>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
				</ul>
			</div>
			<div class="large-2">
				<span>About Us</span>
				<ul>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
				</ul>
			</div>
			<div class="large-2">
				<span>About Us</span>
				<ul>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
				</ul>
			</div>
			<div class="large-2">
				<span>About Us</span>
				<ul>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
					<li href=""><a href="">Why Buy</a></li>
				</ul>
			</div>
			<div class="large-2 end">
				<span>About Us</span>
				<div class="social">
					<a class="facebook" href=""></a>
					<a class="twitter" href=""></a>
					<a class="youtube" href=""></a>
					<a class="instagram" href=""></a>
				</div>
			</div>
		</div>
	</div>-->
	<div class="footer-highlights">
		<div class="row row-pad">
			<div class="large-10 large-offset-1 end">
				<ul>
					<li>Sales</li>
					<li>Brokerage</li>
					<li>Charter</li>
					<li>Custom &amp; Refit</li>
				</ul>
				<img src="{site_url}images/static/logo_white.png">
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="row row-pad">
			<div class="large-10 large-offset-1 end">
				<ul>
					<li>&copy; 2016 Oyster Yachts</li>
					<li>All rights reserved</li>
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">Terms of Use</a></li>
					<li><a href="">Cookies Policy</a></li>
				</ul>
				<span>DESIGN BY INTERSTATE, London</span>
			</div>
		</div>
	</div>
</footer>

<script src="{site_url}dist/scripts.js"></script>
</body>
</html>