<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Oyster Yachts</title>
		<link rel="stylesheet" href="{site_url}dist/style.css">
		<script src="https://use.typekit.net/htg3ydj.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>
	<body>
		<header>
			<div class="owners-area">
				<a href="">OWNERS AREA</a>
			</div>
			<nav>
				<a href="" class="logotwo"></a>

				<a href="" class="logo"></a>
				<ul id="main-nav" class="main-nav">
					<li><a href="">ABOUT US</a></li>
					<li><a href="">YACHTS</a></li>
					<li><a href="{path='brokerage'}">BROKERAGE</a></li>
					<li><a href="">CHARTER</a></li>
					<li><a href="">EVENTS</a></li>
					<li><a href="">NEWS</a></li>
					<li><a href="">CONTACT</a></li>
				</ul>
				<a href="" class="site-search-open"></a>
				<a href="" class="site-search-close"></a>
				<div class="search-bar">
					<input type="text" placeholder="What are you looking for?">
				</div>
			</nav>
		</header>