<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charse="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		{exp:seo_lite use_last_segment="yes"}
		<title>Oyster Yachts</title>
		<link rel="stylesheet" href="{site_url}assets/css/app.css">
		<style>
			.tmp-table th, .tmp-table td {
			text-transform: uppercase;
			}
			.tmp-table >tbody>tr>td {
			padding: 0;
			border: none;
			font-size: 1em;
			vertical-align: top;
			}
			.tmp-table table {
			width: 100%;
			}
		</style>
	</head>
	<body>
		<header {if segment_2 == fleet && segment_3 != ""}data-snap-to-min-nav=".full-screen #yacht-nav" data-snap-offset="55"{else}data-snap-to-min-nav="90" data-snap-offset="undefined"{/if} class="global-header">
			<div class="owners-area">
				<a href="" class="text-uppercase float-right owners-area-text">owners area</a>
				<div class="follow float-right">
					<div class="social-links">
						<div class="back-btn">
							<div class="fa fa-angle-right"></div>
						</div>
						<div class="social-icons">
							<i class="fa fa-facebook"></i>
							<i class="fa fa-twitter"></i>
							<i class="fa fa-youtube-play"></i>
							<i class="fa fa-instagram"></i>
						</div>
					</div>
					<a class="text-uppercase float-right follow-oyster">follow oyster</a>
				</div>
			</div>

			{main_nav}
			
		</header>