<nav class="global-nav">
  <ul class="global-nav__main">
    <li>
      <a href="{path='yachts'}">Yachts</a>
    </li>
    <li>
      <a href="/world-rally">World Rally</a>
    </li>
    <li>
      <a href="/world-rally">Events</a>
    </li>
    <li>
      <a href="/brokerage">Brokerage</a>
    </li>
    <li>
      <a href="/charter">Charter</a>
    </li>
    <li>
      <a href="/contact#oyster-custom">Crew</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/news">News</a>
    </li>
  </ul>
  <ul class="global-nav__extra">

  </ul>
  <a class='button button--hover button--cyan'>Owners' Area</a>
  <ul class="global-nav__social">

  </ul>
</nav>
