<section class="owners-area-sub-nav">
  <div class="global-local-subnav">
<div class="sub-heading"><a href="{path='media-centre'}" class="text-uppercase" style="padding-right: 1.5rem;
    font-family: 'trajan-pro-3', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .05rem;
    font-size: 0.8rem;
    line-height: 4.25;">Oyster Yachts Media Centre</a></div>
    {exp:user:logout return="/"}
                      <a href="{url}" class="button-transparent button-chubby float-right">Logout</a>
                    {/exp:user:logout}
  </div>
</section>