{embed="site/.header" snap_to="undefined" snap_offset="undefined"}

<section style="background-image: url('/assets/images/news-hero.jpg');" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
	{back_button}
</section>

<section id="news-thumbs" class="news-thumbs global-padding-top-only--small">
	<div class="banner">Latest News</div>
	<div data-equalizer data-equalize-on="medium" class="row wrapper">
		<ul>

			{exp:channel:entries channel="news|event_news" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" limit="3"}
			<li class="columns medium-4 small-6 small-12">
				<div class="content">
					{if channel_short_name == "news"}
					<div {article_main_image}style="background-image:url('{image:url}')"{/article_main_image} class="news-thumb-image">
						{share_buttons}
					</div>
					<div data-equalizer-watch class="news-details">
						<time datetime="{entry_date format="%Y-%m-%d %H:%i"}" class="text-uppercase">{entry_date format="%d %F %Y"}</time>
						<h3 class="text-uppercase"><a href="{url_title_path='news/article'}">{title}</a></h3>
						{article_excerpt}
						<a href="{url_title_path='news/article'}" class="read-more">READ MORE</a>
					</div>
					{if:elseif channel_short_name == "event_news"}
					<div {event_news_image}style="background-image:url('{image:url}')"{/event_news_image} class="news-thumb-image">
						{share_buttons}
					</div>
					<div data-equalizer-watch class="news-details">
						{event_news_report status="published"}
						{event_news_report:event_day_event status="published"}
						<time datetime="{entry_date format="%Y-%m-%d %H:%i"}" class="text-uppercase">{entry_date format="%d %F %Y"}</time>
						<h3 class="text-uppercase"><a href="{path='events/event/{event_news_report:event_day_event:url_title}'}">{title}</a></h3>
						{event_news_content}
						<a href="{path='events/event/{event_news_report:event_day_event:url_title}'}" class="read-more">READ MORE</a>
						{/event_news_report:event_day_event}
						{/event_news_report}
					</div>
					{/if}
				</div>
			</li>
			{/exp:channel:entries}

		</ul>
	</div>
	<div class="text-center"><a href="{path='news/news-library'}" class="button-solid-blue">View News Library</a></div>
</section>

{exp:channel:entries channel="magazine" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc" limit="1"}
<section class="magazine-feature">
	<div style="background-image: url('/assets/images/water-bg.jpg')" class="magazine-full-feature">
		<div class="magazine-content row row-pad">
			<div class="description medium-7 small-12">
				<h2>{title}</h2>
				{magazine_description}
				<a href="{magazine_link}" class="button-solid-white" target="_blank">Read on Issuu</a>
			</div>
			{magazine_rendered_image}<img src="{image:url}" class="magazine-thumb medium-5 small-12">{/magazine_rendered_image}
		</div>
	</div>
	<div class="text-center"><a href="{path='news/magazine'}" class="button-solid-blue">View Magazine Archive</a></div>
</section>
{/exp:channel:entries}

<section class="press-articles">
	<div class="banner">Latest Press Articles</div>
	<div class="row press-list">
		
		{exp:channel:entries channel="press_coverage" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc" limit="3"}
		<figure class="external-file column large-4 medium-6 small-12">
			<div {press_image}style="background-image:url('{image:url}')"{/press_image} class="external-file-thumb"></div>
			<figcaption class="external-file-info">
				<time datetime="{entry_date format="%Y-%m"}" class="text-uppercase">{entry_date format="%F %Y"}</time><a class="external-file-name text-uppercase">{title}</a>
				{press_about}
				<a href="{press_pdf}" target="_blank" class="button-solid-white external-file-btn text-uppercase">Read Article <span class="external-file-size">{press_pdf}<span>(<?php echo number_format({file_size} / (1024*1024), 1); ?>MB)</span>{/press_pdf}</span></a>
			</figcaption>
		</figure>
		{/exp:channel:entries}
		
	</div>
	<div class="text-center"><a href="{path='news/press-coverage'}" class="button-solid-blue">View Press Articles</a></div>
</section>

{footer}