{header}

<section style="background-image: url('/assets/images/news-hero.jpg'); " class="hero after-nav global-page-hero global-page-hero--medium">
      <div id="page-back-button" class="back-button"><a class="button-clear-white"><i class="fa fa-angle-left"></i>Back</a></div>
    </section>
        <section id="news-thumbs" class="news-thumbs">
          <div class="banner">Latest News</div>
          <div class="row wrapper">
            <ul>
              <li class="columns medium-4 small-6">
                <div class="content">
                  <div style="background-image:url('/assets/images/news-preview1of3.jpg')" class="news-thumb-image">
                    <div class="share"><img src="/assets/images/share.png"></div>
                  </div>
                  <div class="news-details">
                    <time datetime="2015-08-09 20:00" class="text-uppercase">04 August 2015</time>
                    <h3 class="text-uppercase"><a>Oyster Yachts at Boot Dusseldorf 2016</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <a class="read-more">READ MORE</a></p>
                  </div>
                </div>
              </li>
              <li class="columns medium-4 small-6">
                <div class="content">
                  <div style="background-image:url('/assets/images/news-preview2of3.jpg')" class="news-thumb-image">
                    <div class="share"><img src="/assets/images/share.png"></div>
                  </div>
                  <div class="news-details">
                    <time datetime="2015-08-09 20:00" class="text-uppercase">04 August 2015</time>
                    <h3 class="text-uppercase"><a>Oyster Yachts at Boot Dusseldorf 2016</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <a class="read-more">READ MORE</a></p>
                  </div>
                </div>
              </li>
              <li class="columns medium-4 small-6">
                <div class="content">
                  <div style="background-image:url('/assets/images/news-preview3of3.jpg')" class="news-thumb-image">
                    <div class="share"><img src="/assets/images/share.png"></div>
                  </div>
                  <div class="news-details">
                    <time datetime="2015-08-09 20:00" class="text-uppercase">04 August 2015</time>
                    <h3 class="text-uppercase"> <a>Oyster Yachts at Boot Dusseldorf 2016</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <a class="read-more">READ MORE</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="text-center"><a href="" class="button-solid-blue">View News Library</a></div>
        </section>
    <section class="magazine-feature">
      <div style="background-image: url('/assets/images/water-bg.jpg')" class="magazine-full-feature">
        <div class="magazine-content row row-pad">
          <div class="description medium-7 small-12">
            <h2>Oyster Magazine<span>Issue 77</span></h2>
            <p>Issue 77 of our Oyster magazine is now available. This issue includes Lorem ipsum do sit amet, consectetur adipiscing elit. Maecenas eget neque rhoncus, molestie massa eu, accumsan felis. Nam arcu justo, mollis in varius at, commodo eget quam. Read the digital version of the magazine by clicking the link below.</p><a class="button-solid-white">Read on Issuu</a>
          </div><img src="/assets/images/magazines.png" class="magazine-thumb medium-5 small-12">
        </div>
      </div>
      <div class="text-center"><a href="" class="button-solid-blue">View Magazine Archive</a></div>
    </section>
    <section class="press-articles">
      <div class="banner">Latest Press Articles</div>
      <div class="row press-list">
            <figure class="external-file column large-4 medium-6 small-12">
              <div style="background-image:url('/assets/images/boat-magazine-2.jpg')" class="external-file-thumb"></div>
              <figcaption class="external-file-info">
                    <time datetime="2016-1" class="text-uppercase">January 2016</time><a class="external-file-name text-uppercase">Asia Pacific Boating</a>
                    <p>The British may have a reputation for reserve and restraint, but beneath this there’s often a cunning stealth...</p><a href="" class="button-solid-white external-file-btn text-uppercase">Read Article <span class="external-file-size">(2.3MB)</span></a>
              </figcaption>
            </figure>
            <figure class="external-file column large-4 medium-6 small-12">
              <div style="background-image:url('/assets/images/boat-magazine.jpg')" class="external-file-thumb"></div>
              <figcaption class="external-file-info">
                    <time datetime="2016-1" class="text-uppercase">January 2016</time><a class="external-file-name text-uppercase">Asia Pacific Boating</a>
                    <p>The British may have a reputation for reserve and restraint, but beneath this there’s often a cunning stealth...</p><a href="" class="button-solid-white external-file-btn text-uppercase">Read Article <span class="external-file-size">(2.3MB)</span></a>
              </figcaption>
            </figure>
            <figure class="external-file column large-4 medium-6 small-12">
              <div style="background-image:url('/assets/images/boat-magazine.jpg')" class="external-file-thumb"></div>
              <figcaption class="external-file-info">
                    <time datetime="2016-1" class="text-uppercase">January 2016</time><a class="external-file-name text-uppercase">Asia Pacific Boating</a>
                    <p>The British may have a reputation for reserve and restraint, but beneath this there’s often a cunning stealth...</p><a href="" class="button-solid-white external-file-btn text-uppercase">Read Article <span class="external-file-size">(2.3MB)</span></a>
              </figcaption>
            </figure>
      </div>
      <div class="text-center"><a href="" class="button-solid-blue">View Press Articles</a></div>
    </section>

{footer}