{header}

<section style="background-image: url('/assets/images/press-articles.jpg'); " class="hero after-nav global-page-hero global-page-hero--medium">
      {back_button}
    </section>
    <section class="latest-issue">
      <div class="banner">
        <h1>Oyster Magazine Latest Issue</h1>
      </div>
      <article class="row row-pad current-issue">
        <h1> <span>Issue 77</span>Summer 2015</h1>
        <div class="row small-collapse">
          <div class="large-7 column">
            <h2 class="text-uppercase">In this issue</h2>
            <ul class="list-of-issues row">
              <li>Oyster 118 </li>
              <li>Owner Story: RED CAT</li>
              <li>Oyster World Rally 2017-19: Evolution</li>
              <li>Custom by Name, Custom by Nature</li>
              <li>Oyster Fleet Review</li>
              <li>Oyster BVI &amp; Palma Regattas </li>
              <li>Owner Story: Britican</li>
              <li>New Yacht Reviews: Oyster 475 &amp; 545 </li>
              <li>Owner Story: Aretha</li>
              <li>Oyster Owners' Dinner</li>
              <li>Owner Story: Tiger </li>
              <li>In Build: The Oyster 675 &amp; 745</li>
              <li>Owner Story: RED CAT</li>
              <li>On Liberty: Shipshape</li>
            </ul>
          </div>
          <div class="large-5 column lastest-magazine-cover"><img src="/assets/images/lastest-magazine.jpg">
            <div class="button-group"><a class="button-solid-white button-chubby">Read On Issuu</a></div>
          </div>
        </div>
      </article>
    </section>
    <section class="prev-magazine-issues">
      <div class="banner">Previous Issues</div>
      <div class="row press-list">
        <div class="issue-wrapper column large-4 medium-6 small-12">
              <figure class="external-file">
                <div style="background-image:url('/assets/images/boat-magazine-3.jpg')" class="external-file-thumb"></div>
                <figcaption class="external-file-info"><a class="external-file-name text-uppercase">Asia Pacific Boating</a>
                      <p>The British may have a reputation for reserve and restraint, but beneath this there’s often a cunning stealth...</p><a href="" class="button-solid-white external-file-btn text-uppercase">View Issue</a>
                </figcaption>
              </figure>
        </div>
        <div class="issue-wrapper column large-4 medium-6 small-12">			
              <figure class="external-file">
                <div style="background-image:url('/assets/images/boat-magazine.jpg')" class="external-file-thumb"></div>
                <figcaption class="external-file-info"><a class="external-file-name text-uppercase">Asia Pacific Boating</a>
                      <p>The British may have a reputation for reserve and restraint, but beneath this there’s often a cunning stealth...</p><a href="" class="button-solid-white external-file-btn text-uppercase">View Issue</a>
                </figcaption>
              </figure>
        </div>
        <div class="issue-wrapper column large-4 medium-6 small-12">
              <figure class="external-file">
                <div style="background-image:url('/assets/images/boat-magazine-3.jpg')" class="external-file-thumb"></div>
                <figcaption class="external-file-info"><a class="external-file-name text-uppercase">Asia Pacific Boating</a>
                      <p>The British may have a reputation for reserve and restraint, but beneath this there’s often a cunning stealth...</p><a href="" class="button-solid-white external-file-btn text-uppercase">View Issue</a>
                </figcaption>
              </figure>
        </div>
        <div class="issue-wrapper column large-4 medium-6 small-12">
              <figure class="external-file">
                <div style="background-image:url('/assets/images/boat-magazine.jpg')" class="external-file-thumb"></div>
                <figcaption class="external-file-info"><a class="external-file-name text-uppercase">Asia Pacific Boating</a>
                      <p>The British may have a reputation for reserve and restraint, but beneath this there’s often a cunning stealth...</p><a href="" class="button-solid-white external-file-btn text-uppercase">View Issue</a>
                </figcaption>
              </figure>
        </div>
        <div class="issue-wrapper column large-4 medium-6 small-12">			
              <figure class="external-file">
                <div style="background-image:url('/assets/images/boat-magazine.jpg')" class="external-file-thumb"></div>
                <figcaption class="external-file-info"><a class="external-file-name text-uppercase">Asia Pacific Boating</a>
                      <p>The British may have a reputation for reserve and restraint, but beneath this there’s often a cunning stealth...</p><a href="" class="button-solid-white external-file-btn text-uppercase">View Issue</a>
                </figcaption>
              </figure>
        </div>
        <div class="issue-wrapper column large-4 medium-6 small-12">
              <figure class="external-file">
                <div style="background-image:url('/assets/images/boat-magazine-3.jpg')" class="external-file-thumb"></div>
                <figcaption class="external-file-info"><a class="external-file-name text-uppercase">Asia Pacific Boating</a>
                      <p>The British may have a reputation for reserve and restraint, but beneath this there’s often a cunning stealth...</p><a href="" class="button-solid-white external-file-btn text-uppercase">View Issue</a>
                </figcaption>
              </figure>
        </div>
      </div>
    </section>

{footer}