{embed="site/.header" snap_to="undefined" snap_offset="undefined"}

<section style="background-image: url('/assets/images/bg-images/news-news-library-bg.jpg'); " class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--small">
	{back_button}
</section>
<section id="news-news-library" class="world-rally-news news-news-library">
	<div class="row padded-full-width-row">
		<div data-columns class="news-panes">

			{exp:channel:entries channel="news" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc"}
			<div class="news-pane columns">
				<div class="news-pane-inner">
					<div class="news-pane-header" {article_main_image}style="background-image:url('{image:url}')"{/article_main_image}></div>
					<div class="news-pane-content">
						<h5 class="text-uppercase date">{entry_date format="%d %F %Y"}</h5>
						<h4 class="text-uppercase title">{title}</h4>
						{article_excerpt}
						<a href="{url_title_path='news/article'}" class="read-more">READ MORE</a>
					</div>
				</div>
			</div>
			{/exp:channel:entries}

		</div>
	</div>
</section>

{footer}