// Fonts

@mixin omnes_light {
	font-family: 'omnes_lightregular',sans-serif;
}

@mixin omnes_regular {
	font-family: 'omnes_regularregular',sans-serif;
}

@mixin omnes_medium {
	font-family: 'omnes_mediumregular',sans-serif;
}

@mixin trajan {
	font-family: "trajan-pro-3",sans-serif;
	font-style: normal;
	font-weight: 400;
}