{embed="site/.header" page_title="{title}" snap_to="undefined" snap_offset="55"}
       {exp:channel:entries channel="legal_documents" disable="member_data|category_fields|pagination" cache="yes" refresh="60" require_entry="yes" status="published"}

<section style="background-image: url('/assets/images/legal-banner.jpg'); " class="hero after-nav global-page-hero global-page-hero--small">
      {back_button}

    </section>
 
  
    <section id="conditions" class="conditions">
      <div class="banner">{title}</div>
      <div class="row">
        <table class="stack-override">
          <tbody>
            {legal_fields}
            <tr>
              <td class="text-uppercase header-column">
                <h3>{legal_fields:label}:</h3>
              </td>
              <td>
                <div class="table-content large-10 medium-11 small-12 columns small-centered">
                 {legal_fields:description}
                </div>
              </td>
            </tr>
            {/legal_fields}
           
          </tbody>
        </table>
      </div>
    </section>
 {/exp:channel:entries}

{footer}