@font-face {
    font-family: "omnes_regularregular";
    src: url("/assets/fonts/omnes-regular-webfont.eot");
    src: url("/assets/fonts/omnes-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/omnes-regular-webfont.woff2") format("woff2"),
         url("/assets/fonts/omnes-regular-webfont.woff") format("woff"),
         url("/assets/fonts/omnes-regular-webfont.ttf") format("truetype"),
         url("/assets/fonts/omnes-regular-webfont.svg#omnes_regularregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "omnes_mediumregular";
    src: url("/assets/fonts/omnes-medium-webfont.eot");
    src: url("/assets/fonts/omnes-medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/omnes-medium-webfont.woff2") format("woff2"),
         url("/assets/fonts/omnes-medium-webfont.woff") format("woff"),
         url("/assets/fonts/omnes-medium-webfont.ttf") format("truetype"),
         url("/assets/fonts/omnes-medium-webfont.svg#omnes_mediumregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "omnes_lightregular";
    src: url("/assets/fonts/omnes-light-webfont.eot");
    src: url("/assets/fonts/omnes-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/omnes-light-webfont.woff2") format("woff2"),
         url("/assets/fonts/omnes-light-webfont.woff") format("woff"),
         url("/assets/fonts/omnes-light-webfont.ttf") format("truetype"),
         url("/assets/fonts/omnes-light-webfont.svg#omnes_lightregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CarismaClassic";
    src: url("/assets/fonts/carisma-classic.eot");
    src: url("/assets/fonts/carisma-classic.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/carisma-classic.woff2") format("woff2"),
         url("/assets/fonts/carisma-classic.woff") format("woff"),
         url("/assets/fonts/carisma-classic.ttf") format("truetype"),
         url("/assets/fonts/carisma-classic.svg#CarismaClassic") format("svg");
    font-weight: normal;
    font-style: normal;
}