{embed="site/.header" page_title="Boat Yard" snap_to="undefined" snap_offset="undefined"}

    <section style="background-image: url('/assets/images/boat-yard-min.jpg'); " class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--small full-screen">
      <div id="page-back-button" class="back-button"><a class="button-clear-white"><i class="fa fa-angle-left"></i>Back</a></div>
    </section>
    <article class="boat-yard-jobs global-padding-top-only--large">
      <section>
        <div class="row padded-full-width-row">
          <div class="large-offset-1 large-7 float-left">
            <h2 class="text-uppercase">Oyster Yachts</h2>
            <h1 class="text-uppercase">Southampton</h1>
            <p>
              We sometimes have vacancies for the following trades: Shipwrights, Joiners, Laminators, Polishers, Painters, Engineers/fitters/plumbers & Electricians, please feel free to send your CV for us to keep on record.
              
            </p>
            <p>Please e-mail your CV to: <a href="mailto:judy.garrettjenkins@oysteryachts.com">judy.garrettjenkins@oysteryachts.com</a> with a covering letter highlighting your key experience and work history.</p>
            <div class="further-info">
              <p><b>Apprentership Program</b>: We currently recruit our apprentices through Southampton City College. For more details on their apprenticeship programs please visit <a href="www.southampton-city.ac.uk">www.southampton-city.ac.uk</a>.</p>
            </div>
          </div>
          <div class="large-offset-1 large-3 medium-12 float-left">
                <aside class="overview-download columns boat-yard-aside">
                      <div class="block-section-header aside-header">
                        <h3 class="text-uppercase">Recruitment Contact</h3>
                        <svg id="svg-arrow" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 -20 100 100" xml:space="preserve">
                          <g>
                            <line x1="10" y1="10" x2="53" y2="53" stroke="#454646" stroke-width="10"></line>
                            <line x1="90" y1="10" x2="47" y2="53" stroke="#454646" stroke-width="10"></line>
                          </g>
                        </svg>
                      </div>
                  <div class="overview-contents prev-models">
                    <div class="overview columns small-12">
                      <p>If you are interested in working for Oyster, please email your CV to: <a href="mailto:Judy.GarrettJenkins@oysteryachts.com">Judy.GarrettJenkins@oysteryachts.com</a></p>
                    </div>
                  </div>
                </aside>
          </div>
        </div>
      </section>
    </article>
     {footer}