{exp:channel:entries disable="member_data|category_fields|pagination" cache="yes" refresh="60" require_entry="yes" status="published"}
{if no_results}{redirect="404"}{/if}

<?php
$query = ee()->db->query('SELECT * FROM exp_channel_images WHERE entry_id={entry_id} AND field_id=70');
$layoutImages = $query->num_rows();

$query = ee()->db->query('SELECT * FROM exp_channel_images WHERE entry_id={entry_id} AND field_id=69');
$exteriorGalleryImages = $query->num_rows();

$query = ee()->db->query('SELECT * FROM exp_channel_images WHERE entry_id={entry_id} AND field_id=68');
$interiorGalleryImages = $query->num_rows();
?>

{embed="site/.header" snap_to=".full-screen #yacht-nav" snap_offset="55"}

<section class="hero full-screen">
	<div id="full-image" class="yacht-listing-photo add-full-background-overlay" style="background-image: url('{yacht_main_image}{image:url}{/yacht_main_image}');">
		{back_button}
		<div class="yacht-name">
			<div class="row-pad">
				<h2>{yacht_tagline}</h2>
				<h1>{title}</h1>

				<?php if ($exteriorGalleryImages > 0 || $interiorGalleryImages > 0): ?>
				<a class="gallery button-view-gallery" href="" data-gallery="<?php if ($exteriorGalleryImages > 0): ?>external<?php else: ?>internal<?php endif; ?>">View Gallery</a>
				<?php endif; ?>
			</div>
		</div>
		{share_buttons}
	</div>
	<div id="yacht-nav" data-local-subnav="data-local-subnav" class="yacht-nav">
		<ul class="local-subnav">
			{if yacht_design_features:total_rows > 0}
			<li class="active"><a href="#design-features" class="scroll">Design Features</a></li>
			{/if}

			<li><a href="#specifications" class="scroll">Specifications</a></li>

			<?php if ($layoutImages > 0): ?>
			<li><a href="#yacht-layout" class="scroll">Yacht Layout</a></li>
			<?php endif; ?>

			{if yacht_documents:total_rows > 0}
			<li><a href="#download-documents" class="scroll">Documents</a></li>
			{/if}

			<li><a href="#news-thumbs" class="scroll">News</a></li>

			<?php if ($exteriorGalleryImages > 0 || $interiorGalleryImages > 0): ?>
			<li><a href="" class="gallery">Gallery</a></li>
			<?php endif; ?>

			<li><a href="#" data-open="contactSalesModal" class="contact">Contact Sales</a></li>
		</ul>
	</div>
</section>

<section class="about-yacht">
	<div class="row row-pad">
		<div class="large-offset-1 large-7 float">
			<h2>{yacht_tagline}</h2>
			<h1>{title}</h1>
			{yacht_about}
			{if awards !=""}<img src="{awards}" style="max-height:80px;">{/if}
		</div>
		<div class="large-offset-1 large-3 medium-12 float-left">

			<aside class="overview-download columns sticky-sidebar yachts-yacht-theme">
				<div class="aside-header">
					<h3 class="text-uppercase">{title} Overview</h3>
					<svg id="svg-arrow" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 -20 100 100" xml:space="preserve">
						<g>
							<line x1="10" y1="10" x2="53" y2="53" stroke="#454646" stroke-width="10"></line>
							<line x1="90" y1="10" x2="47" y2="53" stroke="#454646" stroke-width="10"></line>
						</g>
					</svg>
				</div>
				<div class="overview-contents prev-models">
					<div class="overview columns small-12">
						<p>To find out more about the {title} model, you can download the {title} Brochure below.</p>
						<p>If you would like more information, please complete the Contact Sales form or alternatively call us on <a href="tell:442380831010" class="phone-number">+44 (0)2380 831 010</a></p>
						{yacht_brochure}
						<figure class="download-pdf clearfix">
							<div class="download-thumb column small-3">
								<img src="{yacht_brochure:thumbnail}">
							</div>
							{embed="site/.download_file" title="{yacht_brochure:title}" file="{yacht_brochure:file}" filesize="{yacht_brochure:file}{file_size}{/yacht_brochure:file}" label="Download"}
						</figure>
						{/yacht_brochure}
					</div>
				</div>
			</aside>
		</div>
	</div>
</section>


{if yacht_testimonials:total_rows > 0}
<section class="quote-testimonials row">
	{yacht_testimonials}
	<blockquote class="text-uppercase">
		<p>{yacht_testimonials:testimonial}</p>
		<footer>
			<cite>{yacht_testimonials:by_whom}</cite>
		</footer>
	</blockquote>
	{/yacht_testimonials}
	<div class="nav-points"></div>
</section>
{/if}


{if yacht_design_features:total_rows > 0}
<section id="design-features" class="design-features">
	<div class="banner">Design features</div>
	<div class="content row row-pad">

		{yacht_design_features}
		<div class="large-4 small-6 content-col">
			<div style="background-image:url('{yacht_design_features:feature_image}')" class="feature-image"></div>
			<div class="feature-content">
				<h4>{yacht_design_features:feature_title}</h4>
				{yacht_design_features:feature_description}
			</div>
		</div>
		{/yacht_design_features}

	</div>
</section>
{/if}


{if yacht_dimensions:total_rows > 0 OR yacht_performance_features:total_rows > 0}
<section id="specifications" class="specifications yachts-yacht-spec">
	<div class="banner">Specifications</div>
	{if yacht_dimensions:total_rows > 0}
	<div class="content row row-pad">
		<table class="table specs-table">
			<tbody>
				<tr>
					<td colspan="9" class="heading text-uppercase">Dimensions</td>
				</tr>
				<tr>
					<th class="text-uppercase">Length Overall - Inc. Pulpit</th>
					<th class="text-uppercase">Length of Hull</th>
					<th class="text-uppercase">Length of Waterline</th>
					<th class="text-uppercase">Beam</th>
					<th class="text-uppercase">Draft Standard</th>
					<th class="text-uppercase">Draft Shoal</th>
					<th class="text-uppercase">Draft Centreboard Up</th>
					<th class="text-uppercase">Draft Centreboard Down</th>
				</tr>
				{yacht_dimensions}
				<tr>
					<td>{yacht_dimensions:length_overall}</td>
					<td>{yacht_dimensions:length_of_hull}</td>
					<td>{yacht_dimensions:length_of_waterline}</td>
					<td>{yacht_dimensions:beam}</td>
					<td>{yacht_dimensions:draft_standard}</td>
					<td>{yacht_dimensions:draft_shoal}</td>
					<td>{yacht_dimensions:draft_centreboard_up}</td>
					<td>{yacht_dimensions:draft_centreboard_down}</td>
				</tr>
				{/yacht_dimensions}
			</tbody>
		</table>
	</div>
	{/if}

	{if yacht_performance_features:total_rows > 0}
	<div class="content row row-pad">
		<table class="table specs-table">
			<tbody>
				<tr>
					<td colspan="9" class="heading text-uppercase">Preformance Features</td>
				</tr>
				<tr>
					<th class="text-uppercase">Displacement - Standard Keel</th>
					<th class="text-uppercase">Typical Engine</th>
					<th class="text-uppercase">Tanks - Fuel</th>
					<th class="text-uppercase">Tanks - Water</th>
					<th class="text-uppercase">Sail Area - Inc. 150% Foretriangle</th>
					<th class="text-uppercase">Air Draft Approx - exc. Antennae</th>
				</tr>
				{yacht_performance_features}
				<tr>
					<td>{yacht_performance_features:displacement_standard_keel}</td>
					{if yacht_performance_features:count == 1}
						<td rowspan="2">{yacht_performance_features:typical_engine}</td>
					{/if}
					<td>{yacht_performance_features:tanks_fuel}</td>
					<td>{yacht_performance_features:tanks_water}</td>
					<td>{yacht_performance_features:sail_area}</td>
					<td>{yacht_performance_features:air_draft}</td>
				</tr>
				{/yacht_performance_features}
			</tbody>
		</table>
	</div>
	{/if}
</section>
{/if}

<?php if ($layoutImages > 0): ?>
<section id="yacht-layout" class="yacht-layout">
	<div class="banner">Yacht Layout</div>
	<div class="content row row-pad">
		<div class="large-10 large-offset-1 end">
			<div id="layout-slider">
				{yacht_layout}
				<div class="cycle-slide"><img src="{image:url}"></div>
				{/yacht_layout}
			</div>
			<ul class="slider-pager<?php if ($layoutImages === 1): ?> hide<?php endif; ?>">{yacht_layout}<li><a><span style="background-image:url('{image:url:small}');"></span></a></li>{/yacht_layout}</ul>
		</div>
	</div>
</section>
<?php endif; ?>


{if yacht_documents:total_rows > 0}
<section id="download-documents" class="download-documents">
	<div class="banner">Documents</div>
	<div class="row content row-pad">
		<ul>
			{yacht_documents}
			<li class="columns medium-4 small-6">
				<figure class="download-pdf clearfix">
					<div class="download-thumb column small-3">
						<img src="{yacht_documents:thumbnail}">
					</div>
					<figcaption class="description-download column small-9">
						<a class="title text-uppercase" href="{yacht_documents:file}">{yacht_documents:title}</a>
						<a class="external-file-btn button-solid-white text-uppercase" href="{yacht_documents:file}" target="_blank">Download &nbsp;{yacht_documents:file}<span class="size text-uppercase">(<?php echo number_format({file_size} / (1024*1024), 1); ?>MB)</span>{/yacht_documents:file}</a>
					</figcaption>
				</figure>
			</li>
			{/yacht_documents}
		</ul>
	</div>
</section>
{/if}
 

{if "{parents:entry_ids}" != ""}
<section id="news-thumbs" class="news-thumbs global-padding-top-only--small">
	<div class="banner">News</div>
	<div data-equalizer data-equalize-on="medium" class="row wrapper row-pad">
		<ul>

			{parents field="article_yacht" status="published"}
			<li class="columns medium-4 small-6 small-12">
				<div class="content">
					<div {parents:article_main_image}style="background-image:url('{image:url:small}')"{/parents:article_main_image} class="news-thumb-image">
						{share_buttons}
					</div>
					<div data-equalizer-watch class="news-details">
						<time datetime="{parents:entry_date format="%Y-%m-%d %H:%i"}" class="text-uppercase">{parents:entry_date format="%d %F %Y"}</time>
						<h3 class="text-uppercase"><a href="{parents:url_title_path='news/article'}">{parents:title}</a></h3>
						{parents:article_excerpt}
						<a href="{parents:url_title_path='news/article'}" class="read-more">READ MORE</a>
					</div>
				</div>
			</li>
			{/parents}

		</ul>
	</div>
</section>
{/if}

<div id="galleries" data-title="{title}">
	<?php if ($exteriorGalleryImages > 0): ?>
	<div class="gallery-content" data-gallery="external" data-title="Exterior">
		{yacht_exterior_gallery}
		<a href="{image:url}" data-sub-html="{image:description}">
			<img src="{image:url:gallery_thumb}" />
		</a>
		{/yacht_exterior_gallery}
	</div>
	<?php endif; ?>

	<?php if ($interiorGalleryImages > 0): ?>
	<div class="gallery-content" data-gallery="interior" data-title="Interior">
		{yacht_interior_gallery}
		<a href="{image:url}" data-sub-html="{image:description}">
			<img src="{image:url:gallery_thumb}" />
		</a>
		{/yacht_interior_gallery}
	</div>
	<?php endif; ?>

	{yacht_videos}
	{if yacht_videos:count == 1}
	<div class="gallery-content" data-gallery="videos" data-title="Videos">
	{/if}
		<a href="{yacht_videos:video}" data-sub-html="{yacht_videos:caption}"></a>
	{if yacht_videos:count == yacht_videos:total_rows}
	</div>
	{/if}
	{/yacht_videos}
</div>

<div id="contactSalesModal" role="dialog" aria-labelledby="dialog1Title" aria-describedby="dialog1Desc" data-reveal="" class="full-modal reveal">
	<h2 id="dialog1Title">Contact Sales</h2>
	<div class="modal-content">
		<p id="dialog1Desc" class="modal-instructions">All the designs in the Oyster range are semi-custom built and as such we prefer to talk to our customers direct. Complete the form below to arrange a callback from a member of our sales team.</p>
		<form class="request-spec">
			<div class="form-error text-center text-uppercase"><span>ERROR: Invalid or incomplete fields</span><span class="error-messages"></span></div>
			<fieldset>
				<ol>
					<li class="required-input">
						<label for="titlename" class="show-for-sr">Title *</label>
						<input id="titlename" type="text" name="titlename" placeholder="Title" required="">
					</li>
					<li class="required-input">
						<label for="firstname" class="show-for-sr">First Name *</label>
						<input id="firstname" type="text" name="firstname" placeholder="First Name" required="">
					</li>
					<li class="required-input">
						<label for="lastname" class="show-for-sr">Last Name *</label>
						<input id="firstname" type="text" name="lastname" placeholder="Last Name" required="">
					</li>
				</ol>
			</fieldset>
			<fieldset class="address-fill-out">
				<ol>
					<li class="address-line first-address-line">
						<label for="addressline1" class="show-for-sr">Address Line 1 *</label>
						<input id="addressline1" type="text" name="addressline1" placeholder="Address Line 1" required="">
					</li>
					<li class="address-line last-address-line">
						<label for="addressline2" class="show-for-sr">Address Line 2 *</label>
						<input id="addressline2" type="text" name="addressline2" placeholder="Address Line 2">
						<button type="button" class="add-address-line"><i class="add fa fa-plus"></i><span class="add-line">Add Address Line</span></button>
					</li>
					<li class="required-input column large-5">
						<label for="country-slection" class="show-for-sr">Country</label>
						<select id="country-slection" name="country-slection">
							<option>Africa</option>
							<option>America</option>
							<option>Australia</option>
							<option>China</option>
							<option selected>United Kingdom</option>
							<option>Japan</option>
							<option>India</option>
							<option>Indonesia</option>
						</select>
					</li>
					<li class="spec-postcode required-input column float-right">
						<label for="postcode" class="show-for-sr">Postcode / Zip code*</label>
						<input id="postcode" name="postcode" required="" placeholder="Postcode / Zip code" type="text" class="column">
					</li>
				</ol>
			</fieldset>
			<fieldset>
				<ol>
					<li class="required-input">
						<label for="email" class="show-for-sr">Email *</label>
						<input id="email" type="email" name="email" placeholder="Email Address" title="Please enter a valid email" required="" class="required-input">
					</li>
					<li class="required-input">
						<label for="tel" class="show-for-sr">Phone Number *</label>
						<input id="tel" type="tel" name="tel" pattern="d{10}" placeholder="Phone Number" required="" class="required-input">
					</li>
				</ol>
			</fieldset>
			<fieldset class="spec-current-yacht">
				<ol>
					<li>
						<label for="current-yacht-make" class="show-for-sr">Current Yacht Make *</label>
						<input id="current-yacht-make" type="text" name="current-yacht-make" placeholder="Current Yacht Make">
					</li>
					<li>
						<label for="current-yacht-model" class="show-for-sr">Current Yacht Model *</label>
						<input id="current-yacht-model" type="text" name="current-yacht-model" placeholder="Current Yacht Model">
					</li>
				</ol>
				<div class="row oyster-delivery-form">
					<label for="allow-more-information" class="request-more-info-confirmation required-input column large-8">When would you like to take delivery of your new Oyster?*</label>
					<select id="request-information" name="request-information" required="" class="column large-2 float-right">
						<option value="">Year</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
					</select>
				</div>
				<div class="form-interested-in">
					<legend class="required-input">Which Oyster model(s) are you interested in?*</legend>
					<ol>
						<li>
							<input id="oyster-475-check" type="checkbox" name="oyster-475-check" value="oyster-475-check" class="show-for-sr">
							<label for="oyster-475-check">Oyster <b>475</b></label>
						</li>
						<li>
							<input id="oyster-545-check" type="checkbox" name="oyster-545-check" value="oyster-545-check" class="show-for-sr">
							<label for="oyster-545-check">Oyster <b>545</b></label>
						</li>
						<li>
							<input id="oyster-575-check" type="checkbox" name="oyster-575-check" value="oyster-575-check" class="show-for-sr">
							<label for="oyster-575-check">Oyster <b>575</b></label>
						</li>
						<li>
							<input id="oyster-545-check" type="checkbox" name="oyster-545-check" value="oyster-545-check" class="show-for-sr">
							<label for="oyster-545-check">Oyster <b>545</b></label>
						</li>
						<li>
							<input id="oyster-675-check" type="checkbox" name="oyster-675-check" value="oyster-675-check" class="show-for-sr">
							<label for="oyster-675-check">Oyster <b>675</b></label>
						</li>
						<li>
							<input id="oyster-885-check" type="checkbox" name="oyster-885-check" value="oyster-885-check" class="show-for-sr">
							<label for="oyster-885-check">Oyster <b>885</b></label>
						</li>
						<li>
							<input id="oyster-575-check" type="checkbox" name="oyster-575-check" value="oyster-575-check" class="show-for-sr">
							<label for="oyster-575-check">Oyster <b>575</b></label>
						</li>
						<li>
							<input id="oyster-745-check" type="checkbox" name="oyster-745-check" value="oyster-745-check" class="show-for-sr">
							<label for="oyster-745-check">Oyster <b>745</b></label>
						</li>
						<li>
							<input id="oyster-118-check" type="checkbox" name="oyster-118-check" value="oyster-118-check" class="show-for-sr">
							<label for="oyster-118-check">Oyster <b>118</b></label>
						</li>
					</ol>
				</div>
			</fieldset>
			<fieldset class="spec-additional-yacht">
				<ol>
					<li>
						<label for="more-information" class="show-for-sr">More Information *</label>
						<textarea id="more-information" name="more-information" type="text" placeholder="Additional Information"></textarea>
					</li>
					<li class="row">
						<label for="allow-more-information" class="request-more-info-confirmation required-input column large-8">Would you like to receive information and updates from Oyster Yachts via email?*</label>
						<select id="request-information" name="request-information" required="" class="column large-2 float-right">
							<option value="">Select</option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>
						</select>
					</li>
				</ol>
			</fieldset><small>Your information will never be sold to any other company. Your data will be treated in accordance with the Data Protection Act 1998. Please see our Privacy Policy for more details. If you wish to update or delete the data you have voluntarily given us please contact us on +44 2380 831 010 or email sales@oysteryachts.com</small>
		</form>
	</div>
	<div class="modal-footer">
		<div class="float-right">
			<button data-close aria-label="Cancel" type="button" class="button-solid-lightgrey">Cancel</button>
			<button tabindex="0" type="submit" value="Submit" class="button-solid-blue button-chubby">Submit Form</button>
		</div>
	</div>
	<button data-close aria-label="Close modal" type="button" class="close-button"><span aria-hidden="true">×</span></button>
</div>

{footer}

{/exp:channel:entries}