{exp:channel:entries channel="yacht_previous_models" disable="member_data|category_fields|pagination" cache="yes" refresh="60" require_entry="yes" status="published"}
{if no_results}{redirect="404"}{/if}

<?php
$query = ee()->db->query('SELECT * FROM exp_channel_images WHERE entry_id={entry_id} AND field_id=76');
$galleryImages = $query->num_rows();
?>

{embed="site/.header" snap_to="undefined" snap_offset="undefined"}

<section {yacht_prev_main_image}style="background-image: url('{image:url}');"{/yacht_prev_main_image} class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
	{back_button}
	<div class="yacht-name">
		<div class="row-pad">
			<h1 class="hero-title yacht-list-name text-uppercase">{title}</h1>

			<?php if ($galleryImages > 0): ?>
			<a href="" class="gallery">View Gallery</a>
			<?php endif; ?>
		</div>
	</div>
	<div id="yacht-nav" data-local-subnav="data-local-subnav" class="yacht-nav"></div>
</section>

<section class="about-yacht">
	<div class="row row-pad">
		<div class="large-offset-1 large-7 float">
			<h2>Previous Models</h2>
			<h1>{title}</h1>
			{yacht_prev_about}
		</div>
		<div class="large-offset-1 large-3 float-left">
			<div class="sticky-sidebar">
				<aside class="overview-download columns show-for-large">
					<h3 class="text-uppercase">Yachts</h3>
					<div class="overview-contents prev-models">
						<section class="overview columns small-6 medium-12">
							<ul>
								<li><a href="{path='yachts/fleet'}">Fleet</a></li>
								<li class="active-page"><a href="{path='yachts/previous-models'}">Previous Models</a></li>
								<li><a href="{path='yachts/special-projects'}">Special Projects</a></li>
							</ul>
						</section>
					</div>
				</aside>
			</div>
		</div>
	</div>
</section>

<?php if ($galleryImages > 0): ?>
<div id="exterior-gallery" class="gallery-content">
	{yacht_prev_gallery}
	<a href="{image:url}" data-sub-html="{image:description}">
		<img src="{image:url:gallery_thumb}" />
	</a>
	{/yacht_prev_gallery}
</div>
<?php endif; ?>

{footer}

{/exp:channel:entries}