{embed="site/.header" snap_to="90" snap_offset="undefined"}

<section style="background-image: url('/assets/images/bg-images/charter-fleet-bg.png'); " class="hero after-nav global-page-hero global-page-hero--small">
	{back_button}
</section>
<section class="page-fleet special-fleet">
	<div class="banner">Previous Models</div>
	<div class="row row-pad content">
		<div id="yacht-grid" class="row">
			<ul class="row full-width-row top small-up-1 medium-up-2 large-up-3 list-entrance">

				{exp:channel:entries channel="yacht_previous_models" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc"}
				<li class="column large-4 medium-6 small-12 size-small">
					<div class="yacht-list-item">
						<a href="{url_title_path='yachts/previous-models'}">
							{yacht_prev_main_image}
							<div style="background-image:url('{image:url}');" class="yacht-listing-photo"></div>
							{/yacht_prev_main_image}
							<div class="yacht-listing-title"><span class="yacht-list-modal">{title}</span></div>
						</a>
						{share_buttons}
					</div>
				</li>
				{/exp:channel:entries}

			</ul>
		</div>
	</div>
</section>

{footer}