{header}

<section style="background-image: url('/assets/images/bg-images/charter-fleet-bg.png'); " class="hero after-nav global-page-hero global-page-hero--small">
	{back_button}
</section>
<section class="page-fleet special-fleet">
	<div class="banner">Previous Models</div>
	<div class="row row-pad content">
		<div class="row">
			<ul>

				{exp:channel:entries channel="yacht_previous_models" disable="member_data|category_fields|pagination" cache="no" refresh="60" status="published" sort="desc"}
				<li class="column large-4 medium-6 small-12 size-small ">
					<div class="listing-images">
						<a href="{url_title_path='yachts/previous-models'}">
							{yacht_prev_main_image}
							<span style="background-image:url('{image:url}');"></span>
							{/yacht_prev_main_image}
						</a>
					</div>
					<div class="listing-content"><a href="{url_title_path='yachts/previous-models'}">{title}</a></div>
					<div class="share">
						<img src="/assets/images/share.png">
					</div>
				</li>
				{/exp:channel:entries}

			</ul>
		</div>
	</div>
</section>

{footer}