{exp:channel:entries channel="yachts_landing" disable="member_data|category_fields|pagination" limit="2" cache="yes" refresh="60" status="published" sort="desc"} {embed="site/.header" page_title="Superyachts " entry_id="{entry_id}" snap_to="90" snap_offset="undefined"} {/exp:channel:entries}
<section style="background-image: url('/assets/images/g-fleet-header-min.jpg'); background-position: center 95%;" class="hero after-nav after-nav--sub global-page-hero yacht-listing-photo global-page-hero--medium">
</section>
<article class="yacht-category-page">
  {embed="site/.sub_bar-yachts" page_title="Yachts" page="superyachts-fleet"}

  <section class="page-home-about">
    <div class="row padded-full-width-row">
      <div class="small-12 medium-3 large-2 large-offset-1 column about-heading"><span class="text-uppercase">
              Oyster Yachts </br> Superyachts 
              </span></div>
      <div class="small-12 medium-9 large-8 end column intro">
        <p>
          Building on experience from more than 40 yachts over 80ft and 5 over 100ft, the Oyster 835, 895 and 118 are each carefully conceived to deliver commercial coding, charter operations and private use comfortably and efficiently.
        </p>
      </div>
    </div>
  </section>
  <section class="brokerage-home-featured-yachts">
    <div class="row padded-full-width-row content">
      <div id="yacht-grid" class="row">
        <ul>
          {exp:low_reorder:entries set="yachts" disable="member_data|pagination" cache="yes" refresh="60" status="published" category="14"}
          <li class="column small-12 medium-6 size-small">
            <div data-yachtsection="brokerage" class="yacht-list-item">
              {yacht_listing_image}
              <div class="yacht-listing-photo"><img src="{image:url:blur}" data-img-name="{image:title}" data-sizes="auto" data-srcset="{image:url:w_228} 228w, {image:url:w_340} 340w, {image:url:w_454} 454w, {image:url:w_592} 592w, {image:url:w_770} 385w" class="lazyload blur-up"></div>
              {/yacht_listing_image}
              <div class="yacht-listing-title"><span class="yacht-list-name">{title}</span>
              </div>
              <div class="listing-content listing-content--padded">
                {yacht_excerpt}
                <a href="{url_title_path='yachts/fleet'}" class="button-transparent">View Yacht Overview</a>
              </div>
            </div>
          </li>
          {/exp:low_reorder:entries}
        </ul>
      </div>
    </div>
  </section>
</article>
{footer}
