{embed="site/.header" page_title="Yachts" snap_to="undefined" snap_offset="undefined"}
    <article class="blocks-on-blocks after-nav">
      {exp:channel:entries channel="about" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published"}

  <section style="" class="block-on-block">
            <div class="block-on-block-info">
              <h1>Deck Saloons</h1>
              <p>Designed by Sailors for Sailors - inspired designs benefitting from listening to owners with more than 20 million blue-water sailing miles and 75 circumnavigations. This is what makes an Oyster the world’s finest Deck Saloon yacht for long weekends or Ocean Adventures alike.</p>
              <a href="yachts/decksaloons" class="button-solid-blue button-chubby">Discover More</a>
            </div>
          </section>
            
          <section style="" class="block-on-block">
            <div class="block-on-block-info">
              <h1>Superyachts</h1>
              <p>Building on experience from more than 40 yachts over 80ft and 5 over 100ft, the Oyster 835, 895 and 118 are each carefully conceived to deliver commercial coding, charter operations and private use comfortably and efficiently.</p>
              <a href="yachts/superyachts-fleet" class="button-solid-blue button-chubby">Discover More</a>
            </div>
          </section>

          <section style="" class="block-on-block">
            <div class="block-on-block-info">
              <h1>Why Oyster?</h1>
              <p>We truly place the client first; we listen, we care and we deliver. Each yacht, large or small, built to order with a dedicated client project manager for each build ensuring that the build process is as exciting as owning the yacht. We look after you wherever you are sailing and have a service and support operation second to none.  Our rallies and regattas are exclusive and very special.</p>
              <a href="" class="button-solid-blue button-chubby">Discover More</a>
            </div>
          </section>

                    <section style="" class="block-on-block">
            <div class="block-on-block-info">
              <h1>Our Team</h1>
              <p>Oyster is privately owned and our two principle shareholders enjoy sailing and often attend our Oyster Regattas. A small executive team of three lead an enthusiastic crew who energetically keep Oyster sailing strongly forward.</p>
              <a href="" class="button-solid-blue button-chubby">Discover More</a>
            </div>
          </section>

                              <section style="" class="block-on-block">
            <div class="block-on-block-info">
              <h1>Our Heritage</h1>
              <p>After building more than 300 yachts, Oyster developed the Deck Saloon concept in 1980. Now proven across more than 750 yachts and 35 models, the Deck Saloon is Oyster.</p>
              <a href="yachts/heritage-previous-models" class="button-solid-blue button-chubby">Discover More</a>
            </div>
          </section>

    {/exp:channel:entries}
       
        </article>
        <style>
         section {margin-bottom:10px;}
article section:nth-child(1) {
  background-image: url('/assets/images/oysteryachts-yachts-decksaloons.jpg');
}

article section:nth-child(2) {
  background-image: url('/assets/images/oysteryachts-yachts-superyachts.jpg');')
}
article section:nth-child(3) {
 background-image: url('/assets/images/oysteryachts-yachts-whyoyster.jpg');
}
article section:nth-child(4) {
background-image: url('/assets/images/oysteryachts-yachts-team.jpg');
}
article section:nth-child(5) {
background-image: url('/assets/images/oysteryachts-yachts-heritage.jpg');
}
        </style>
    {footer}