
{embed="site/.header" page_title="Request" snap_to="undefined" snap_offset="undefined"}

<article style="background-image: url('/assets/images/oysteryachts-yachts-sales-message.png')" class="login-page after-nav">
  <div id="login-page" class="full-modal reveal">
    <h2>Contact Sales</h2>
    <div style="padding:1em 1em 0">
    <div class="sign-up-success" style="margin:0 0 1em;width:100%;"><span>We have received your request and are dealing with your enquiry</a></span></div>
    <p>A member of our Sales Team will be in touch at the earliest opportunity. For urgent requests please contact our Sales Team on Tel: +44 23 8083 1010.</p>
  
  </div></div>
</article>

{footer}