// Listing page

.brokerage-fleet {
	li {
		margin-bottom: 70px;
		position: relative;
	}

	.content {
		padding-top: 35px;
	}

	td.name {
		width: 100%;
	}
}

.listing-table {
	td {
		width: 50%;
	}
}

.feature-col {
	td {
		width: 33.33333333%;
	}	
}

.listing-images {
	height: 192px;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	span {
		display: block;
		width: 100%;
		height: 100%;
		float: left;

		background-position: center center;
		background-size: cover;
	}

	.large-12 & span {
		width: 33.33333333%;
	}
}



// Yacht page

.about-yacht {
	padding: 70px 0;

	a {
		color: $blue;
	}

	.disclaimer {
		@include omnes_light;
		font-size: 0.75em;
		line-height: 1.66666666em;
		color: $blue;
		margin-top: 16px;
	}
}

.yacht-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 20px;
	overflow: hidden;
	background: #fff;

	li {
		float: left;

		a {
			display: block;
			font-size: 0.75em;
			line-height: 1.16666666em;
			padding: 21px 20px 20px;
			color: $grey;
			@include omnes_medium;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

.design-features {
	.content {
		padding-top: 50px;
		padding-bottom: 70px;
	}

	.feature-content {
		padding: 28px 20px 0;
		border-right: 1px solid $lightgrey;
		border-bottom: 1px solid $lightgrey;
	}

	.content-col:first-child .feature-content {
		border-left: 1px solid $lightgrey;
	}
}

.further-info {
	border-top: 1px solid $lightgrey;
	border-bottom: 1px solid $lightgrey;

	padding-top: 23px;

	p {
		color: $blue;
	}
}

#layout-slider {
	margin-bottom: 70px;
	overflow: hidden;

	div {
		width: 100%;
		text-align: center;
	}
}

.slider-pager {
	text-align: center;

	li {
		display: inline-block;
		width: 25%;
		padding: 0 25px;
	}

	a {
		display: block;
		width: 100%;
		padding: 12px 25px;
		
		
		border: 1px solid $lightgrey;

		@include transition(all 0.1s);

		span {
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: 54%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	.cycle-pager-active a {
		border-color: $blue;
	}
}

.yacht-layout {
	.content {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.specifications {
	.content {
		padding-top: 40px;
		padding-bottom: 70px;
	}
}