// Delay on the header tansistions (expanding from small only)
$header-transistion-back-delay: .25;
$logo-width: 230px;

.global-header {
  $root: &;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  // background-color: $white;
  // TODO: Sort this out.
  z-index: 9999;
  // transform: translateY(-30px);
  transition: transform 250ms ease-in-out;

  &--large {
    @include breakpoint(medium up) {
      // transform: translateY(-20px);
    }
  }
}

.main-header {
  $root: &;
  position: relative;
  transition: transform 250ms ease-in-out;
  z-index: 2;

  &:before {
    background-color: $white;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-30px);
    transition: transform 250ms ease-in-out;
    width: 100%;
  }

  &__container {
    padding: (10px * 2) 10px;
    transform: translateY(-10px);
    align-items: center;
    display: flex;
    justify-content: space-between;    
  }

  &__home,
  &__title,
  &__menu {
    flex: 1;
    transform: translateY(0px);
  }

  &__title {
    @include h4-styles;
    display: inline-block;
    margin: 0;
    opacity: 1;
    text-align: center;
    transform: translateX(0);
    transition: transform 350ms ease-in-out 250ms, opacity 150ms ease-in-out 250ms;
    pointer-events: auto;

    @include breakpoint(medium up) {
      pointer-events: none;
      opacity: 0;
      transform: translateX(-30px);
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__home {
    display: flex;
    align-items: center;
    margin: 0;
  }

  &--large {
    @include breakpoint(medium up) {
      transform: translateY(0);

      #{$root}__container {
        transform: translateY(0);
      }


      &::before {
        transform: translateY(0px);
      }

      #{$root}__home,
      #{$root}__title,
      #{$root}__menu {
        transform: translateY(0);
      }
    }
  }

  &--full-screen {
    #{$root}__title {
      text-align: left;
      position: absolute;
      pointer-events: auto;
      left: 60px;
      margin-left: $global-margin;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

// hero title mini
.global-hero-mini-header {
  .yacht-name {
    display: none;
  }
}

.top-header {
  height: 65px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 0 0 0;
  background-color: $white;
  top: 0;
  transition: transform .5s cubic-bezier(.19, 1, .22, 1);
  z-index: 1052;

  opacity: 0;
  pointer-events: none;

  @include breakpoint(small down) {
    height: $header-message-height-small;
  }
}

.fixed-message {
  background-color: $pictonblue;
  display: flex;
  height: 100%;
  margin: 0 auto;
  width: calc(100% - 20px);
  transition: transform 350ms cubic-bezier(.19, 1, .22, 1);

  .fixed-message-contents {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    margin: 0 auto;
    max-width: $global-width;
    padding: $global-padding;
    width: 100%;

    @include breakpoint(small down) {
      flex-direction: column;
    }
  }

  small {
    color: $white;
  }

  a {
    @include omnes_medium;
    color: $white;
    text-decoration: underline;
  }

  button {
    // margin-top: $global-margin;
    flex: 0 0 auto;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;

    @include breakpoint(medium up) {
      margin-top: 0;
      width: auto;
    }

    @include breakpoint(large up) {
      margin-left: auto;
    }

  }
}

// Light gallery header
.lg-on {
  .global-header-mini {
    * {
      transition: none !important;
    }

    .main-nav-first,
    .site-search {
      display: none;
    }

    .global-header-top-nav-large > h4 {
      // Fallback
      display: absolute;
      display: inline-flex !important;
      margin-left: 5rem;
      position: absolute;
      text-align: left;

      @include breakpoint(large up) {
        justify-content: flex-start;
      }
    }
  }
}

.fixed-message-showing {

  .top-header {
    // transform: translateY(0%);
    opacity: 1;
    pointer-events: auto;
  }

  .global-local-subnav {
    transform: translateY($header-nav-large-owners);
    // So it doesn't drop down on each page load
    // transition: none;
    // @include breakpoint(medium down) {
    //  // height: $header-message-height-small;
    //  transform: translateY($header-message-height);
    //  // So it doesn't drop down on each page load
    //  transition: none;
    // }
    // @include breakpoint(small down) {
    //  // height: $header-message-height-small;
    //  transform: translateY($header-message-height-small);
    //  // So it doesn't drop down on each page load
    //  transition: none;
    // }
  }

  .global-local-subnav-mini,
  .sticky-sidebar {
    transform: translateY($header-message-height);
    // So it doesn't drop down on each page load
    // transition: none;
    @include breakpoint(medium down) {
      // height: $header-message-height-small;
      transform: translateY($header-message-height);
      // So it doesn't drop down on each page load
      // transition: none;
    }

    @include breakpoint(small down) {
      // height: $header-message-height-small;
      transform: translateY($header-message-height-small);
      // So it doesn't drop down on each page load
      // transition: none;
    }
  }
}

.logotwo {
  display: block;
  height: 100%;
  padding: 0;
  transition: all .2s ease-in;
  width: 75px;
}

#global-navigation-modal {
  // Just to make sure it opens above the default modal z-index
  z-index: 1007;
  @include breakpoint(large up) {
    display: none !important;
  }

}

#global-navigation-modal,
#global-filters-modal {
  outline: 0;
  padding: 0;
  top: $header-nav-small-height !important;

  .top-nav-modal {

    // @extend .global-header-top-nav;

    .close-button-wrapper {
      background-color: $lightgrey;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 65px;
    }

    .site-search-close {
      display: block !important;
      margin: 0 auto;
      position: relative;
      right: 0;
    }
  }
  // since custom scrollbar add another margin, the offset it
  .mCSB_container {
    .row {
      margin-left: 30px;
    }
  }

  // remove offset intended for Custom Scrollbar
  .mCS_y_hidden.mCS_no_scrollbar_y {
    .row {
      margin-left: 0 !important;
    }
  }

  .nav-body-modal {
    // Doesn't need a height?
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
  }

}

// global filters
#global-filters-modal {

  ul {

    .select2-container {
      display: none;
    }

    .select2-hidden-accessible {
      border: 1px solid $grayborder !important;
      clip: rect(0 0 0 0) !important;
      height: 50px !important;
      margin: 0 0 1rem !important;
      outline: 0;
      overflow: visible !important;
      padding-right: 2.5rem !important;
      padding: 10px 20px !important;
      position: static !important;
      width: 100% !important;
    }

    select {
      color: $grey;
      @include omnes_medium;
    }

    .filter-button {
      margin-top: 15px;
    }

    .button-solid-cyan {
      width: 100%;
    }
  }
}

.no-boxshadow {
  box-shadow: none;

  div {
    box-shadow: none !important;
  }
}

// THIS CLASS MIGHT BE DEAD?
// --- This Class styles the sub-navigation below the main navigation for none-yacht pages. ---
// --- This Class is toggled by JavaScript --
.global-local-subnav-fixed {
  // box-shadow: 0 3px 2px -2px gray;
  background-color: $lightgrey !important;
  bottom: none;
  height: $header-nav-small-height;
  max-height: $header-nav-small-height;
  overflow: visible;
  padding: 0;
  position: fixed !important;
  top: 55px;
  width: 100%;
  z-index: 30;

  ul {
    height: 100%;
    margin-left: 79px;
    width: 100%;

    @include breakpoint(medium only) {
      margin-left: 55px;
    }
  }

  li {
    a {

      @include breakpoint(xlarge up) {
        padding-left: 25px;
        padding-right: 25px;
      }

      @include breakpoint(large only) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &:last-child {
      padding-left: 10px;
    }
  }
  .sticky-sidebar-header {
    background-color: $blue;
    color: $white;
    display: inline-block;
    height: $header-nav-small-height;
    max-height: $header-nav-small-height;
    position: absolute;
    right: 40px;
    top: 0;
    width: 246px;

    @media screen and #{breakpoint(medium up)} and #{breakpoint(1023px down)} {
      bottom: 0;
      height: 55px;
      left: 0;
      margin-left: 55px;
      right: 0;
      top: 55px;
      width: 87.5%;
    }

    .header {
      cursor: pointer;
      height: 100%;
      padding: 0 25px;
      width: 100%;
    }

    h4 {
      color: $white;
      font-size: 12px;
      line-height: 4.5;
      margin: 0;
      @include omnes_medium;
    }

    .fa-angle-down {
      font-size: 18px;
      line-height: 3;
    }

    @include breakpoint(xlarge up) {
      width: 268px;
    }

    .contents {
      display: none;
      // hide first row since its the same header being re-used

      tr:first-child,
      .overview-download > h3 {
        display: none;
      }
    }
  }

  .yachts-yacht-sticky-header {
    background-color: $lightblue;
  }
  // style filters
}

.global-page-hero {

  .global-local-subnav-fixed.filters {
    background-color: $blue !important;
    height: $header-nav-small-height + 20;
    max-height: $header-nav-small-height + 20;
    padding: 15px 0;
  }
}

