// Delay on the header tansistions (expanding from small only)
$header-transistion-back-delay: .25;
$logo-width: 230px;

.global-header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  // TODO: Sort this out.
  z-index: 9999;
  transform: translateY(-30px);
  transition: transform 250ms ease-in-out;
  @include breakpoint(medium up) {
    transform: translateY(0);
  }
}

.main-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: (10px * 2) 10px;
  position: relative;
  transform: translateY(20px);
  transition: transform 250ms ease-in-out;
  z-index: 2;

  @include breakpoint(medium up) {
    transform: translateY(0);
  }

  &:before {
    background-color: $white;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-20px);
    transition: transform 250ms ease-in-out;
    width: 100%;

    @include breakpoint(medium up) {
      transform: translateY(0);
    }
  }

  &__home,
  &__title,
  &__menu {
    flex: 1;
  }

  &__title {
    @include h4-styles;
    text-align: center;
    margin: 0;

    @include breakpoint(medium up) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__home {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

@mixin global-header-mini-mixin() {
  height: $header-nav-small-height;
  max-height: $header-nav-small-height;
  transition: all .25s ease-in,
              transform .5s cubic-bezier(.190, 1, .220, 1);
  // with the fixed cookie message at top
  // transform: translateY(0 - $header-owners-area-height);

  .fixed-message {
    // transform: translateY($header-owners-area-height);
    transition: all .25s ease-in, transform 250ms cubic-bezier(.190, 1, .220, 1);
  }

  .logotwo {
    background: url('/assets/images/logo_small.png') no-repeat center center;
    left: 0;
  }

  .global-header-top-nav-large {
    // This needs a height to prevent a max-height webkit bug still in Safari
    height: $header-nav-small-height;
    top: 0;
  }

  nav.navigation {
    height: $header-nav-small-height;
    max-height: $header-nav-small-height;
    transition: all .2s ease-in;
  }

  // @include site-menu();

  .global-header-top-nav-large {
    .logo {

      &::before {
        // transition: transform 0.25s cubic-bezier(.19, 1, .22, 1) 0.25s;
        // transform: translateX(0);
        border-radius: 0%;
        opacity: 1;
        transform: translateX(0);
        transition: opacity .25s cubic-bezier(.190, 1, .220, 1) .25s,
                    transform 0s cubic-bezier(.19, 1, .22, 1) 0s,
                    border-radius 0s cubic-bezier(.19, 1, .22, 1) 0s;
      }

      svg {
        // width: $header-nav-small-height;
        // max-height: $header-nav-small-height;
        // height: $header-nav-small-height;
        cursor: pointer;
        transform: translateX(-1.2rem);
        transition: transform .25s ease-out .25s;

        path {
          // We want this to begin it's exit faster than it's re-entrance (thus, two transistions)
          opacity: 0;
          transform: translateX(0) scale(.7);
          transition: transform .25s ease-in-out .15s,
                      opacity .15s ease-in-out .15s;
        }

        .logo-o {
          // HAS TO BE RGBA FOR TRANSISTION IN SAFARI
          fill: rgba($white, .99);
          opacity: 1;
          transform: none;
          transition: fill .25s ease-in-out .25s;
        }
      }
    }
  }
}

.global-header-top-nav-large {
  background-color: $white;
  height: $header-nav-large-height;
  left: 0;
  position: relative;
  top: 0;
  transition: all .5s cubic-bezier(.190, 1, .220, 1);
  width: 100%;
  will-change: height, transform;
  z-index: 10;

  @include breakpoint(medium down) {
    @include nav-border();
  }

  .logo {
    // Width the same as child SVG for cross browser compatibility
    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: width .5s cubic-bezier(.190, 1, .220, 1);
    width: $logo-width;

    @include breakpoint(large only) {
      width: $logo-width - 55;
    }

    &::before {
      // Fades out completly before the transform can kick in, pops out when collapseing, fades out when expanding.
      transition: opacity .25s cubic-bezier(.190, 1, .220, 1) unquote( ($header-transistion-back-delay + .25) + 's'),
                  transform 0s cubic-bezier(.190, 1, .220, 1) unquote( ($header-transistion-back-delay + .5) + 's'),
                  border-radius 0s cubic-bezier(.190, 1, .220, 1) unquote( ($header-transistion-back-delay + .5) + 's');
    }

    svg {
      // Width the same as parent for SVG for cross browser compatibility
      // Width transition is purely for window resize, remove it if it's in the way.
      height: 100%;
      position: absolute;
      transition: transform .25s ease-out unquote(($header-transistion-back-delay + .25) + 's'),
                  width .5s cubic-bezier(.190, 1, .220, 1);
      width: $logo-width;
      will-change: transform;

      @include breakpoint(large only) {
        width: $logo-width - 55;
      }

      path {
        opacity: 1;
        transform: translateX(0);
        transform-origin: center center;
        transition: transform .25s ease-in-out unquote(($header-transistion-back-delay + .25) + 's'),
                    opacity .15s ease-in-out unquote(($header-transistion-back-delay + .25) + 's');
        will-change: transform, opacity;
      }

      .logo-o {
        // HAS TO BE RGBA FOR TRANSISTION IN SAFARI
        fill: rgba($blue, .99);
        opacity: 1;
        transition: fill .25s ease-in-out unquote(($header-transistion-back-delay + .25) + 's');
      }
    }

    img {
      margin-top: -8px;
      position: absolute;
      top: 50%;

      @include breakpoint(xlarge up) {
        margin-top: -12.5px;
      }
    }
  }

  .logo-tiny {
    display: none;
  }

  > h4 {
    // position: absolute;
    // width: 100%;
    align-items: center;
    bottom: 0;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: auto;
    top: 0;
    vertical-align: top;
    width: calc(100% - 113px);
  }

  .main-nav-first {
    transition: transform .25s cubic-bezier(.190, 1, .220, 1) unquote( ($header-transistion-back-delay + .16) + 's');
  }
}

// hero title mini
.global-hero-mini-header {
  .yacht-name {
    display: none;
  }
}

.top-header {
  height: 55px;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform .5s cubic-bezier(.19, 1, .22, 1);
  width: 100%;
  z-index: 1052;
  opacity: 0;
  pointer-events: none;

  @include breakpoint(small down) {
    height: $header-message-height-small;
  }
}

.fixed-message {
  background-color: $pictonblue;
  display: flex;
  height: 100%;
  transition: transform 350ms cubic-bezier(.19, 1, .22, 1);

  .fixed-message-contents {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    margin: 0 auto;
    max-width: $global-width;
    padding: $global-padding;
    width: 100%;

    @include breakpoint(small down) {
      flex-direction: column;
    }
  }

  small {
    color: $white;
  }

  a {
    @include omnes_medium;
    color: $white;
    text-decoration: underline;
  }

  button {
    // margin-top: $global-margin;
    flex: 0 0 auto;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;

    @include breakpoint(medium up) {
      margin-top: 0;
      width: auto;
    }

    @include breakpoint(large up) {
      margin-left: auto;
    }

  }
}

// Light gallery header
.lg-on {
  .global-header-mini {
    * {
      transition: none !important;
    }

    .main-nav-first,
    .site-search {
      display: none;
    }

    .global-header-top-nav-large > h4 {
      // Fallback
      display: absolute;
      display: inline-flex !important;
      margin-left: 5rem;
      position: absolute;
      text-align: left;

      @include breakpoint(large up) {
        justify-content: flex-start;
      }
    }
  }
}

.global-header-mini {
  @include global-header-mini-mixin;
  height: ($header-nav-small-height) !important;
  max-height: ($header-nav-small-height) !important;

  .global-header-top-nav-large,
  .global-header-top-nav {
    // box-shadow: 0 3px 2px -2px gray;
    @include nav-border();
  }

  .global-header-top-nav-large {
    // border: none;
    .search-bar {
      left: 56px;
      input {
        padding: 0 0 0 25px;
        font-size: 1.75em;
        letter-spacing: .1rem;
      }
    }
  }

  .main-nav-first {
    transition: transform .25s ease-out .25s;
    transform: translateX(-230px);

    @include breakpoint(large only) {
      transform: translateX(-175px)
    }

    > li {
      > ul {
        transform: translateX(-4.25rem) translateY(-43px);
      }
    }
  }
}

.fixed-message-showing {

  .top-header {
    transform: translateY(0%);
    opacity: 1;
    pointer-events: auto;
  }

  .global-header {
    transform: translateY($header-message-height);
    // So it doesn't drop down on each page load
    // transition: none;

    @include breakpoint(medium down) {
      // height: $header-message-height-small;
      // transform: translateY($header-message-height - $header-owners-area-height);
      // So it doesn't drop down on each page load
      // transition: none;
    }

    @include breakpoint(small down) {
      // height: $header-message-height-small;
      // transform: translateY($header-message-height-small - $header-owners-area-height);
      // So it doesn't drop down on each page load
      // transition: none;
    }

    &.global-header-mini {
      // So it doesn't drop down on each page load
      // transition: none;
      // transform: translateY(0 - ($header-owners-area-height - $header-message-height));

      @include breakpoint(small down) {
        // height: $header-message-height-small;
        // So it doesn't drop down on each page load
        // transition: none;
        // transform: translateY($header-message-height-small - $header-owners-area-height);
      }
    }
  }

  .global-local-subnav {
    transform: translateY($header-nav-large-owners);
    // So it doesn't drop down on each page load
    // transition: none;
    // @include breakpoint(medium down) {
    //  // height: $header-message-height-small;
    //  transform: translateY($header-message-height);
    //  // So it doesn't drop down on each page load
    //  transition: none;
    // }
    // @include breakpoint(small down) {
    //  // height: $header-message-height-small;
    //  transform: translateY($header-message-height-small);
    //  // So it doesn't drop down on each page load
    //  transition: none;
    // }
  }

  .global-local-subnav-mini,
  .sticky-sidebar {
    transform: translateY($header-message-height);
    // So it doesn't drop down on each page load
    // transition: none;
    @include breakpoint(medium down) {
      // height: $header-message-height-small;
      transform: translateY($header-message-height);
      // So it doesn't drop down on each page load
      // transition: none;
    }

    @include breakpoint(small down) {
      // height: $header-message-height-small;
      transform: translateY($header-message-height-small);
      // So it doesn't drop down on each page load
      // transition: none;
    }
  }
}

.global-header-old {
  background-color: $white;
  left: 0;
  position: fixed;
  top: 0;
  // This needs to be on every fixed elements to stop 3D animations breaking accross the site - maybe not?
  transform-style: preserve-3d;
  transition: all .5s cubic-bezier(.19, 1, .22, 1);
  width: 100%;
  z-index: 1050;
  // EDGE ONLY HACK TO STOP HEADER JUMPING
  @supports (-ms-accelerator: true) {
    transform-style: flat;
  }

  nav.navigation {
    // height: 96px;
    // max-height: 96px;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    transition: all .2s ease-in;
    width: 100%;
  }

  // if you're on smaller screens, by default display the header this way.
  @include breakpoint(medium down) {
    @include global-header-mini-mixin;
    .global-header-top-nav-large {
      .logo {
        margin: 0;
        width: 57px;
        svg {
          transform: translateX(.85rem);
        }
      }
    }
  }
}

.global-header-top-nav {
  background-color: $white;
  height: $header-nav-small-height;
  left: 0;
  max-height: $header-nav-small-height;
  position: fixed;
  top: 0;
  transition: max-height 1s;
  width: 100%;
  z-index: 10;

  .logo-wrapper {
    left: 0;
    position: absolute;
    top: 0;
  }

  img {
    cursor: pointer;
    width: 55px;
  }

  h4 {
    cursor: pointer;
    line-height: 3em;
    margin-bottom: 0;
    outline: 0;
  }

  .logo-tiny {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
  }
}

.owners-area {
  // transition: transform 0.25s ease-in-out;
  // will-change hides the entire element in FF.
  // will-change: transform;
  background-color: $blue;
  // height: $header-owners-area-height;
  overflow: hidden;
  position: relative;

  .owners-area-text,
  .follow-oyster {
    color: $white;
    display: block;
    font-size: .75em;
    line-height: 1em;
    padding: 9px 18px;
    text-decoration: none;
    @include omnes_medium; // add omnes_medium font family
  }

  $owners-area-btn-width: 130px;

  .owners-area-text {
    background-color: $cyan;
    position: absolute;
    right: 0;
    width: $owners-area-btn-width;
    z-index: 5;
  }

  .follow {
    height: 100%;
    margin-right: $owners-area-btn-width;
    transform: translateX(200px);
    transition: transform 650ms cubic-bezier(.32, .94, .6, 1);
    will-change: transform;
    z-index: 2;
  }

  .follow-on {
    transform: translateX(0);

    .follow-oyster {
      background-color: $blue;
      z-index: 2;
    }

    .back-btn {
      opacity: 1;
    }
  }

  .follow-oyster {
    background-color: $blue;
    color: $lightblue;
    display: inline-block;
    width: 150px;
  }

  .back-btn {
    border-left: 1px solid $blueborder;
    border-right: 1px solid $blueborder;
    color: $lightblue;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: .1rem;
    opacity: 0;
    padding: 0 .75rem;
    transition: opacity 250ms ease-out;
    will-change: opacity;
  }

  .social-links {
    background-color: $blue;
    display: inline-block;
    float: right;
    // height: $header-owners-area-height;
  }

  .social-icons {
    float: right;
    height: 100%;
    justify-content: center;
    outline: 0;

    a {
      border-right: 1px solid $blueborder;

      &:first-of-type {
        border-left: 1px solid $blueborder;
        border-right: 1px solid $blueborder;
      }

      &:last-of-type {
        border: 0;
      }
    }

    .fa {
      cursor: pointer;
      font-size: 1.2rem;
      width: 2rem;
    }
  }
}

.logotwo {
  display: block;
  height: 100%;
  padding: 0;
  transition: all .2s ease-in;
  width: 75px;
}

.site-search {
  // background: url('/assets/images/search-open.png') no-repeat center center;
  background-size: contain;
  display: block;
  height: 100%;
  outline: none;
  position: absolute;
  right: 40px;
  top: 0;
  width: 26px;
  z-index: 3;

  .close-icon,
  .search-icon {
    bottom: 0;
    height: 2rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform .25s ease-out,
                opacity .25s ease-out;
  }

  .close-icon {
    opacity: 0;
    transform: scale(.7);
  }

  .search-icon {
    opacity: 1;
    transform: scale(1);
  }

  svg {
    height: 2rem;
    outline: none;
    width: 2rem;
  }

  path {
    fill: $lightishgrey;
  }
}

.search-bar-open {
  .search-bar {
    opacity: 1;
    transform: translateX(0);
  }

  .close-icon {
    opacity: 1;
    transform: scale(1);
  }

  .search-icon {
    opacity: 0;
    transform: scale(.7);
  }
}

.search-bar {
  // display: none;
  bottom: 0;
  left: 294px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 1s cubic-bezier(.19, 1, .22, 1),
              opacity .25s ease-out;
  will-change: transform, opacity;
  z-index: 2;

  @include breakpoint(large down) {
    left: 220px;
  }

  &::before {
    /* For browsers that do not support gradients */
    /*Standard*/
    background: $white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  input {
    background: $white;
    border: none;
    color: $input-text-colour;
    font-size: 1.875em;
    height: 100%;
    line-height: 1.14285714em;
    margin: 0;
    padding: 0 0 0 20px;
    position: relative;
    width: 100%;
    @include omnes_light; // add omnes_light font family
    letter-spacing: 0.1rem;
    &:focus,
    &:active,
    &:hover,
    &:visited {
      border: none;
    }
  }
}

#global-navigation-modal {
  // Just to make sure it opens above the default modal z-index
  z-index: 1007;
  @include breakpoint(large up) {
    display: none !important;
  }

}

#global-navigation-modal,
#global-filters-modal {
  outline: 0;
  padding: 0;
  top: $header-nav-small-height !important;

  .top-nav-modal {

    @extend .global-header-top-nav;

    .close-button-wrapper {
      background-color: $lightgrey;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 65px;
    }

    .site-search-close {
      display: block !important;
      margin: 0 auto;
      position: relative;
      right: 0;
    }
  }
  // since custom scrollbar add another margin, the offset it
  .mCSB_container {
    .row {
      margin-left: 30px;
    }
  }

  // remove offset intended for Custom Scrollbar
  .mCS_y_hidden.mCS_no_scrollbar_y {
    .row {
      margin-left: 0 !important;
    }
  }

  .nav-body-modal {
    // Doesn't need a height?
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
  }

}

// global filters
#global-filters-modal {

  ul {

    .select2-container {
      display: none;
    }

    .select2-hidden-accessible {
      border: 1px solid $grayborder !important;
      clip: rect(0 0 0 0) !important;
      height: 50px !important;
      margin: 0 0 1rem !important;
      outline: 0;
      overflow: visible !important;
      padding-right: 2.5rem !important;
      padding: 10px 20px !important;
      position: static !important;
      width: 100% !important;
    }

    select {
      color: $grey;
      @include omnes_medium;
    }

    .filter-button {
      margin-top: 15px;
    }

    .button-solid-cyan {
      width: 100%;
    }
  }
}

.no-boxshadow {
  box-shadow: none;

  div {
    box-shadow: none !important;
  }
}

// THIS CLASS MIGHT BE DEAD?
// --- This Class styles the sub-navigation below the main navigation for none-yacht pages. ---
// --- This Class is toggled by JavaScript --
.global-local-subnav-fixed {
  // box-shadow: 0 3px 2px -2px gray;
  background-color: $lightgrey !important;
  bottom: none;
  height: $header-nav-small-height;
  max-height: $header-nav-small-height;
  overflow: visible;
  padding: 0;
  position: fixed !important;
  top: 55px;
  width: 100%;
  z-index: 30;

  ul {
    height: 100%;
    margin-left: 79px;
    width: 100%;

    @include breakpoint(medium only) {
      margin-left: 55px;
    }
  }

  li {
    a {

      @include breakpoint(xlarge up) {
        padding-left: 25px;
        padding-right: 25px;
      }

      @include breakpoint(large only) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &:last-child {
      padding-left: 10px;
    }
  }
  .sticky-sidebar-header {
    background-color: $blue;
    color: $white;
    display: inline-block;
    height: $header-nav-small-height;
    max-height: $header-nav-small-height;
    position: absolute;
    right: 40px;
    top: 0;
    width: 246px;

    @media screen and #{breakpoint(medium up)} and #{breakpoint(1023px down)} {
      bottom: 0;
      height: 55px;
      left: 0;
      margin-left: 55px;
      right: 0;
      top: 55px;
      width: 87.5%;
    }

    .header {
      cursor: pointer;
      height: 100%;
      padding: 0 25px;
      width: 100%;
    }

    h4 {
      color: $white;
      font-size: 12px;
      line-height: 4.5;
      margin: 0;
      @include omnes_medium;
    }

    .fa-angle-down {
      font-size: 18px;
      line-height: 3;
    }

    @include breakpoint(xlarge up) {
      width: 268px;
    }

    .contents {
      display: none;
      // hide first row since its the same header being re-used

      tr:first-child,
      .overview-download > h3 {
        display: none;
      }
    }
  }

  .yachts-yacht-sticky-header {
    background-color: $lightblue;
  }
  // style filters
}

.global-page-hero {

  .global-local-subnav-fixed.filters {
    background-color: $blue !important;
    height: $header-nav-small-height + 20;
    max-height: $header-nav-small-height + 20;
    padding: 15px 0;
  }
}

// Search box (used on the search results page)
.search-results-box {
  form {
    display: flex;

    > input {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      flex: 0 0 80%;
      height: auto;
      margin: 0;
    }

    .search-results-submit {
      flex: 0 0 20%;
    }

    @include breakpoint(small down) {

      > input {
        flex: 0 0 70%;
      }

      .search-results-submit {
        flex: 0 0 30%;
      }
    }
  }
}
