@mixin site-menu() {
  .site-menu {
    background: $lightgrey;
    color: $grey;
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 1.75em;
    height: $header-nav-small-height;
    justify-content: space-around;
    max-height: $header-nav-small-height;
    padding: 1rem;
    right: 0;
    top: 0;

    .burger-piece {
      border-top: 1px solid $grey;
      display: block;
      transform-origin: 50% 50%;
      transition: all .25s;
      width: 1.5rem;
      will-change: transform, opacity;
    }

    &.active-burger {
      span {
        opacity: 0;
        transform: scale(.5);
      }

      span:first-child {
        opacity: 1;
        transform: rotate(45deg) translateY(.35rem) translateX(.35rem);
      }

      span:last-child {
        opacity: 1;
        transform: rotate(-45deg) translateY(-.35rem) translateX(.35rem);
      }
    }
  }
}

$max-loop-elements: 10;

.main-nav-first {
  display: inline-block;
  height: 100%;
  list-style: none;
  // 980px to 1024px nav
  a {
    text-decoration: none;
  }

  &__option {
    float: left;
    height: 100%;
    padding: 0 15px;

    &:hover .main-nav-second {
      // opacity: 1;
      // pointer-events: auto;
      display: flex;
    }

    // 980px to 1024px nav
    @include breakpoint(xlarge up) {
      padding: 0 25px;
    }

    & > a {
      align-items: center;
      border-bottom: 2px solid transparent;
      color: $grey;
      display: flex;
      font-size: .75em;
      height: 100%;
      transition: color .25s ease-out, border .25s ease-out;
      width: 100%;
      // padding: 42px 0;
      @include omnes_medium; // add omnes_medium font family
    }

    &:hover > a {
      border-bottom: 2px solid $grey;
      color: $blue;
    }

    &.active {
      color: $blue;

      > a {
        border-bottom: 2px solid $blue;
        color: $blue;
      }
    }

    @for $i from 2 to $max-loop-elements {
      &:nth-child(#{$i}) {
        .main-nav-second {
          &__image {
            &:after {
              background-position-y: #{-16.67% + (16.67% * $i)};
            }
          }
        }
      }
    }
  }

  .active-subnav {
    span {
      border-bottom: 2px solid #00273e;
      color: #375668;
    }
  }
}

.main-nav-second {
  $root: &;

  background: $white;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0 $global-padding;
  position: absolute;
  top: 96px;
  transition: opacity .15s linear;
  width: 100vw;
  border-bottom: 1px solid $grayborder;
  will-change: opacity;

  &::before {
    background-color: $white;
    content: '';
    height: 100%;
    left: 0;
    opacity: 1;
    pointer-events: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &--six {
    #{$root}__option {
      width: (100% / 6);
    }
  }

  &--five {
    #{$root}__option {
      width: (100% / 5);
    }

    #{$root}__image {
      padding-bottom: 51.7%;

      &::after {
        width: calc(500% + 8rem);
      }
    }
  }

  &--split-three {
    #{$root}__option {
      width: (100% / 3);
    }

    #{$root}__image {
      padding-bottom: 38.6%;

      &::after {
        width: calc(300% + 8rem);
      }
    }
  }

  &--split-four {
    #{$root}__option {
      width: (100% / 4);
    }

    #{$root}__image {
      padding-bottom: 51.7%;

      &::after {
        width: calc(400% + 8rem);
      }
    }
  }

  &--two {
    #{$root}__option {
      width: (100% / 2);
    }

    #{$root}__image {
      padding-bottom: 23%;

      &::after {
        width: calc(200% + 8rem);
      }
    }
  }

  &.hidden-animation {
    opacity: 0;
  }


  &__option {
    float: left;
    padding-bottom: $global-padding;
    transition: background-color 250ms ease-in-out;
    width: 25%;

    &:hover {
      background-color: $lightgrey;

      .main-nav-preview span {
        border-bottom: 2px solid $grey;
        color: $blue;
      }

      .active-subnav span {
        border-bottom: 2px solid #00273e;
        color: $blue;
      }
    }

    @for $i from 1 to $max-loop-elements {
      &:nth-child(#{$i}) {
        #{$root}__image {
          &:after {
            left: calc(#{100% - (100% * $i)} - #{($global-margin * 2) * $i}});
          }
        }
      }
    }
  }

  // &--one-down {
  //   #{$root}__image {
  //     background-position-y: 14.3%;
  //   }
  // }

  // &--two-down {
  //   #{$root}__image {
  //     background-position-y: 28.6%;
  //   }
  // }

  &__preview {
    display: block;
    outline: none;
    width: 100%;
  }


  &__image {
    $total-margins: $global-margin * 2;
    display: block;
    margin: 0 $global-margin #{$global-margin / 2} $global-margin;
    overflow: hidden;
    // padding-bottom: 43.4%;
    padding-bottom: 51.7%;
    position: relative;

    &::after {
      // background-color: green;
      // $total-margins: $global-margin * 8;
      background-image: url('/assets/images/oysternavigation_navigation-v2.webp?180917');
      background-position: inherit;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: calc(500% + #{$global-margin * 12});
    }

  }

  &__category {
    // padding: #{$global-padding / 2} 0;
    color: $blue;
    display: inline-block;
    font-size: .75em;
    line-height: 1em;
    margin: $global-margin;
    transition: color .25s ease-out, border .25s ease-out;
    @include omnes_medium;
  }
}

.no-webp .main-nav-second,
.no-js .main-nav-second {
  &__image {
    &::after {
      background-image: url('/assets/images/oysternavigation_navigation-v2.jpg?180917') !important;
    }
  }
}

.main-nav-third {
  margin: 0 $global-margin;
  &__option {
    padding: #{$global-padding / 1.5} 0;
    position: relative;
    &:after {
      background-color: $lightishgrey;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &__link {
    color: $lightblue;
    display: block;
    font-size: .75em;
    text-transform: uppercase;
    will-change: transform;
    transition: color 250ms ease-out,
                transform 250ms ease-out;
    @include omnes_regular; // add omnes_medium font family

    &:hover,
    &:focus {
      color: $blue;
      transform: translateX(6px);
    }
  }
}
