
<form id="saveSearch" action="{{save_search_action_url}}" method="post" style="margin-top: -20px; position: relative">
	<p style="margin: 0 0 10px 0">
	<input type="text" class="text" name="label" value="" placeholder="{{'Search name'|t}}" />
	</p>
	<button type="submit" class="btn submit small"><span>{{ "Save Search"|t }}</span><span style="display: none">{{"Saving"|t}} <i class="fa fa-spinner fa-pulse"></i></span></button>
</form>