.destination-overview{
	margin: 2rem 0rem;
	@include breakpoint(medium down) {
		margin: 1rem 0rem;
	}
	@include breakpoint(small down) {
		margin: 0rem 0rem;
	}
}

// .destinaitons-aside {
// 	.aside-header {
// 		background-color: $charter-theme-color;
// 	}

// 	// .overview-contents {
// 	// 	.overview {
// 	// 		@extend .contact-detail;
// 	// 	}
// 	// }
// }
