.charter-activities {
	.content {
		padding-top: 40px;
		padding-bottom: 70px;
	}

	table {
		tr.header {
			background-color: $charter-theme-color;
			color: #fff;

			th {
				background-color: $charter-theme-color;

				color: #fff;
			}
		}
	}

	.charter-activities-bg {
		height: 400px;
		background-image: url('/assets/images/bg-images/charter-yacht-bg-activities.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px;
	}


	.charter-activities-crew {
		width: 100%;
		margin-bottom: 50px;

		.feature-content {
			padding: 20px;

			img {
				float: left;
				margin: 0 15px 0px 0;
				width: 80px;
				height: 80px;
			}

			p {
				text-align: left;
			}
		}
	}
}



.charter-fleet-side {
	.aside-header {
		background-color: $charter-theme-color;
	}

	.definition-table tbody{
		border-bottom: 0px;
	}
}


.yacht-featured-lists {
	.yacht-featured-list-header {
		background: $charter-theme-color;
	}
}

.charter-yacht-crew {
	.charter-activities-crew {
		.column {
			padding: 0px;
			border: 1px solid #f1f2f2;
		}

		@include breakpoint(small only) {
			// fix border overlapping
			.column {
				border-top: none;

				&:first-child {
					border: 1px solid #f1f2f2;
				}
			}
		}

		@include breakpoint(medium only) {
			// fix border overlapping
			.column {
				&:nth-child(even) {
					border-left: none;
				}
			}
		}

		@include breakpoint(large up) {
			// fix border overlapping
			.column {
				border-left: none;
				border-top: none;

				&:nth-child(3n+1) {
					border-left: 1px solid #f1f2f2;
				}

				&:nth-child(1), &:nth-child(2), &:nth-child(3) {
					border-top: 1px solid #f1f2f2;
				}
			}
		}
	}
}


