#global-navigation-modal {
  .search-box {
    border: none;
    margin: $global-margin;
    margin-top: ($global-margin * 2);

    form {
      background-color: $lightgrey;

      .input-group-label {
        background-color: $lightgrey;
        border: none;
        display: inline-block;
      }

      i.fa.fa-search {
        color: $lightishgrey;
      }

      input.input-group-field {
        background-color: $lightgrey;
        border: 0;
        box-shadow: none;
        color: $grey;
        display: inline-block;
        font-size: 20px;
        height: 45px;
        line-height: 1.2;
        margin-left: 1rem;
        outline: 0;
        padding: 0;
        padding-right: 20px;
        width: auto;

        &:focus {
          outline: none;
        }
      }

    }
  }

  .navigation-links {
    color: $grey;
    padding: $global-padding;
    padding-bottom: 200px;

    ul {
      border: 0;
    }

    .sub-navigation {
      margin-left: 0;
    }

    .sub-navigation-item {
      // border-bottom: 1px solid $grayborder;

      &:last-child {
        border-bottom: none;
      }

      a {
        line-height: 4;
        @include omnes-regular;
      }

    }

    a {
      color: $blue;
      font-size: 14px;
      @include omnes_medium;
    }

    .accordion-title {
      border: 0;
      border-bottom: 1px solid $lightishgrey;
      position: relative;
      transition: background-color 250ms ease-out,
                  color 250ms ease-out;
      line-height: 4;

      &::before {
        content: '';
        display: none;
      }

      span {
        display: block;
        width: calc(100% - 32px);
      }

    }

    // accordion-title needed by foundation
    .accordion-title {
      padding: 0 $global-padding;
      text-transform: uppercase;
    }

    .second-level-nav {
      background-color: $lightgrey;

      // .accordion-title {
      //   padding-left: 0;
      //   padding-right: 0;
      // }

      > .sub-navigation-item {
        &.is-active {
          > .accordion-title {
            background-color: $lightgrey;
            @include omnes_medium;
            color: $blue;
          }
        }
      }

    }

    .first-level-nav {
      > .accordion-item:first-child {
        > .accordion-title {
          border-top: 1px solid $lightishgrey;
        }
      }
    }

    .third-level-nav {
      margin: 0;
      .accordion-title {
        padding: 0 $global-padding * 2;
      }
    }

    .accordion-content {
      border: none;
      padding: 0;
    }

    .fa {
      font-size: 20px;
      height: 30px;
      line-height: 1.5;
      margin-top: -15px;
      padding-left: $global-padding * 2;
      padding-right: $global-padding;
      position: absolute;
      right: 0;
      top: 50%;
    }

    .fa-angle-down {
      display: block;
    }

    .fa-angle-up {
      display: none;
    }

    .is-active {
      > .accordion-title {
        .fa-angle-down {
          display: none;
        }

        .fa-angle-up {
          display: block;
        }
      }
    }

    .accordion-item,
    .filter-option {
      &.active {
        a::after {
          content: '';
          display: none;
        }
      }

      &.is-active {
        > a {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }

  .follow-oyster-social-btns {
    .columns {
      display: none;
    }

    .social-links {
      display: block !important;
      z-index: 20;
    }
  }

  footer.nav-footer-modal {
    bottom: 0;
    font-size: 16px;
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 10px;
    @include omnes_medium;

    .columns {
      height: 55px;
    }

    button {
      background-color: $blue;
      font-size: 16px;
      height: 100%;
      margin: 0;
      outline: 0;
    }

    a {
      font-size: 16px;
      height: 100%;
      line-height: 1.4;
      margin: 0;
      outline: 0;
    }

    .social-links {
      display: none;
      .back-btn {
        border-right: 1px solid $blueborder;
        cursor: pointer;
        display: inline-block;
        float: left;
        height: 100%;
        width: 60px;
      }
      img {
        display: block;
        margin-top: 15px;
        margin: 0 auto;
        width: 15px;
      }
      .social-icons {
        float: right;
        a {
          &:first-child {
            border-left: 1px solid $blueborder;
          }
          background-color: none;
          border-right: 1px solid $blueborder;
        }
      }
    }

    .social-icons {
      height: 100%;

      .fa-facebook {
        padding: 0 20px;
      }

      .fa-twitter {
        border: 0;
      }

      .fa-youtube-play {
        border-right: 0;
      }

    }
  }
}
