{embed="site/.header" page_title="Services" snap_to="undefined" snap_offset="undefined"}
    <article class="blocks-on-blocks after-nav">
      {exp:channel:entries channel="about" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published"}

   

          <section style="" class="block-on-block">
            <div class="block-on-block-info">
              <h1>Brokerage</h1>
            <p>Internationally recognised as the pre-owned Oyster specialists. Our dedicated team of international yacht brokers has extensive knowledge of every Oyster built, with unique access to the history, original build files and photographic library.</p><a href="/brokerage" class="button-solid-blue button-chubby">Discover More</a>
            </div>
          </section>
            
                 <section style="" class="block-on-block">
            <div class="block-on-block-info">
              <h1>Charter</h1>
            <p>Oyster Charter is dedicated to matching the client with the best Oyster yacht and crew for a tailored sailing adventure. We have an impressive fleet to offer flexibility to design the ideal Oyster Charter holiday for you.</p><a href="/charter" class="button-solid-blue button-chubby">Discover More</a>
            </div>
          </section>

                   <section style="" class="block-on-block">
            <div class="block-on-block-info">
              <h1>Crew</h1>
            <p>The official crew recruitment agency for Oyster Yachts, approved by the MCA under the Maritime Labour Convention (MLC 2006), launched in 2017 and now with more than 100 registered quality crew.</p><a href="/crew" class="button-solid-blue button-chubby">Discover More</a>
            </div>
          </section>

           <section style="" class="block-on-block">
            <div class="block-on-block-info">
              <h1>Service &amp; Support</h1>
            <p>When you buy an Oyster you become part of the Oyster family. We believe in a lifetime of worldwide aftersales support and we work hard to provide the best customer service in our industry.</p><a href="/brokerage" class="button-solid-blue button-chubby">Discover More</a>
            </div>
          </section>

               

    {/exp:channel:entries}
       
        </article>
        <style>
        section {margin-bottom:10px;}
article section:nth-child(1) {
  background-image: url('/assets/images/oysteryachts-services-brokerage.jpg');
}

article section:nth-child(2) {
  background-image: url('/assets/images/oysteryachts-services-charter.jpg');')
}
article section:nth-child(3) {
 background-image: url('/assets/images/oysteryachts-services-crew.jpg');
}
article section:nth-child(4) {
background-image: url('/assets/images/oysteryachts-services-support.jpg');
}
article section:nth-child(5) {
background-image: url('/assets/images/oysteryachts-services-team.jpg');
}
        </style>
    {footer}