{embed="site/.header" page_title="Service Worldwide" snap_to="undefined" snap_offset="undefined"}

<section style="background-image: url('/assets/images/bg-images/oysteryachts-about-heritage.jpg');" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">

</section>

<section class="page-home-about events-home-about">
	<div class="row padded-full-width-row">
		<div class="large-offset-1 large-7 float-left">
			<h2 class="yacht-list-modal">Support &amp; Spares</h2>
			<h1 class="text-uppercase">Worldwide Support</h1>
		<p>	At Oyster, we believe in a lifetime of support worldwide, and work hard to provide the best customer service in our industry. Our aim is to provide a complete and comprehensive service to every Oyster yacht, regardless of its age or condition. Our Oyster Service Centres have been established to provide additional support in key locations to all our Oyster Owners and we have a dedicated support and spares team at our UK shipyards in Wroxham and Southampton.</p>
		</div>
		<div class="large-offset-1 large-3 small-12 float-left">
<aside class="overview-download columns">
				<div class="block-section-header aside-header">
					<h3 class="text-uppercase">Contact Support & Spares</h3>
					<div class="dropdown-arrow"></div>
				</div>
				<div class="overview-contents">
					<div class="overview">
<p>						<a href="mailto:support@oysteryachts.com">support@oysteryachts.com</a>
					</p>					</div>
				</div>
			</aside>
		</div>
	</div>
</section>





{footer}
