{embed="site/.header" page_title="Oyster Owners Area" snap_to=".login-page" snap_offset="55"}

<article style="background-image: url('/assets/images/login-bg-min.jpg')" class="login-page after-nav">
	<div id="login-page" class="full-modal reveal">
		<h2>Forgot Password</h2>

		<div id="login-panel">
			{exp:user:forgot_password
			    password_reset_template="owners-area/reset-password/%id%"
			    return="owners-area/forgot-password-success"
			    password_reset_email_subject="Password Reset Request"
			}

			<div class="modal-content">
				<div class="form-error text-center text-uppercase"><span>ERROR: Invalid or incomplete fields</span><span class="error-messages"></span></div>
				<fieldset>
					<legend class="show-for-sr">Login</legend>
					<ol>
						<li class="required-input">
							<label for="login_username" class="show-for-sr">Email *</label>
							<input id="login_username" type="email" name="email" placeholder="Email Address" title="Please enter a valid email" required="" class="required-input">
						</li>
					</ol>
				</fieldset>
			</div>
			<div class="modal-footer">
				<div class="float-right">
					<button aria-controls="formModal" aria-haspopup="true" tabindex="0" type="submit" value="Submit" class="button-solid-blue">Submit </button>
				</div>
			</div>

			{/exp:user:forgot_password}
		</div>
	</div>
</article>

{footer}