{owners_area_auth}

{embed="site/.header" page_title="Oyster World Rally" snap_to=".owners-world-rally" snap_offset="55"}

{owners_area_subnav}

<section style="background-image: url('/assets/images/owners-world-rally.jpg'); " class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--small global-page-hero-adjust-subnav">
    </section>
     {exp:channel:entries channel="owners_area_world_rally" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" sort="desc"}
    <article class="owners-world-rally global-padding-top-only--large">
      <section>
        <div class="row row-pad">
          <div class="large-offset-1 large-7 float">
            <h2>Oyster Owners Area</h2>
            <h1>{title}</h1>
           
     {oa-wr-description}
           
          </div>
{embed="owners-area/sidebar"}
        </div>
      </section>
      <section class="staggered-features">
        <div class="row">
          <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/owners-world-rally-feature.jpg"></div>
          <div class="staggered-details medium-5 small-12 columns">
            <div class="staggered-details-contents">
              <h2>Notice of Event</h2>
            {world_rally_guide_description}
            <a href="{notice_of_event_download}" class="button-solid-white">Download Notice of Event</a>
            </div>
          </div>
        </div>
        <div class="row staggered-row-reverse">
          <div class="staggered-details medium-5 small-12 columns">
            <div class="staggered-details-contents">
              <h2>World Rally Map</h2>
             {crew_directory_description}
             <a href="{world_rally_map_download}" class="button-solid-white">Download Map</a>
            </div>
          </div>
          <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/oysteryachts-ownersection-map.jpg"></div>
        </div>
      </section>
     
    </article>
 {/exp:channel:entries}
{footer}