{embed="site/.header" page_title="Oyster Owners Area" snap_to=".login-media-thank-you" snap_offset="55"}

<article style="background-image: url('/assets/images/login-bg-min.jpg')" class="login-page after-nav">
	<div id="login-page" class="full-modal reveal">
		<h2>Reset Password</h2>
		<div style="padding:1em">
		<div class="sign-up-success" style="margin:0;width:100%;"><span><strong>Your password has been reset</strong>, you can <a href="{path='owners-area/login'}">log in here</a></span></div>
	
	</div></div>
</article>

{footer}