          <div class="large-offset-1 large-3 float-left">
                <aside class="overview-download columns owners-rally-side-info">
                      <div class="block-section-header aside-header">
                        <h3 class="text-uppercase"><a href="{path='owners-area/oyster-world-rally'}" style="color:#fff">Oyster World Rally</a></h3>
                        <svg id="svg-arrow" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 -20 100 100" xml:space="preserve">
                          <g>
                            <line x1="10" y1="10" x2="53" y2="53" stroke="#454646" stroke-width="10"></line>
                            <line x1="90" y1="10" x2="47" y2="53" stroke="#454646" stroke-width="10"></line>
                          </g>
                        </svg>
                      </div>
                  <div class="overview-contents">
                    <div class="overview columns small-12">
                      <ul>
                        <li><a href="{path='owners-area/oyster-world-rally-downloads'}">Downloads</a></li>
                        {exp:member:custom_profile_data}
                        {if world_rally == "Yes"}
                        <li><a href="{path='owners-area/oyster-world-rally-crew'}">World Rally Crew Directory</a></li>
                        {/if}
                        {/exp:member:custom_profile_data}
                        <li><a href="mailto:worldrally2017@oysteryachts.com">Contact World Rally Team</a></li>
                      </ul>
                    </div>
                  </div>
                </aside>
          </div>