<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charse="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> {if embed:page_title != ""}
  <title>{embed:page_title} - {site_name}</title>
  {if:else}
  <title>{site_name}</title>
  {/if} {if embed:entry_id != ""} {exp:seo_lite entry_id="{embed:entry_id}"} {if:else} {exp:seo_lite use_last_segment="yes"} {/if}
  <title>Oyster Yachts</title>
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6172892/7627392/css/fonts.css" />
  <link rel="stylesheet" href="{site_url}assets/styles/main.css?091017">
  <style>
  .yachts-fleet .column {
    padding-left: 0;
    padding-right: 0;
  }

  .overview a {
    white-space: nowrap;
  }

  #search_form {
    width: 100%;
    height: 100%;
  }

  .news-thumb-image {
    background-image: url("/assets/images/oysteryachts-news-default_image_sml.jpg");
  }

  .list-entrance>li {
    -webkit-transition: opacity 0.5s;
    /* Safari */
    transition: opacity 0.5s;
  }

  .fadein {
    opacity: 1 !important;
  }

  {
    if segment_1==""
  }

  .hero-home .hero-slide .hero-contents h1 {
    font-family: 'omnes_lightregular', sans-serif;
    letter-spacing: 0.25rem;
    font-size: 3rem;
    line-height: 1em;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .hero-home .hero-slide .hero-contents h1 strong {
    font-family: 'omnes_regularregular', sans-serif;
    letter-spacing: .05rem;
  }

  .hero-home .hero-slide .hero-contents p {
    font-size: .9375em;
    line-height: 1.73333333em;
    margin-bottom: 1.73333333em;
    letter-spacing: .05rem;
    color: white;
  }

  .hero-home .hero-slide .hero-contents a {
    background-color: #fff;
    border-color: #fff;
    color: #003145;
  }

  {
    /if
  }

  </style>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-8862948-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>

<body>
  <header class="global-header">
    <div class="top-header">
      <div class="fixed-message">
        <div class="fixed-message-contents"><small>We use cookies to enhance your browsing experience, please read our <a href="/legal/privacy-policy">Privacy Policy</a> to find out more.</small>
          <button class="accept-message button-clear-white">Accept & Close</button>
        </div>
      </div>
    </div>
    <div class='main-header'>
        <h1 class="main-header__home">
          <a href="{site_url}" class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 30" preserveAspectRatio="xMinYMid" class="logo__container">
              <path class='logo__letter' d="M157.3 7.1l-.9-1.4c-1.8-2.8-4-3.3-10.6-3.4-.4 0-.6.2-.6.5-.1 2.6-.2 7.7-.2 12.5 0 5.3.1 10.2.6 11.2.6 1.2 1.7 1.5 3 1.5.7 0 .6.7 0 .7h-12.2c-.6 0-.7-.7 0-.7 1.4 0 2.5-.4 3.2-1.5.5-.9.7-6.4.7-12.1 0-4.8-.1-9.8-.1-11.6 0-.4-.2-.5-.6-.5-3.7 0-8.4 0-10.5 3.4l-.7 1.5c-.2.5-.8.4-.7 0l1.4-5.9c9.9.1 17.7.4 27.5 0l1.3 5.9c.2.4-.4.4-.6-.1"/>
              <path class='logo__letter' d="M74.9 2c-1.7.1-3.1 1.5-4.1 2.6-.4.6-.9 1.2-1.5 1.9l-6.1 7.9c-.8.9-1 1.8-1 2.8v8.1c.1.7.2 1.4.4 1.7.6.7 1.9 1.1 2.8 1.1.7.1.6.7 0 .7H54.1c-.7 0-.9-.7 0-.7 1.4 0 2.6-.9 2.9-2.1.1-.3.1-.6.2-1s.1-.8.1-1.2v-3.7c0-2.4-.5-4.2-1.9-6.3-.3-.5-.7-.9-1-1.4-.4-.7-3.8-5.2-4-5.5l-1.6-2c-.7-1-1.6-1.9-2.7-2.5-.5-.3-1-.4-1.6-.4-.5 0-.6-.7 0-.7h11.7c.5 0 .5.7 0 .7-1.6 0-2 .6-2 1.2 0 .7.4 1.4.7 1.7l3.7 5.3c1.4 2 2.7 3.9 3.2 4.6.9-1.2 5.8-7.6 6-8l.5-.7c.2-.3.3-.5.5-.8.3-.5.6-1.1.7-1.7 0-.9-.4-1.5-1.8-1.6-.6 0-.7-.7-.1-.7H76c.5 0 .5.7 0 .7-.5-.1-.8-.1-1.1 0"/>
              <path class='logo__letter' d="M196.7 28.8h-22.8c-.6 0-.7-.5 0-.6.6-.1 1.1-.2 1.7-.5 1.4-.6 1.3-2.5 1.3-3.7V6.1c0-.5 0-.9-.1-1.4-.1-1.7-.8-2.6-2.7-2.9-.7-.1-.5-.6 0-.6h22.4c.9 0 1.1.8 1.1.8l.6 4c.1.5-.5.6-.7.3-.6-.9-1-1.6-1.9-2.3-1-.8-2.4-1.4-4.8-1.7-1.3-.2-3.9-.2-5.8-.2-.6 0-1.2 0-1.9.1-.5 0-1.3.2-1.4 2.5v9.6h2.1l1.6-.1c2.4-.2 5.9-.9 6.2-3.5h.8v7.6h-.8c-.9-3-3.3-2.8-6.2-3h-3.7c0 .3-.1.8-.1 1.4v6.6c0 .8.1 1.6.1 2.3.2 1.5.5 1.9 2.2 2.2 1 .1 2 .2 3.1.2h1.8c.8 0 1.5-.1 2.4-.2 2.3-.3 6.6-2.2 7.9-4.3.4-.6 1-.5.8.2l-1 3.6c.1 1-.8 1.5-2.2 1.5"/>
              <path class='logo__letter' d="M111.5 24.7c-.6 1-1.5 1.8-2.6 2.5-2.5 1.6-5.9 2-8.8 2-2.7 0-4.9-.5-6.5-.9-1.4-.3-2.6-.5-3.6-.3-.5.1-.5-.2-.5-.5 0-.7-.1-5.3-.1-5.3 0-.4.6-.4.7 0 1.2 3.3 6.2 6.1 10 6.1 2.3 0 4.1-.5 5.5-1.5s2.1-2.3 2.1-4c0-1.2-.5-2.3-1.5-3.1-1-.9-2.4-1.4-3.7-1.7-.7-.2-6.2-1.7-6.9-2-.8-.3-1.6-.6-2.4-1-.8-.5-1.4-1-2-1.6s-1-1.3-1.4-2-.5-1.5-.5-2.4c0-1.4.3-2.6.9-3.6 1.3-2.1 3.6-3.4 6.1-4 1.4-.3 2.8-.5 4.3-.5 1.4 0 2.6.1 3.6.3 1.5.3 2.9.6 4.4.7h.8c.4 0 .7.1.7.5V8c0 .9-.4.8-.8-.2-.1-.3-1.1-2.4-2-3.4-1.4-1.3-3.4-2.5-6.5-2.5-1 0-2.1.1-2.9.3s-1.6.6-2.2 1-1.1 1-1.5 1.7c-.3.6-.5 1.4-.5 2.2 0 1.3.5 2.3 1.4 3.1 1 .8 2.3 1.4 3.8 1.9.6.2 6.1 1.7 6.7 1.9 2.1.6 3.8 1.6 5 2.8s1.8 2.7 1.8 4.6c0 1.1-.3 2.2-.9 3.3"/>
              <path class='logo__letter logo__letter--o' d="M26.3 10.3c-.4-1.5-1.1-2.9-2-4.2S22.3 3.8 21 3c-1.3-.8-2.8-1.2-4.6-1.2S13 2.2 11.7 3 9.3 4.8 8.4 6C7.6 7.3 7 8.8 6.6 10.3S6 13.5 6 15.1c0 3.1.8 6.5 2.6 9.1.9 1.2 2 2.1 3.3 2.9 1.3.7 2.9 1.1 4.6 1.1 1.8 0 3.3-.4 4.5-1.2 1.3-.8 2.4-1.8 3.3-3.1.9-1.3 1.5-2.7 1.9-4.3.4-1.6.7-3.2.7-4.7 0-1.6-.2-3.1-.6-4.6m4.9 10.2c-.9 1.7-2 3.2-3.5 4.5s-3.2 2.3-5.1 2.9c-1.9.7-4 1-6.2 1s-4.2-.3-6.2-1c-1.9-.7-3.6-1.6-5.1-2.9-1.5-1.2-2.6-2.7-3.5-4.4C.8 19 .4 17 .4 15.1c0-2.2.4-4.1 1.3-5.9.9-1.7 2.1-3.2 3.6-4.4S8.6 2.6 10.5 2c2-.7 4.1-1 6.4-1 2.4 0 4.6.4 6.5 1.1 1.9.8 3.6 1.8 4.9 3.1 2.8 2.6 4.2 6.1 4.2 9.7 0 2.1-.4 3.9-1.3 5.6"/>
              <path class='logo__letter' d="M244 28.8c-4.4.1-6.6-2.6-7.8-3.6-2.5-2.3-6.1-5.6-6.9-6.3-.7-.7-2.3-2.3-3.3-3-.5-.2-.5-.7 0-.7 1.3-.1 2.2-.3 3.1-.6 1.5-.4 2.9-1.3 3.8-2.5.4-.5.7-1.1.9-1.7.2-.6.3-1.3.3-1.9 0-2.6-1.5-4.5-4.1-5.6-.7-.3-1.4-.5-2.1-.6-.7-.1-1.5-.2-2.3-.2h-1.4c-.8 0-1 1.3-1 2.8 0 .6-.1 3-.1 3v15.2l.1 2.1c.1 2.2 1.2 2.8 3.5 2.9.6 0 .5.7 0 .7h-11.6c-.5 0-.6-.5 0-.6 1.4-.2 2.2-.6 2.6-2 .1-.3.1-.6.2-1s.1-.8.1-1.2V6.1c0-.5 0-.9-.1-1.3 0-.4-.1-.8-.2-1.1-.1-.6-.5-1.3-1.1-1.5-.4-.2-.9-.3-1.4-.4s-.5-.6 0-.6h10.5c1.9 0 3.6.1 5.1.2 1.5.1 2.9.4 4.1 1 1.3.6 2.3 1.4 3.1 2.4s1.2 2.3 1.2 3.8c0 1-.2 1.8-.6 2.6-1.2 2.3-3.9 3.8-6.5 4.6l.4.4c1.1 1.1 1.4 1.4 2.7 2.5 0 0 4.7 4.4 5.7 5.2 2.6 2.3 4.4 3.7 8.2 4.1.6.1.5.7-.1.6l-5 .2z"/>
            </svg>
          </a>
        </h1>
      </a>
      {if embed:page_title != ""}
        <h2 class="main-header__title">{embed:page_title}</h2>
      {/if}
      <div class="main-header__menu">
        <button class='burger'>
          <span class='burger__piece'></span>
          <span class='burger__piece'></span>
          <span class='burger__piece'></span>
        </button>        
      </div>

    </div>

    {embed="site/.main_nav" page_title="{embed:page_title}"}
    </div>
  </header>
