<header class="sub-bar sub-bar--large">
  <div class="sub-bar__title">
    <h1>{embed:page_title}</h1>
  </div>
  <nav class="sub-bar__nav">
    <ul class="sub-bar__menu">
      <li{if embed:page == "route"} class="active"{/if}><a href="{path='world-rally/world-rally-2013-14/route'}" class="text-uppercase"><span>The Route</span></a></li>
      <li{if embed:page == "news"} class="active"{/if}><a href="{path='world-rally/world-rally-2013-14/news'}" class="text-uppercase"><span>News</span></a></li>
      <li{if embed:page == "entries"} class="active"{/if}><a href="{path='world-rally/world-rally-2013-14/entries'}" class="text-uppercase"><span>Entries</span></a></li>
      <li{if embed:page == "gallery"} class="active"{/if}><a href="{path='world-rally/world-rally-2013-14/gallery'}" class="text-uppercase"><span>Gallery</span></a></li>
    </ul>
  </nav>
  <div class="sub-bar__buttons">
    <a class="button-clear-invert button-flush" href="/contact">Contact</a>
  </div>
</header>