<header class="sub-bar sub-bar--large">
  <div class="sub-bar__title">
    <h1>{embed:page_title}</h1>
  </div>
  <nav class="sub-bar__nav">
    <ul class="sub-bar__menu">
      <li{if embed:page == "fleet"} class="active"{/if}><a href="{path='brokerage/fleet'}" class="text-uppercase"><span>Fleet</span></a></li>
      <li><a href="{path='brokerage/team'}" class="text-uppercase"><span>Team</span></a></li>
      <li{if embed:page == "boat-shows"} class="active"{/if}><a href="{path='events'}" class="text-uppercase"><span>Events</span></a></li>
    </ul>
  </nav>
  <div class="sub-bar__buttons">
    <a class="button-clear-invert button-flush" href="mailto:brokerage@oysteryachts.com">Contact</a>
  </div>
</header>