<?php 
  $imgExt = 'jpg';
?> {exp:channel:entries channel="home" dynamic="no" disable="member_data|categories|category_fields|pagination|member_data" cache="yes" refresh="60" status="published" } {embed="site/.header" page_title="" entry_id="{entry_id}" snap_to=".hero-home .scroll-message-contents-wrapper" snap_offset="100"} {/exp:channel:entries} {exp:channel:entries channel="home" dynamic="no" disable="member_data|categories|category_fields|pagination|member_data" cache="yes" refresh="60" status="published" }
<article id="homepage" class="home carosel">
  <nav class="carosel__pagination-wrap">
    <a class="carosel__link" data-index="0">
          {embed="site/paginator" idx="0"}
        </a>
    <a class="carosel__link" data-index="1">
          {embed="site/paginator" idx="1"}
        </a>
    <a class="carosel__link" data-index="2">
          {embed="site/paginator" idx="2"}
        </a>
    <a class="carosel__link" data-index="3">
          {embed="site/paginator" idx="3"}
        </a>
    <a class="carosel__link" data-index="4">
          {embed="site/paginator" idx="4"}
        </a>
  </nav>
  <section data-index="0" class="carosel__image-wrap">
    <div class="carosel__image">
      <img src="/assets/images/sizes/001-yachts-home-x1.<?php echo $imgExt ?>" srcset="data:image/jpeg;base64,<?php echo base64_encode(file_get_contents('./assets/images/sizes/001-yachts-home-holder.jpg')); ?>" data-sizes="auto" data-srcset="
                /assets/images/sizes/001-yachts-home-x1.<?php echo $imgExt ?> 1500w 762h,
                /assets/images/sizes/001-yachts-home-x05.<?php echo $imgExt ?> 750w,
                /assets/images/sizes/001-yachts-home-x075.<?php echo $imgExt ?> 1125w,
                /assets/images/sizes/001-yachts-home-x13.<?php echo $imgExt ?> 1950w,
                /assets/images/sizes/001-yachts-home-x2.<?php echo $imgExt ?> 3000w 1523h" class="lazyload blur-up">
    </div>
    <div class="text-wrapper">
      <p class="text slide-title">
        <span class="slide-title__number">01</span> Yachts
      </p>
      <p class="text">
        Our yachts are proven through Ocean Adventures. We have 45 years and more than 20 million sailing miles of experience you can trust.
      </p>
      <p class="text">
        <a class="button button--chubby button--hover button--solid-white" href="{path='yachts'}">Explore</a>
      </p>
    </div>
  </section>
  <section data-index="1" class="carosel__image-wrap">
    <div class="carosel__image">
      <img src="/assets/images/sizes/002-events-home-x1.<?php echo $imgExt ?>" srcset="data:image/jpeg;base64,<?php echo base64_encode(file_get_contents('./assets/images/sizes/002-events-home-holder.jpg')); ?>" data-sizes="auto" data-srcset="
              /assets/images/sizes/002-events-home-x1.<?php echo $imgExt ?> 1500w 762h,
              /assets/images/sizes/002-events-home-x05.<?php echo $imgExt ?> 750w,
              /assets/images/sizes/002-events-home-x075.<?php echo $imgExt ?> 1125w,
              /assets/images/sizes/002-events-home-x13.<?php echo $imgExt ?> 1950w,
              /assets/images/sizes/002-events-home-x2.<?php echo $imgExt ?> 3000w 1523h" class="lazyload blur-up">
    </div>
    <div class="text-wrapper">
      <p class="text slide-title">
        <span class="slide-title__number">02</span> Events
      </p>
      <p class="text">
        We look after you wherever you are sailing. Exceptional service and brilliant exclusive events to enjoy in like-minded company.
      </p>
      <p class="text">
        <a class="button button--chubby button--hover button--solid-white" href="{path='events'}">Explore</a>
      </p>
    </div>
  </section>
  <section data-index="2" class="carosel__image-wrap">
    <div class="carosel__image">
      <img src="/assets/images/sizes/003-services-home-x1.<?php echo $imgExt ?>" srcset="data:image/jpeg;base64,<?php echo base64_encode(file_get_contents('./assets/images/sizes/003-services-home-holder.jpg')); ?>" data-sizes="auto" data-srcset="
              /assets/images/sizes/003-services-home-x1.<?php echo $imgExt ?> 1500w 762h,
              /assets/images/sizes/003-services-home-x05.<?php echo $imgExt ?> 750w,
              /assets/images/sizes/003-services-home-x075.<?php echo $imgExt ?> 1125w,
              /assets/images/sizes/003-services-home-x13.<?php echo $imgExt ?> 1950w,
              /assets/images/sizes/003-services-home-x2.<?php echo $imgExt ?> 3000w 1523h" class="lazyload blur-up">
    </div>
    <div class="text-wrapper">
      <p class="text slide-title">
        <span class="slide-title__number">03</span> Professional Services
      </p>
      <p class="text">
        Providing you with world-class professional services of Brokerage, Chartering, Crew and Support.
      </p>
      <p class="text">
        <a class="button button--chubby button--hover button--solid-white" href="{path='services'}">Explore</a>
      </p>
    </div>
  </section>
  <section data-index="3" class="carosel__image-wrap">
    <div class="carosel__image">
      <img src="/assets/images/sizes/004-projects-home-x1.<?php echo $imgExt ?>" srcset="data:image/jpeg;base64,<?php echo base64_encode(file_get_contents('./assets/images/sizes/004-projects-home-holder.jpg')); ?>" data-sizes="auto" data-srcset="
              /assets/images/sizes/004-projects-home-x1.<?php echo $imgExt ?> 1500w 762h,
              /assets/images/sizes/004-projects-home-x05.<?php echo $imgExt ?> 750w,
              /assets/images/sizes/004-projects-home-x075.<?php echo $imgExt ?> 1125w,
              /assets/images/sizes/004-projects-home-x13.<?php echo $imgExt ?> 1950w,
              /assets/images/sizes/004-projects-home-x2.<?php echo $imgExt ?> 3000w 1523h" class="lazyload blur-up">
    </div>
        <div class="text-wrapper">
      <p class="text slide-title">
        <span class="slide-title__number">04</span> Custom Build
      </p>
      <p class="text">
        We’ve always had the appetite for custom build projects.
      </p>
      <p class="text">
        <a class="button button--chubby button--hover button--solid-white" href="{path='custombuild'}">Explore</a>
      </p>
    </div>
  </section>
  <section data-index="4" class="carosel__image-wrap">
    <div class="carosel__image">
      <img src="/assets/images/sizes/005-projects-home-x1.<?php echo $imgExt ?>" srcset="data:image/jpeg;base64,<?php echo base64_encode(file_get_contents('./assets/images/sizes/005-projects-home-holder.jpg')); ?>" data-sizes="auto" data-srcset="
              /assets/images/sizes/005-projects-home-x1.<?php echo $imgExt ?> 1500w 762h,
              /assets/images/sizes/005-projects-home-x05.<?php echo $imgExt ?> 750w,
              /assets/images/sizes/005-projects-home-x075.<?php echo $imgExt ?> 1125w,
              /assets/images/sizes/005-projects-home-x13.<?php echo $imgExt ?> 1950w,
              /assets/images/sizes/005-projects-home-x2.<?php echo $imgExt ?> 3000w 1523h" class="lazyload blur-up">
    </div>
    <div class="text-wrapper">
      <p class="text slide-title">
        <span class="slide-title__number">05</span> Refit &amp; Maintenance
      </p>
      <p class="text">
        35 years and more than 60 projects from J Class Velsheda and Shamrock to a Thames launch and many Oysters.
      </p>
      <p class="text">
        <a class="button button--chubby button--hover button--solid-white" href="{path='services'}">Explore</a>
      </p>
    </div>
  </section>
</article>
{footer}
