{embed="site/.header" snap_to=".hero-home .scroll-message-contents-wrapper" snap_offset="100"}

<section class="hero-home">
      <div class="hero-controls-wrapper owl-dots">
        <div class="hero-controls">
          <div class="nav-point"></div>
          <div class="nav-point"></div>
          <div class="nav-point"></div>
        </div>
      </div>
      <div class="scroll-message">
        <div class="down-arrow"><i class="fa fa-angle-down"></i></div>
        <div class="scroll-message-contents-wrapper text-uppercase">
          <div class="scroll-message-contents"><span>Scroll</span><img src="/assets/images/mouse.png" class="mouse-icon"><span>Down</span></div>
        </div>
      </div>
      <div class="hero-slides owl-carousel">
        <div class="hero-slide">
          <div class="hero-contents">
            <h1 class="title">Be <span>Limitless</span></h1>
            <p class="text"> Inspiring to explore the seas, pushing beyond boundaries with absolute confidence. Welcome to Oyster Yachts.</p><a class="button-solid-blue">View Our Fleet</a>
          </div>
          <div style="background-image:url('/assets/images/boat-from-above.jpg')" class="hero-image slide-1"></div>
        </div>
        <div class="hero-slide">
          <div class="hero-contents">
            <h1 class="title">Create <span>Memories</span></h1>
            <p class="text"> Offshore, onshore, the Oyster team is placed to help you navigate the world. Join the Oyster World Rally 2017-19.</p><a class="button-solid-blue">Oyster World Day</a>
          </div>
          <div style="background-image:url('/assets/images/_DSC4836.jpg')" class="hero-image slide-2"></div>
        </div>
        <div class="hero-slide">
          <div class="hero-contents">
            <h1 class="title">Oyster <span>625</span></h1>
            <p class="text"> Handcrafted fit-out to a luxurious standard barely found other than on a custom-built yacht. This is the Oyster 625.</p><a class="button-solid-blue">View Yacht Overview</a>
          </div>
          <div style="background-image:url('/assets/images/_DSC4574.jpg')" class="hero-image slide-3"></div>
        </div>
      </div>
    </section>
    <section class="yacht-feature landing-yacht-feature">
      <div class="row">
        <div class="yacht-feature-large-media-container">
          <div class="details large-6 columns">
            <div class="slide slide-1 owl-item">
              <h2>Oyster 625</h2>
              <p>The triple award winning Oyster 625 is designed to bring some significant improvements to the already successful pedigree of the Oyster 61 and 62.</p><a class="button-solid-white">View Oyster 625 Overview</a>
            </div>
            <div class="slide slide-2 owl-item">
              <h2>Oyster 575</h2>
              <p>Experience unsurpassed in this class of deck saloon cruising yacht. The popular Oyster 575 offers effortless blue water cruising and exhilarating performance.</p><a class="button-solid-white">View Oyster 575 Overview</a>
            </div>
            <div class="slide slide-3 owl-item">
              <h2>Oyster 825</h2>
              <p>Refined combination of owner luxury and crew utility for six-star service. The new Oyster 825 is sure to attract acclaim wherever she goes.</p><a class="button-solid-white"> View Oyster 825 Overview</a>
            </div>
            <div class="slide slide-1 owl-item">
              <h2>Oyster 625</h2>
              <p>The triple award winning Oyster 625 is designed to bring some significant improvements to the already successful pedigree of the Oyster 61 and 62.</p><a class="button-solid-white">View Oyster 625 Overview</a>
            </div>
            <div class="slide slide-2 owl-item">
              <h2>Oyster 575</h2>
              <p>Experience unsurpassed in this class of deck saloon cruising yacht. The popular Oyster 575 offers effortless blue water cruising and exhilarating performance.</p><a class="button-solid-white">View Oyster 575 Overview</a>
            </div>
            <div class="slide slide-3 owl-item">
              <h2>Oyster 825</h2>
              <p>Refined combination of owner luxury and crew utility for six-star service. The new Oyster 825 is sure to attract acclaim wherever she goes.</p><a class="button-solid-white"> View Oyster 825 Overview</a>
            </div>
            <div class="slide slide-1 owl-item">
              <h2>Oyster 625</h2>
              <p>The triple award winning Oyster 625 is designed to bring some significant improvements to the already successful pedigree of the Oyster 61 and 62.</p><a class="button-solid-white">View Oyster 625 Overview</a>
            </div>
            <div class="slide slide-2 owl-item">
              <h2>Oyster 575</h2>
              <p>Experience unsurpassed in this class of deck saloon cruising yacht. The popular Oyster 575 offers effortless blue water cruising and exhilarating performance.</p><a class="button-solid-white">View Oyster 575 Overview</a>
            </div>
            <div class="slide slide-3 owl-item">
              <h2>Oyster 825</h2>
              <p>Refined combination of owner luxury and crew utility for six-star service. The new Oyster 825 is sure to attract acclaim wherever she goes.</p><a class="button-solid-white"> View Oyster 825 Overview </a>
            </div>
          </div>
          <div class="yacht-feature-large-media owl-carousel large-6 columns">
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/575.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/09-jueves-4383.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/brokerage_1.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/575.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/09-jueves-4383.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/brokerage_1.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/575.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/09-jueves-4383.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/brokerage_1.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/575.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/09-jueves-4383.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/brokerage_1.jpg')" class="slide-image"></div>
            </div>
          </div>
        </div>
        <div class="yacht-feature-small-media-container">
          <div class="yacht-feature-small-media owl-carousel small-4 columns">
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/625.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/charter_4.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/625.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/charter_4.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/625.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/charter_4.jpg')" class="slide-image"></div>
            </div>
          </div>
          <div class="yacht-feature-small-media owl-carousel small-4 columns">
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/about_us_4.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ54831.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/625.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/about_us_4.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ54831.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/625.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/about_us_4.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ54831.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/625.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
          </div>
          <div class="yacht-feature-small-media owl-carousel small-4 columns">
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/yachts_1.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/625.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/yachts_1.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/625.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/yachts_1.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <video loop>
                <source src="/assets/videos/625.mp4" type="video/mp4">
              </video>
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
            <div class="slide owl-item">
              <div style="background-image:url('/assets/images/_SUZ50421.jpg')" class="slide-image"></div>
            </div>
          </div>
        </div>
        <div class="yacht-feature-nav-points">
          <div class="nav-points owl-dots"></div>
        </div>
      </div>
    </section>
    <section class="staggered-features">
      <div class="row">
        <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/09-jueves-4383.jpg"></div>
        <div class="staggered-details medium-5 small-12 columns">
          <div class="staggered-details-contents">
            <h2>Get on Board</h2><a href="{path='brokerage'}" class="button-solid-white">Oyster Brokerage</a>
          </div>
        </div>
      </div>
      <div class="row staggered-row-reverse">
        <div class="staggered-details medium-5 small-12 columns">
          <div class="staggered-details-contents">
            <h2>Sail the Dream</h2><a href="{path='charter'}" class="button-solid-white">Oyster Charter </a>
          </div>
        </div>
        <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/_OYS0196.jpg"></div>
      </div>
      <div class="row">
        <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/_DSC4836.jpg"></div>
        <div class="staggered-details medium-5 small-12 columns">
          <div class="staggered-details-contents">
            <h2>Create Memories</h2><a href="{path='world-rally'}" class="button-solid-white">Oyster World Rally</a>
          </div>
        </div>
      </div>
    </section>
    <section class="news-preview">
      <div class="latest-title-container">
        <div class="row latest-title-contents">
          <div class="latest-title small-centered small-10 columns">
            <h2>Latest Oyster News //</h2>
          </div>
        </div>
      </div>
      <div class="row news-content">
        <div class="cheveron-nav cheveron-nav-left show-for-medium medium-1 columns"><i class="fa fa-angle-left"></i></div>
        <div class="news-slides medium-10 small-12 columns">
          <div class="owl-carousel">
            
            {exp:channel:entries channel="news|event_news" dynamic="no" disable="member_data|categories|category_fields|pagination|member_data" cache="yes" refresh="60" status="published" sort="desc" limit="3"}
            <div class="slide news-preview-text-container">
              <time datetime="{entry_date format="%Y-%m-%d %H:%i"}" class="text-uppercase columns medium-2 small-4"><span class="month-year">{entry_date format="%F"}</span><span class="date">{entry_date format="%d"}</span></time>
              <div class="snippet-title medium-10 small-8">
                <h3 class="text-uppercase">{title}</h3>
              </div>
              <div class="news-preview-text medium-10 small-12">
                
                {if channel_short_name == "news"}
                  {article_excerpt}
                  <a href="{url_title_path='news/article'}" class="read-more">Read More</a>
                {if:elseif channel_short_name == "event_news"}
                  {event_news_content}
                  {event_news_report status="published"}
                  {event_news_report:event_day_event status="published"}
                  <a href="{path='events/regattas/{event_news_report:event_day_event:url_title}'}" class="read-more">Read More</a>
                  {/event_news_report:event_day_event}
                  {/event_news_report}
                {/if}

              </div>
            </div>
            {/exp:channel:entries}

          </div>
        </div>
        <div class="cheveron-nav cheveron-nav-right show-for-medium medium-1 columns"><i class="fa fa-angle-right"></i></div>
      </div>
    </section>
    <section class="social-blocks row row-pad">
      <div class="row show-for-medium">
        <div class="column medium-3 social-slider"></div>
        <div class="column medium-3 social-slider"></div>
        <div class="column medium-3 social-slider"></div>
        <div class="column medium-3 social-slider"></div>
      </div>
      <div class="row">
        <div class="column medium-6 social-main-info">
          <div class="social-contents">
            <h2>#OysterYachts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="social-icons"><a href="https://www.facebook.com/oystermarine" target="_blank" class="facebook"><i class="fa fa-facebook-official"></i></a><a href="https://twitter.com/OysterMarine" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a><a href="https://www.youtube.com/user/oystermarine" target="_blank" class="youtube"><i class="fa fa-youtube-play"></i></a><a href="https://www.instagram.com/oysteryachts/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a></div>
          </div>
        </div>
        <div class="column medium-3 small-6 social-slider"></div>
        <div class="column medium-3 small-6 social-slider"></div>
      </div>
      <div class="row show-for-medium">
        <div class="column medium-3 social-slider"></div>
        <div class="column medium-3 social-slider"></div>
        <div class="column medium-3 social-slider"></div>
        <div class="column medium-3 social-slider"></div>
      </div>
    </section>

{footer}