 {exp:channel:entries channel="home" dynamic="no" disable="member_data|categories|category_fields|pagination|member_data" cache="yes" refresh="60" status="published" } {embed="site/.header" page_title="" entry_id="{entry_id}" snap_to=".hero-home .scroll-message-contents-wrapper" snap_offset="100"} {/exp:channel:entries}

{exp:channel:entries channel="home" dynamic="no" disable="member_data|categories|category_fields|pagination|member_data" cache="yes" refresh="60" status="published" }

  <section class="home carosel">
    <div class="carosel__pagination-wrap">
      <a class="carosel__link" data-index="0">
        {embed="site/paginator" idx="0"}
      </a>
      <a class="carosel__link" data-index="1">
        {embed="site/paginator" idx="1"}
      </a>
      <a class="carosel__link" data-index="2">
        {embed="site/paginator" idx="2"}
      </a>
      <a class="carosel__link" data-index="3">
        {embed="site/paginator" idx="3"}
      </a>
    </div>
     <div data-index="0" class="carosel__image-wrap">
      <div class="carosel__image" style="background-image: url('/assets/images/homepage/carousel_1_dreams_perfected.jpg');"></div>

      <div class="text-wrapper">
        <p class="text slide-title">
          <span class="slide-title__number">01</span>
          Yachts
        </p>
        <p class="text">
          Our yachts are proven through Ocean Adventures. We have 45 years and more than 40 million sailing miles of experience you can trust.
        </p>
        <p class="text">
          <a class="text__link" href="">
            Explore
            <span class="text__link__icon"></span>
          </a>
        </p>
      </div>
    </div>
    <div data-index="1" class="carosel__image-wrap">
      <div class="carosel__image" style="background-image: url('/assets/images/homepage/carousel_2_memories_in_the_making.jpg');"></div>

      <div class="text-wrapper">
        <p class="text slide-title">
          <span class="slide-title__number">01</span>
          Yachts
        </p>
        <p class="text">
          Our yachts are proven through Ocean Adventures. We have 45 years and more than 20 million sailing miles of experience you can trust.
        </p>
        <p class="text">
          <a class="text__link" href="">
            Explore
            <span class="text__link__icon"></span>
          </a>
        </p>
      </div>
    </div>
    <div data-index="2" class="carosel__image-wrap">
      <div class="carosel__image" style="background-image: url('/assets/images/homepage/carousel_3_oyster_745.jpg');"></div>

      <div class="text-wrapper">
        <p class="text slide-title">
          <span class="slide-title__number">02</span>
          Yachts
        </p>
        <p class="text">
          Our yachts are proven through Ocean Adventures. We have 45 years and more than 20 million sailing miles of experience you can trust.
        </p>
        <p class="text">
          <a class="text__link" href="">
            Explore
            <span class="text__link__icon"></span>
          </a>
        </p>
      </div>
    </div>
    <div data-index="3" class="carosel__image-wrap">
      <div class="carosel__image" style="background-image: url('/assets/images/homepage/carousel_4_palma_regatta.jpg');"></div>

      <div class="text-wrapper">
        <p class="text slide-title">
          <span class="slide-title__number">03</span>
          Yachts
        </p>
        <p class="text">
          Our yachts are proven through Ocean Adventures. We have 45 years and more than 20 million sailing miles of experience you can trust.
        </p>
        <p class="text">
          <a class="text__link" href="">
            Explore
            <span class="text__link__icon"></span>
          </a>
        </p>
      </div>
    </div>
  </section>
        
{footer}
