{embed="site/.header" snap_to="undefined" snap_offset="undefined"}

<section style="background-image: url('/assets/images/destinations.jpg'); " class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
      <div id="page-back-button" class="back-button"><a class="button-clear-white"><i class="fa fa-angle-left"></i>Back</a></div>
          <div class="share">
            <button class="share-icon tooltip-left share-icon-tooltip"><img src="/assets/images/share.png"></button>
                <ul class="share-list social-background hide">
                  <li class="twitter-icon"><a href="http://twitter.com/share?text=Check out this yacht! &amp;url=https://oysteryachts.com/&amp;hashtags=oysteryachts,boats,yachts" target="_blank" class="row collapse">
                      <div class="share-list-icon column small-3"><i class="fa fa-twitter"></i></div>
                      <div class="column small-9">Share on Twitter</div></a></li>
                  <li class="facebook-icon"><a href="https://www.facebook.com/sharer/sharer.php?u=http://oysteryachts.com" target="_blank" class="row collapse">
                      <div class="share-list-icon column small-3"><i class="fa fa-facebook"></i></div>
                      <div class="column small-9">Share on Facebook</div></a></li>
                  <li class="email-icon"><a href="mailto:?to=&amp;body=Here is the link: https://oysteryachts.com/,&amp;subject=Check out this yacht" target="_blank" class="row collapse">
                      <div class="share-list-icon column small-3"><i class="fa fa-envelope"></i></div>
                      <div class="column small-9">Share via Email</div></a></li>
                </ul>
          </div>
    </section>
    <section class="destination-overview global-padding-top-only--small">
      <div class="row row-pad">
        <div class="large-8 float">
          <h2>Oyster Charter</h2>
          <h1>Destinations</h1>
          <p>
            After the success of the inaugural Oyster World Rally, organised exclusively for the owners of Oyster yachts, the countdown to the Oyster World Rally 2017-19 has begun. The departure from Antigua is set for January 2017 and entries are invited by Spring 2016. With this fully-supported, 27,000 mile circumnavigation extended from 15 to 27 months and comprising four connecting stages, participants can look forward in this event to lengthier, more relaxed exploration of the Pacific and Asian islands, while also discovering more of New Zealand and Australia. Make your dreams come true and join the Oyster World Rally 2017-19.
            
          </p>
          <div class="further-info">
            <p>Oyster Charter enables you to sail the dream. Let us show you how we really can ‘make the world your Oyster’.  For further details on Charter destinations please contact Molly Marston - <a href="mailto:molly.marston@oysteryachts.com">molly.marston@oysteryachts.com</a></p>
          </div>
        </div>
        <div class="large-offset-1 large-3 float-left">
          <div class="sticky-sidebar">
                <aside class="overview-download columns show-for-large destinaitons-aside">
                  <h3 class="text-uppercase">Contact Molly Marston</h3>
                  <div class="overview-contents prev-models">
                    <section class="overview columns small-6 medium-12">
                      <ul>
                        <li><abbr title="Telephone">Tel: </abbr><a href="tel:+14018467400">+1 401 846 7400</a></li>
                        <li><abbr title="Fax">F: </abbr><a href="tel:+14018467483">+1 401 846 7483</a></li>
                        <li><abbr title="Email">E: </abbr><a href="mailto:charter@oysteryachts.com">charter@oysteryachts.com</a></li>
                        <li><abbr title="Email">E: </abbr><a href="mailto:molly.marston@oysteryachts.com">molly.marston@oysteryachts.com</a></li>
                      </ul>
                    </section>
                  </div>
                </aside>
          </div>
        </div>
      </div>
    </section>
    <section class="staggered-features">
      <div class="row">
        <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/09-jueves-4383.jpg"></div>
        <div class="staggered-details medium-5 small-12 columns">
          <div class="staggered-details-contents">
            <h2>Caribbean Islands</h2>
            <p>Introduction copy to the Caribbean... sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit ametelit. </p><a href="{path='charter/destinations/area'}" class="button-solid-white button-chubby">View Destination</a>
          </div>
        </div>
      </div>
      <div class="row staggered-row-reverse">
        <div class="staggered-details medium-5 small-12 columns">
          <div class="staggered-details-contents">
            <h2>Mediterranean</h2>
            <p>Introduction copy to the Caribbean... sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit ametelit.</p><a href="{path='charter/destinations/area'}" class="button-solid-white button-chubby">View Destination</a>
          </div>
        </div>
        <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/_OYS0196.jpg"></div>
      </div>
      <div class="row">
        <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/_DSC4836.jpg"></div>
        <div class="staggered-details medium-5 small-12 columns">
          <div class="staggered-details-contents">
            <h2>New England</h2>
            <p>Introduction copy to the Caribbean... sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit ametelit. </p><a href="{path='charter/destinations/area'}" class="button-solid-white button-chubby">View Destination</a>
          </div>
        </div>
      </div>
    </section>

{footer}