<div id="global-page-filters" data-local-subnav="data-local-subnav" class="filters">
	<div class="row row-pad">
		<div class="large-offset-1 large-10 end">
			<form id="filters-form" method="POST" action="{path='charter/fleet'}"{if embed:post == "true"} data-post="true"{/if}>
				<div class="filter-dropdown">
					<select id="filter-model" name="model" tabindex="-1" aria-hidden="true">
						<option value="">All models</option>
						{exp:query sql="
							SELECT DISTINCT cd.field_id_31 AS model 
							FROM exp_channel_data cd 
							LEFT JOIN exp_channel_titles ct 
								ON cd.entry_id = ct.entry_id 
							WHERE cd.channel_id=2 
								AND cd.field_id_31 != '---'
								AND ct.status = 'Published'
							ORDER BY cd.field_id_31 ASC"}
							<option value="{model}"{if post:model == model} selected="selected"{/if}>{model}</option>
						{/exp:query}
					</select>
				</div>
				<div class="filter-dropdown">
					<select id="filter-guests" name="guests" tabindex="-1" aria-hidden="true">
						<option value="">Any No. Guests</option>
						<option value="4"{if post:guests == "4"} selected="selected"{/if}>4 Guests</option>
						<option value="6"{if post:guests == "6"} selected="selected"{/if}>6 Guests</option>
						<option value="8"{if post:guests == "8"} selected="selected"{/if}>8 Guests</option>
					</select>
				</div>
				<div class="filter-dropdown">
					<select id="filter-season" name="season" tabindex="-1" aria-hidden="true">
						<option value="">All seasons</option>
						<option value="winter"{if post:season == "winter"} selected="selected"{/if}>Winter</option>
						<option value="summer"{if post:guests == "summer"} selected="selected"{/if}>Summer</option>
					</select>
				</div>
				<div class="filter-dropdown">
					<select id="filter-destination" name="destination" tabindex="-1" aria-hidden="true">
						<option value="">Any destination</option>
						{exp:query sql="
						SELECT DISTINCT cd.destination FROM
						(SELECT DISTINCT field_id_32 destination, entry_id FROM exp_channel_data WHERE channel_id=2 
						UNION
						SELECT DISTINCT field_id_33 destination, entry_id FROM exp_channel_data WHERE channel_id=2) cd
						LEFT JOIN exp_channel_titles ct 
							ON cd.entry_id = ct.entry_id 
						WHERE cd.destination != ''
							AND ct.status = 'Published'
						ORDER BY cd.destination ASC"}
							<option value="{destination}"{if post:destination == destination} selected="selected"{/if}>{destination}</option>
						{/exp:query}
					</select>
				</div>
				<a id="submit" href="#" class="button filters-submit">Search</a>
				<input type="hidden" name="csrf_token" value="{csrf_token}">
			</form>
		</div>
	</div>
</div>