<?php 

$filter = false;

if (isset($_POST['model'])) {
	if ($_POST['model'] !== "" && "{embed:model}" !== $_POST['model']) {
		$filter = true;
	}
}

if (isset($_POST['guests'])) {
	if ($_POST['guests'] !== "" && "{embed:guests}" !== $_POST['guests']) {
		$filter = true;
	}
}

if (isset($_POST['season'])) {
	$summer = "{embed:summer}";
	$winter = "{embed:winter}";

	if ($_POST['season'] !== "" && $$_POST['season'] === "") {
		$filter = true;
	}
}

if (isset($_POST['destination'])) {
	$summer = "{embed:summer}";
	$winter = "{embed:winter}";

	if (isset($_POST['season']) && $_POST['season'] !== "") {
		if ($$_POST['season'] !== $_POST['destination']) {
			$filter = true;
		}
	} else {
		if ($summer !== $_POST['destination'] && $winter !== $_POST['destination']) {
			$filter = true;
		}
	}
}

if ($filter) {
	echo ' hide';
}

?>