<section style="background-image: url('/assets/images/bg-images/charter-fleet-bg.png')" class="hero after-nav global-page-hero global-page-hero--medium">
	<div class="back-button">
		<a class="button-clear-white">
			<i class="fa fa-angle-left"></i>Back
		</a>
	</div>
	<div id="brokerage-filters" class="filters">
		<div class="row row-pad">
			<div class="large-offset-1 large-10 end">
				<div class="filter-dropdown">
					<select id="filter-model" tabindex="-1" aria-hidden="true">
						<option value="">All models</option>
						{exp:query sql="SELECT DISTINCT field_id_50 AS model FROM exp_channel_data WHERE channel_id=2 AND field_id_50 != '---' ORDER BY field_id_50 ASC"}
						<option vlaue="{model}">{model}</option>
						{/exp:query}
					</select>
				</div>
				<div class="filter-dropdown">
					<select id="filter-price" tabindex="-1" aria-hidden="true">
						<option value="">Any Price</option>
						<option vlaue="priceband1" data-price-max="250000">Under £250,000</option>
						<option vlaue="priceband2" data-price-min="250000" data-price-max="500000">£250,000 - £500,000</option>
						<option vlaue="priceband3" data-price-min="500000" data-price-max="1000000">£500,000 - £1,000,000</option>
						<option vlaue="priceband4" data-price-min="1000000" data-price-max="1500000">£1,000,000 - £1,500,000</option>
						<option vlaue="priceband5" data-price-min="1500000" data-price-max="2000000">£1,500,000 - £2,000,000</option>
						<option vlaue="priceband6" data-price-min="2000000">Over £2,000,000</option>
					</select>
				</div>
				<div tabindex="-1" aria-hidden="true" class="filter-dropdown">
					<select id="filter-location">
						<option value="">Any location</option>
						{exp:query sql="SELECT DISTINCT field_id_4 AS location FROM exp_channel_data WHERE channel_id=1 ORDER BY field_id_4 ASC"}
						<option vlaue="{location}">{location}</option>
						{/exp:query}
					</select>
				</div>
				<div tabindex="-1" aria-hidden="true" class="filter-dropdown">
					<select id="filter-status">
						<option value="">Any status</option>
						{exp:query sql="SELECT DISTINCT field_id_9 AS status FROM exp_channel_data WHERE channel_id=1 ORDER BY field_id_9 ASC"}
						<option vlaue="{status}">{status}</option>
						{/exp:query}
					</select>
				</div>
				<a id="submit" href="#" class="button">Search</a>
			</div>
		</div>
	</div>
</section>

<section class="page-fleet charter-fleet">
	<div class="banner">Charter Fleet</div>
	<div class="row row-pad content">
		<div id="yacht-grid" class="row">
			<ul>
				{exp:channel:entries channel="charter" disable="member_data|category_fields|pagination" cache="no" refresh="60" status="published" sort="desc"}
				<li class="column large-4 size-small{if count == total_results} end{/if}">
					<div class="listing-images">
						<a href="{url_title_path='charter/fleet'}">
							{charter_main_image}
							<span style="background-image:url('{image:url}');"></span>
							{/charter_main_image}
						</a>
					</div>
					<div class="listing-content">
						<table class="table listing-table feature-col">
							<tbody>
								<tr>
									<td class="title" colspan='2'>
										<a href="{url_title_path='charter/fleet'}"><span>{charter_model} </span>// {title}</a>
									</td>
								</tr>
								<tr>
									<td>Year: <span>{charter_year}</span></td>
									<td>Number of Guests: <span>{charter_guests}</span></td>
								</tr>
								<tr>
									<td>Summer: <span>{charter_summer}</span></td>
									<td>Winter: <span>{charter_winter}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					{share_buttons}
				</li>
				{/exp:channel:entries}
			</ul>
		</div>
	</div>
</section>