{header}

<section style="background-image: url('/assets/images/how-to-charter.jpg'); " class="hero after-nav global-page-hero global-page-hero--medium">
      {back_button}
          <div class="share"><img src="/assets/images/share.png">
          </div>
      <div id="yacht-nav" data-local-subnav="data-local-subnav" class="yacht-nav">
        <ul>
          <li class="active"><a href="#how-to-charter" class="scroll">How to Charter</a></li>
          <li><a href="#terms-extras" class="scroll">Terms &amp; Extras</a></li>
          <li><a href="#conditions" class="scroll">Conditions</a></li>
          <li><a href="" class="contact">Contact Charter</a></li>
        </ul>
        <section data-local-sidebar data-sticky-sidebar-at-bottom=".about-yacht" data-sticky-sidebar-offset="" class="sticky-sidebar-header hide float-right">
          <div class="header">
            <h4 class="text-uppercase float-left">lush overview</h4><i class="fa fa-angle-down float-right"></i>
          </div>
          <div class="contents">
            <table class="table definition-table charter-fleet-sidetable">
              <tbody>
                <tr>
                  <td colspan="2" class="heading">lush overview</td>
                </tr>
                <tr>
                  <td>Year:</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <td>No. Guests:</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>Summer:</td>
                  <td> Mediterranean</td>
                </tr>
                <tr>
                  <td>Winter:</td>
                  <td>Caribbean</td>
                </tr>
                <tr>
                  <td colspan="2">
                        <figure class="download-pdf"><img src="/assets/images/brochure-preview.jpg" class="download-thumb">
                          <div class="description-download">
                            <figcaption><a>Oyster 885 PDF Brochure</a><span>(2.3MB)</span><a href="" class="button-clear-invert text-uppercase">Download Brochure</a>
                            </figcaption>
                          </div>
                        </figure>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </section>
    <section id="how-to-charter" class="staggered-features">
      <div class="row staggered-row-reverse">
        <div class="staggered-details medium-7 small-12 columns">
          <div class="staggered-details-contents">
            <h2>Yacht Selection</h2>
            <p>The first step is to let us have as much information as possible so we can advise you on the best yacht for your holiday. We will need to know the dates when you wish to travel, your cruising area of choice, and number of guests in your charter party. We will then provide you with a list of available yachts, which would be suitable for you and your party. </p>
          </div>
        </div>
        <div class="staggered-image medium-5 small-12 columns"><img src="/assets/images/_OYS0196.jpg"></div>
      </div>
      <div class="row">
        <div class="staggered-image medium-7 small-12 columns"><img src="/assets/images/09-jueves-4383.jpg"></div>
        <div class="staggered-details medium-5 small-12 columns">
          <div class="staggered-details-contents">
            <h2>Agreement</h2>
            <p>The first step is to let us have as much information as possible so we can advise you on the best yacht for your holiday. We will need to know the dates when you wish to travel, your cruising area of choice, and number of guests in your charter party. We will then provide you with a list of available yachts, which would be suitable for you and your party.</p>
          </div>
        </div>
      </div>
      <div class="row staggered-row-reverse">
        <div class="staggered-details medium-7 small-12 columns">
          <div class="staggered-details-contents">
            <h2>Pay Balance</h2>
            <p>Six weeks prior to the commencement of your charter, Oyster Yacht Charter will request the balance payment and, if applicable, the Advance Provisioning Allowance (APA), plus any taxes delivery/redelivery fees and security deposit. The APA is forwarded to the Skipper of your Oyster to purchase provisions ready for your arrival.</p>
          </div>
        </div>
        <div class="staggered-image medium-5 small-12 columns"><img src="/assets/images/_DSC4836.jpg"></div>
      </div>
    </section>
    <section id="terms-extras" class="terms-extras">
      <div class="banner">Terms &amp; Extras</div>
      <div class="row">
        <table class="stack-override">
          <tbody>
            <tr>
              <td class="text-uppercase header-column">
                <h3>Costs:</h3>
              </td>
              <td>
                <div class="table-content large-10 medium-11 small-12 columns small-centered">
                  <p><strong>Inclusive of the charter fee is the yacht, and crew. Extra costs include, but are not limited to:</strong></p>
                  <p>Shoreside transport, Fuel for the main engines and generators, Fuel for tenders and water sports equipment, Food and all beverages for the Charter Party, Berthing fees and other harbour charges including pilots’ fees, Local taxes, Divers’ fees, Customs formalities, Any charges for waste disposal, Charges for water and electricity taken from shore, Ships’ agents’ fees where applicable, Personal laundry, Charter Party communications and internet use.</p>
                  <p>Caribbean Terms Contrary to. All terms, food is included in the charter fee.</p>
                  <p>When an APA is established for your charter, this is collected with your final balance. The APA is then forwarded to the Skipper of your Oyster to purchase provisions ready for your arrival.</p>
                  <p>
                    Costs accountable to the charterer that are incurred by the yacht are deducted from the APA and full accounts are provided at the end of the charter. At the end of the charter any remaining APA funds are returned to the charterer. Occasionally the APA may be insufficient, the Skipper will advise if additional funds are required.	
                    
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-uppercase header-column">
                <h3>Crew Gratuity:</h3>
              </td>
              <td>
                <div class="table-content large-10 medium-11 small-12 columns small-centered">
                  <p>The crew work long hours during the charter to ensure that you receive exemplary service during your holiday. It is customary to recognise the effort that the Captain and Crew have added to the charter by leaving a gratuity of between 10%-15% of the charter fee. This “tip” is left with the Captain before disembarking at the end of your charter.</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section id="conditions" class="conditions">
      <div class="banner">Conditions	</div>
      <div class="row">
        <table class="stack-override">
          <tbody>
            <tr>
              <td class="text-uppercase header-column">
                <h3>VAT / TVA / IVA:</h3>
              </td>
              <td>
                <div class="table-content large-10 medium-11 small-12 columns small-centered">
                  <p>Yachts operating within the EU may be required to collect Value Added Tax (VAT /TVA /IVA) on charter activity. The rates can vary from country to country (16-25%). Under EU Law this is normally payable by the charterer. However there are variations in the local application of VAT and in some jurisdictions qualifying vessels can be deemed to be exempt from this tax.</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-uppercase header-column">
                <h3>Smoking:</h3>
              </td>
              <td>
                <div class="table-content large-10 medium-11 small-12 columns small-centered">
                  <p>
                    Some Oyster yachts will allow smoking on deck only, please check with us for individual restrictions.
                    
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-uppercase header-column">
                <h3>Drugs and Weapons:</h3>
              </td>
              <td>
                <div class="table-content large-10 medium-11 small-12 columns small-centered">
                  <p>
                    Possession of drugs or weapons by any member of a charter party will result in the immediate termination of the charter without refund or recourse.
                    
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-uppercase header-column">
                <h3>Children:</h3>
              </td>
              <td>
                <div class="table-content large-10 medium-11 small-12 columns small-centered">
                  <p>
                    There are age limitations for young children on some Oysters for charter. On all yachts children must be accompanied at all times by a responsible adult within the charter party. The crew of the yacht cannot bemade responsible for children within the charter party at any time.
                    
                    
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-uppercase header-column">
                <h3>Travel Insurance:</h3>
              </td>
              <td>
                <div class="table-content large-10 medium-11 small-12 columns small-centered">
                  <p>
                    It is the responsibility of the charterer to arrange suitable travel insurance for the charter party. Special provision may be required to cover certain water sports eg water-skiing etc.
                    
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-uppercase header-column">
                <h3>Charter Disclaimer:</h3>
              </td>
              <td>
                <div class="table-content large-10 medium-11 small-12 columns small-centered">
                  <p>The yacht charters and their particulars displayed in the results above are displayed in good faith and whilst believed to be correct are not guaranteed. All information is subject to change without notice and is without warranty.</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>


{footer}