{exp:channel:entries channel="charter_landing_page" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" limit="1"}
{if no_results}{redirect="404"}{/if}

{embed="site/.header" snap_to=".hero #global-page-filters" snap_offset="55"}

<section style="background-image: url('{charter_header_image}{image:url}{/charter_header_image}')" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
{embed="charter/.filters" post="true"}
</section>

<section class="page-home-about charter-home-about">
	<div class="row padded-full-width-row">
		<div class="small-12 medium-3 large-2 large-offset-1 column about-heading"><span class="text-uppercase">
			{charter_intro_heading}
		</span></div>
		<div class="small-12 medium-9 large-8 end column intro">
			{charter_intro_content}
		</div>
	</div>
</section>

<section id="charter-home-local-nav" class="page-home-local-nav charter-home-local-nav">
	<div class="content row padded-full-width-row">
		<div class="small-12 medium-4 large-4 content-col">
			<a href="{path='charter/fleet'}" class="localnav-anchor">
				<div style="background-image: url('/assets/images/oysteryachts-charter-charter_fleet-feature.jpg')" class="feature-image"></div>
				<div class="feature-content">
					<h4>charter fleet</h4>
				</div>
			</a>
		</div>
		<div class="small-12 medium-4 large-4 content-col">
			<a href="{path='charter/guide'}" class="localnav-anchor">
				<div style="background-image: url('/assets/images/oysteryachts-charter-charter_guide-feature.jpg')" class="feature-image"></div>
				<div class="feature-content">
					<h4>Charter guide</h4>
				</div>
			</a>
		</div>
		<div class="small-12 medium-4 large-4 content-col">
			<a href="{path='charter/destinations'}" class="localnav-anchor">
				<div style="background-image: url('/assets/images/oysteryachts-charter-charter_destinations-feature.jpg')" class="feature-image"></div>
				<div class="feature-content">
					<h4>destinations</h4>
				</div>
			</a>
		</div>
	</div>
</section>


<section id="page-testimonials" class="quote-testimonials row">
	{charter_testimonials}
	<blockquote class="text-uppercase">
		<p>{charter_testimonials:testimonial}</p>
		<footer>
			<cite>{charter_testimonials:by_whom}</cite>
		</footer>
	</blockquote>
	{/charter_testimonials}
	<div class="nav-points"></div>
</section>


<section class="charter-home-featured-yachts">
	<div class="banner">featured yachts</div>
	<div class="row padded-full-width-row content">
		<div id="yacht-grid" class="row">
			<ul>
				{embed="charter/.featured" ids="{charter_featured_yachts:entry_ids}"}
			</ul>
		</div>
	</div>
</section>

<section class="charter-home-your-yacht">
	<div class="row padded-full-width-row">
		<div class="your-yacht-background">
			<div class="medium-6 medium-offset-5 column end">
				<div class="your-yacht-content">
					<h2 class="text-uppercase">INTERESTED IN CHARTERING YOUR YACHT</h2>
					<p>
						If you’re already an Oyster yacht owner and considering offering it for charter, we can assist you in making the most of this valuable opportunity. We provide a first class charter management service to owners of Oyster Yachts.

					</p><a href="" class="button-solid-white text-uppercase">CONTACT MOLLY MARSTON</a>
				</div>
			</div>
		</div>
	</div>
</section>

{footer}

{/exp:channel:entries}