{exp:channel:entries channel="charter_landing_page" disable="member_data|category_fields|pagination" cache="yes" refresh="60" status="published" limit="1"}
{if no_results}{redirect="404"}{/if}

{embed="site/.header" page_title="Charter" snap_to=".hero #global-page-filters" snap_offset="55"}

<article>
	{embed="site/.sub_bar-charter" page_title="Charter"}
	
	<section style="background-image: url('{charter_header_image}{image:url}{/charter_header_image}')" class="hero after-nav global-page-hero yacht-listing-photo global-page-hero--medium">
	{embed="charter/.filters" post="true"}
	</section>

	<section class="page-home-about charter-home-about">
		<div class="row padded-full-width-row">
			<div class="small-12 medium-3 large-2 large-offset-1 column"><span class="text-uppercase">
			<img src="/assets/images/oyster-charter-logo.svg" style="padding-top: 4px;"/>
			</span></div>
			<div class="small-12 medium-9 large-8 end column intro">
				{charter_intro_content}
			</div>
		</div>
	</section>

	<section id="page-testimonials" class="quote-testimonials row">
		{charter_testimonials}
		<blockquote>
			<p>{charter_testimonials:testimonial}</p>
			<footer>
				<cite>{charter_testimonials:by_whom}</cite>
			</footer>
		</blockquote>
		{/charter_testimonials}
	</section>


	<section class="charter-home-featured-yachts">
		<div class="banner">featured yachts</div>
		<div class="row padded-full-width-row content">
			<div id="yacht-grid" class="row sys-yacht-grid">
				<ul>
					{embed="charter/.featured" ids="{charter_featured_yachts:entry_ids}"}
				</ul>
			</div>
		</div>
	</section>

	<section class="charter-home-your-yacht">
		<div class="row padded-full-width-row">
			<div class="your-yacht-background">
				
				<div class="your-yacht-content medium-8 large-6 large-offset-5 medium-offset-4">
					<h2 class="text-uppercase">{yacht_charter_heading}</h2>
					<div class="your-yacht-contact-details">
						
						{mollys_description}
						<div class="contact-phone-email">
							<span class="contact-phone"><abbr title="Telephone">T: </abbr><a href="tel:{molly_telephone}">{molly_telephone}</a></span>
							<span class="contact-email"><abbr title="Email">E: </abbr><a href="mailto:{charter_email}">charter@oysteryachts.com</a></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</article>


{footer}

{/exp:channel:entries}