{#
//    ----------------------------------------
//      Status
//    ----------------------------------------
#}
<span style="color: #{{status_colors[entry.status]}}">{{entry.status|capitalize|t}}</span>
