/* line 1, scss/edit_form.scss */
.relate-actions {
  display: none !important;
}

/* line 5, scss/edit_form.scss */
.choice i {
  display: none !important;
}

/* line 9, scss/edit_form.scss */
.relate-wrap h4 {
  margin-bottom: 7px;
}

/* line 13, scss/edit_form.scss */
#continue {
  margin-left: 10px;
}

/* line 18, scss/edit_form.scss */
.relate-wrap.last .scroll-wrap.ui-sortable > label.choice {
  position: relative;
  padding: 9px 10px 9px 40px;
}
/* line 22, scss/edit_form.scss */
.relate-wrap.last .scroll-wrap.ui-sortable > label.choice > span.relate-reorder.ui-sortable-handle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  float: none;
}
